- content_for(:title) do
	= "Communication"
- content_for(:page_head) do
	= stylesheet_link_tag "sections/process"
	%meta{:name => "description", :content => "Involution Studios is a user interface and software design firm located in Boston. We create great user experiences for deskop, mobile, and web applications."}/
	%meta{:name => "keywords", :content => "boston user interface design, boston ui design, boston web application design, boston application design, boston mobile design, boston mobile application design, boston so"}/

.row
	%header.nav-menu
		%nav
			%a.nav-link{:href => asset_url('process')} Intro
			%a.nav-link{:href => asset_url('process/learning')} 1. Learning
			%a.nav-link{:href => asset_url('process/envision')} 2. Envision
			%a.nav-link{:href => asset_url('process/blueprint')} 3. Blueprint
			%a.nav-link{:href => asset_url('process/craft')} 4. Craft
			%a.nav-link{:href => asset_url('process/build')} 5. Build
			%a.nav-link{:href => asset_url('process/support')} 6. Support
			%a.nav-link.current{:href => asset_url('process/communication')} Communication
			%a.nav-link{:href => asset_url('process/training')} Training
%section.process-section.communication
	= image_tag('process/jpg/process7.jpg')
	%header.section-header
		%h1 Communcation
		%h2 Shared vision is the secret to great success.
	.section-content
		%h3 There&rsquo;s no such thing as too much good communication.
		%p Forging a cohesive shared vision and communicating it consistently is the key to successful projects of any kind. This gets more difficult the larger either the project or organization are: there are more complicated or competing factors that must be accounted for.
		%p Unlike much of our core process, communication work is relevant at every stage. This can be an explicit part of our work together where specialists from our team work with team members inside your company to strategize and execute on the appropriate communication plan to accompany our work together. It can also be a smaller and more implicit part, where we respond together to communication opportunities during our design, engineering and consulting work together.
		%p Communication tactics include:

		%h4 Visualizing.
		%p We can create gorgeous visualizations that communicate complex ideas and relationships in elegant, compelling ways.

		%h4 Reporting.
		%p Reports that weave together words and visuals to articulate business, market or experiential aspects of our work lets you socialize our work or integrate it into broader company initiatives.

		%h4 Facilitating.
		%p Complicated projects can lead to disagreement or indecision. Let us take the lead and help you get where you need to go.

		%h4 Internal Consulting.
		%p Our leadership has hashed it out in the executive suites and board rooms of the world&rsquo;s biggest companies. Bring us in to change the tone, uplevel the conversation, or provide cache.

		%h3 Communication makes the most of our work, along with raising morale and cohesiveness:
		%ul
			%li Tools that inspire and inform, getting everyone behind the work
			%li Outside perspective on interpersonal and organizational dynamics
			%li Objective voices to communicate things that challenge internal dogma
		%p Planned, carefully crafted, thoughtfully delivered communication is an integral part of great organizations. Make it part of yours.
%a.next{:href => asset_url('process/training')}
	%section.process-section.next-section
		%h3 Next step:
		%h1 Training
