- content_for(:title) do
  	= "Training"
- content_for(:page_head) do
	= stylesheet_link_tag "sections/process"
	%meta{:name => "description", :content => "Involution Studios is a user interface and software design firm located in Boston. We create great user experiences for deskop, mobile, and web applications."}/
  	%meta{:name => "keywords", :content => "boston user interface design, boston ui design, boston web application design, boston application design, boston mobile design, boston mobile application design, boston software design"}/

.row
	%header.nav-menu
		%nav
			%a.nav-link{:href => asset_url('work/process')} Intro
			%a.nav-link{:href => asset_url('work/process/learning')} 1. Learning
			%a.nav-link{:href => asset_url('work/process/envision')} 2. Envision
			%a.nav-link{:href => asset_url('work/process/blueprint')} 3. Blueprint
			%a.nav-link{:href => asset_url('work/process/craft')} 4. Craft
			%a.nav-link{:href => asset_url('work/process/build')} 5. Build
			%a.nav-link{:href => asset_url('work/process/support')} 6. Support
			%a.nav-link{:href => asset_url('work/process/communication')} Communication
			%a.nav-link.current{:href => asset_url('work/process/training')} Training
%section.process-section.training
	= image_tag('process/jpg/process8.jpg')
	%header.section-header
		%h1 Training
		%h2 Our best projects are the ones which make us redundant.
	.section-content
		%h3 As long as we&rsquo;re bringing you some fish, let us teach you how to catch your own.
		%p Our core services are a smart investment for making great things happen quickly. Our training services are the long-term investment, so you can enjoy similar value without an external cost in the future.
		%p Training happens in one of two ways: mentoring and teaching as we work side-by-side together, or more formal training that may not be part of a larger project. In either case this is more than just getting a shine from our working together: we&rsquo;re talking about a training process that is planned and designed to enhance the people you have. We give them the knowledge, experience, skills and tools to bring Involution&rsquo;s excellence to your company beyond the span of our engagement.
		%p The way our training looks depends on who we are training:

		%h4 1-on-1
		%p When you have one digital professional whom you want trained they will learn from one of our experts, selected for compatibility.

		%h4 Training Small Groups.
		%p Small groups have different compositions and different needs; these engagements can vary significantly based on your specific situation.

		%h4 Training Complete Teams.
		%p Training whole teams engages a member of our leadership who is a digital thought leader, potentially including other Invo experts to mentor specific skills and tools.

		%h4 Broader Cross-Team Training.
		%p Our team size and composition can fluctuate greatly but includes at least one member of leadership with other participants as well.

		%h3 Training gives you the ability to create your own significant future value:
		%ul
			%li Investing in key employees you want to build around
			%li Preparing groups to adopt our methods in future projects
			%li Training whole teams or across teams to build exceptional organizational infrastructure
		%p Take advantage of our time and work together to upgrade the capabilities of your critical people and teams.
%a{:href => asset_url('work')}
	%section.process-section.next-section
		%h3 See the process in action:
		%h1 View our work
