- content_for(:page_head) do
  = stylesheet_link_tag "sections/feature-article"
    
%article#feature-article.soccer
  %header.hero
    .row
      .medium-8.small-12.columns.small-centered
        .title
          %h2 World Cup History Visualized:
          %h3 84 years and 77 teams
  .row#mainContent
    .medium-8.small-12.columns
      %p For each of the 20 World Cup tournaments to date, every team that has competed at least once in the competition is assigned a value between 1 and 6 depending on their quality of play and impact on the tournament:
      %ol.ranking-explanation
        %li Champions. The winners of that World Cup, they are the only nation to be assigned a 1.
        %li Top Contenders. The runners-up, almost always include the third and fourth place teams, and sometimes go a little deeper to recognize exceptional performance.
        %li Competitive. Even if clearly behind the 1s and 2s, played hard and with some lucky bounces may themselves have won the tournament.
        %li Credible. Do not appear to have any reasonable possibility of winning the tournament but were generally worthy opponents.
        %li Overmatched. Not competitive with the clubs above them, typically losing all of their group games.
        %li Did not play.
      %p Particularly in the earliest World Cups the sample sizes are very small. Our rankings reflect just what happened in the competition, not considering reputations or other “what-if’s”. So it is more of an objective record - using a subjective system - to evaluate the arc of different nations over the course of World Cup history, with the intention of telling the story of the tournament as well as the nations who compete for it.
      %p There are two different views of the data:
      %ul.view-explanaton
        %li Yearly Rating - showing how each nation performed in each World Cup
        %li All-Time Rating - showing the average rating for each nation during the selected date range
      %p There are a variety of controls for choosing which teams to view, any date range you prefer, and “playing” the data as a narrative story. Please enjoy.
    .medium-2.small-12.columns
      %p 
  .row#dataViz
    <iframe src="http://code.goinvo.com/soccer" width="100%" height="900px"></iframe> ****Javascript the height of this & link of below, css the width of this row ******
    %p.caption.country-comb-explanation-link Read our explanation for splitting and combining countries.
    #caption.country-comb-explanation
      %p Thanks to political changes World Cup nations would combine into one larger nation or break into a variety of smaller ones. In some cases, then, we have only one entry that is covering the historical legacy of nations with different names. Here are the nations so effected:
      %ul.split-nations
        %li China - reflects all teams that include the name “China” regardless of political affiliation
        %li Czech Republic - includes the impressive legacy of Czechoslovakia
        %li Germany - includes the total performance of “Germany” (1930-1938; 1994-present) and “West Germany” (1950-1990)
        %li Russia - includes the impressive legacy of the Soviet Union
        %li Serbia - Includes the performance of “Serbia & Montenegro” in 2006
        %li Yugoslavia - while Yugoslavia no longer exists none of the successor nations have a primacy that seems worthy of their solid World Cup history. So they remain their own, independent entry
  .row#section-intro
    .medium-8.small-12.columns
      %p Nearly a billion people watch the final game of the FIFA World Cup. That is more than 10% of the global population, all tuning in to the same sporting event at the same time. By comparison, just over 111 million people viewed the most-watched Super Bowl, the annual American football championship. The World Cup is a sporting event unlike any other, a unifying moment that brings nations from around the world together.
      