- content_for(:page_head) do
  = stylesheet_link_tag "sections/feature-article"
    
%article#feature-article.soccer
  %header.hero
    .row
      .medium-8.small-12.columns.small-centered
        .title
          %h2 World Cup History Visualized:
          %h3 84 years and 77 teams
  .row#mainContent
    .medium-7.small-12.columns
      %p For each of the 20 World Cup tournaments to date, every team that has competed at least once in the competition is assigned a value between 1 and 6 depending on their quality of play and impact on the tournament:
      %ol.ranking-explanation
        %li Champions. The winners of that World Cup, they are the only nation to be assigned a 1.
        %li Top Contenders. The runners-up, almost always include the third and fourth place teams, and sometimes go a little deeper to recognize exceptional performance.
        %li Competitive. Even if clearly behind the 1s and 2s, played hard and with some lucky bounces may themselves have won the tournament.
        %li Credible. Do not appear to have any reasonable possibility of winning the tournament but were generally worthy opponents.
        %li Overmatched. Not competitive with the clubs above them, typically losing all of their group games.
        %li Did not play.
      %p Particularly in the earliest World Cups the sample sizes are very small. Our rankings reflect just what happened in the competition, not considering reputations or other “what-if’s”. So it is more of an objective record - using a subjective system - to evaluate the arc of different nations over the course of World Cup history, with the intention of telling the story of the tournament as well as the nations who compete for it.
      %p There are two different views of the data:
      %ul.view-explanaton
        %li Yearly Rating - showing how each nation performed in each World Cup
        %li All-Time Rating - showing the average rating for each nation during the selected date range
      %p There are a variety of controls for choosing which teams to view, any date range you prefer, and “playing” the data as a narrative story. Please enjoy.
    .medium-1.small-12.columns
      %p
    .medium-4.small-12.columns
      %p 
  .row#dataViz
    <iframe src="http://code.goinvo.com/soccer" width="100%" height="900px"></iframe> ****Javascript the height of this & link of below, css the width of this row ******
    %p.caption.country-comb-explanation-link Read our explanation for splitting and combining countries.
    #caption.country-comb-explanation
      %p Thanks to political changes World Cup nations would combine into one larger nation or break into a variety of smaller ones. In some cases, then, we have only one entry that is covering the historical legacy of nations with different names. Here are the nations so effected:
      %ul.split-nations
        %li China - reflects all teams that include the name “China” regardless of political affiliation
        %li Czech Republic - includes the impressive legacy of Czechoslovakia
        %li Germany - includes the total performance of “Germany” (1930-1938; 1994-present) and “West Germany” (1950-1990)
        %li Russia - includes the impressive legacy of the Soviet Union
        %li Serbia - Includes the performance of “Serbia & Montenegro” in 2006
        %li Yugoslavia - while Yugoslavia no longer exists none of the successor nations have a primacy that seems worthy of their solid World Cup history. So they remain their own, independent entry
  .row#section-intro
    .medium-7.small-12.columns
      %h2 Introduction
      %p Nearly a billion people watch the final game of the FIFA World Cup. That is more than 10% of the global population, all tuning in to the same sporting event at the same time. By comparison, just over 111 million people viewed the most-watched Super Bowl, the annual American football championship. The World Cup is a sporting event unlike any other, a unifying moment that brings nations from around the world together.
      %p However, whereas other team sports often seem as focused on their history as their present and future, the history of the World Cup has not been afforded the same attention. Yes, many of us know that Brazil holds a record five titles, followed by Italy’s four and Germany’s three. But just behind those three top powers are Argentina with two titles and—perhaps surprisingly for some—Uruguay with two titles as well. The only other nations to have won a World Cup are England, France, and Spain (the old colonial powers grouped together once again). Yes, only nations from South America and Europe have ever won the World Cup. More than that, no nation from any other continent has ever finished in the top three.¹
    .medium-1.small-12.columns
      %p
    .medium-4.small-12.columns
      %p 1. FIFA credited the United States as the third place finisher in 1930. However, this was retroactively mandated more than 60 years later in an attempt to standardize record keeping. In 1930 both the U.S. and Yugoslavia lost in the semi-finals and did not have a third place match. The Yugoslavians claimed to have a trophy that actually awarded them third place since they lost to the eventual winners, Uruguay. This claim has never been substantiated. Regardless, the United States does not have a reasonable claim on third place and should be discounted.
  .row#section-intro
    .medium-7.small-12.columns
      %p Other fun facts? With the exception of 1958, when Brazil won the World Cup tournament held in Sweden, every time a European nation hosts, a European nation wins. And every time a South American nation hosts, a South American nation wins. In addition, the host nation has won six out of 19 times, which is remarkable considering how few different nations have won the tournament in its history. If you’re the gambling type you should consider host nation Brazil the heaviest of favourites for the 2014 World Cup. They would be one of the top few teams even without playing within their own friendly borders. Or, if you’d like a little more risk, try Chile, Colombia, or Uruguay as long shots with the continental advantage on their side. Betting on anyone else other than the exceptional Argentinian, Spanish, and German teams is a sucker’s bet even though any outcome is technically possible.
      %p But enough with the present. Bah, humbug to the present. This article is about the past. Which are the best teams in World Cup history? Yes, it’s true that the list of winners alone gives some pretty important clues. But some exceptional footballing nations have been sublime in the tournament yet never held aloft the final hardware.
      %p We’re going to present our top 10 World Cup nations of all time, along with an overview of their history in the contest, which team was that nation’s best over the years, and our pick for their all-time starting World Cup XI players. So, with that, let’s take a look at the 10 best nations in World Cup history!
    .medium-1.small-12.columns
      %p
    .medium-4.small-12.columns
      %p
.row.article-nav
  %ul.the-article-nav
    %li <a href = "#section-intro">Intro</a>
    %li <a href = "#section-ten">#10</a>
    %li <a href = "#section-nine">#9</a>
    %li <a href = "#section-eight">#8</a>
    %li <a href = "#section-seven">#7</a>
    %li <a href = "#section-six">#6</a>
    %li <a href = "#section-five">#5</a>
    %li <a href = "#section-four">#4</a>
    %li <a href = "#section-three">#3</a>
    %li <a href = "#section-two">#2</a>
    %li <a href = "#section-one">#1</a>
.row#section-ten
  .medium-7.small-12.columns
    %h2 10. Hungary
    %p The last time Hungary qualified for the World Cup was in 1986, almost 30 years ago, when they were wholly uncompetitive. The fact they remain one of the best nations in World Cup history emphasizes the excellence of their clubs from the 1930s through the 1960s. Indeed, if we had conducted this analysis in 1966, Hungary would have been a strong consideration for any of the top three spots.
    %p After not being invited to the inaugural 1930 World Cup Hungary advanced to the quarterfinals in 1934, losing to perhaps the best Austrian team of all time. In 1938 they thrashed their opponents by scores of 6-0, 2-0, and 5-1 before falling in the finals to defending champion Italy, 4-2. A tradition of quality was established that would pick up after World War II in an even bigger way.
    %p Like most European nations, Hungary did not travel to Brazil for the 1950 World Cup. This was indeed a tragedy, as their 1950 team was as good as any in the world. The Hungarian teams of this era were literally playing a different game than their opposition, using innovative tactics combed with their incredible talent base to outclass the rest of the field. Going into the 1954 World Cup they had not lost a game in over four years. First they beat an overmatched South Korean team 9-0. Then they pounded another pre-tournament favourite, West Germany, 8-3. In the quarterfinals they comfortably beat a young and exceptional Brazil team 4-2. In the semifinals they defeated the defending champions Uruguay 4-2, albeit in extra time. When it was time for the finals they again came up against the West German club they had soundly defeated in the group stage. This time Germany replaced half of the players in their lineup from the first game: legend has it that Germany threw the game in the group stage in order to avoid having to play a dangerous Brazil team in the quarterfinals. The Hungarians were hardly bothered by the new configuration, racing out to a 2-0 lead in the first eight minutes behind goals from Ferenc Puskas and Zoltan Czibor. Unfortunately, Germany responded with resolve and tied the game by the 18th minute. Heartbreak struck at minute 84 with a third German goal, and the finest Hungarian team ever—a candidate for the best World Cup team ever—suffered a shocking upset.
  .medium-1.small-12.columns
    %p
  .medium-4.small-12.columns
    %p Sándor Kocsis and Ferenc Puskás led Hungary in the 1950s, perhaps the greatest international team of their time.
    %p [INSERT IMAGE HERE]
.row
  .medium-7.small-12.columns
    %p The Hungarian Revolution of 1956 prematurely shattered the “Magnificent Magyars,” dismantling a legendary team. Still, the strength of the Hungarian programme  shone through. In 1958 they were the best team in their group but failed to advance, due to archaic point and tiebreaker rules: Wales, with no wins or losses and three draws—two goals for and against—advanced, while Hungary had one win, one loss, and one draw with the six goals for and three against. In Chile 1962 they had sour luck again, winning their group in dominant fashion (including over an England team that would win the next World Cup in 1966) before drawing a Czechoslovakian team that would advance all the way to the finals, losing to them in a tight game, 1-0. In the 1966 tournament Hungary advanced out of a group of death, eliminating two-time defending champion Brazil in the process, and finishing behind the best Portuguese team ever. However, in the quarterfinals they drew the best-ever Soviet Union team and lost a tightly contested game 2-1. If not for running into outdated rules and an improbable string of “best-ever” entries from different nations, Hungary might have won any of those tournaments.
    %p After 1966 the party was over. They failed to qualify in 1970 and 1974, were not competitive in 1978 or 1986, and played well but failed to emerge from the group stage in 1982. Since 1986 Hungary has not qualified for the tournament.
    %p Sometime soon Hungary will be displaced from our list of the best nations in World Cup history. The social and financial decay suffered by the Hungarian nation during decades of Soviet control created a death spiral for the once-proud footballing power. It is a shame, as the longer Hungary remains irrelevant in international football the less meaning those Magnificent Magyars have in the consciousness of the sport. While the legends of Pele’s Brazil, Cruyff’s Netherlands, and Maradona’s Argentina only grow as the years wind forward, most have forgotten Kocsis’ Team Hungary. I venture to say that few could even pronounce his name. But what if they had been part of the World Cup in 1950? What if a late goal in the 1954 final by Ferenc Puskás had not been disallowed? What if the Hungarian Revolution of 1956 had never happened? If any of those things had turned out differently, we might today revere the great Hungarian stars of the era in a way more fitting of their exceptional abilities and achievements.
    .team-stats
      %h4 Team Statistics
      %ul.stat-label
        %li GP
        %li W
        %li D
        %li L
        %li GF
        %li GA
      %ul.stat-data
        %li 32
        %li 15
        %li 3
        %li 14
        %li 87
        %li 57
      %h4 Best Team
      %p 1954, 2nd Place
      %h4 Starting XI
      %ul.starting-xi
        %li GK - Gyula Grosics (1947-1962)
        %li DF - Mihály Lantos (1949-1956)
        %li DF - Kálmán Mészöly (1961-1971)
        %li DF - László Bálint (1972-1982)
        %li *MF - Sándor Kocsis (1948-1956)
        %li *MF - Ferenc Puskás (1945-1956)
        %li MF - Nándor Hidegkuti (1945-1958)
        %li MF - György Sárosi (1931-1943)
        %li MF - József Bozsik (1947-1962)
        %li FW - Lajos Tichy (1955-1971)
        %li FW - Gyula Zsengellér (1936-1947)
.row.article-nav
  %ul.the-article-nav
    %li <a href = "#section-intro">Intro</a>
    %li <a href = "#section-ten">#10</a>
    %li <a href = "#section-nine">#9</a>
    %li <a href = "#section-eight">#8</a>
    %li <a href = "#section-seven">#7</a>
    %li <a href = "#section-six">#6</a>
    %li <a href = "#section-five">#5</a>
    %li <a href = "#section-four">#4</a>
    %li <a href = "#section-three">#3</a>
    %li <a href = "#section-two">#2</a>
    %li <a href = "#section-one">#1</a>
.row.article-nav
  %ul.the-article-nav
    %li <a href = "#section-intro">Intro</a>
    %li <a href = "#section-ten">#10</a>
    %li <a href = "#section-nine">#9</a>
    %li <a href = "#section-eight">#8</a>
    %li <a href = "#section-seven">#7</a>
    %li <a href = "#section-six">#6</a>
    %li <a href = "#section-five">#5</a>
    %li <a href = "#section-four">#4</a>
    %li <a href = "#section-three">#3</a>
    %li <a href = "#section-two">#2</a>
    %li <a href = "#section-one">#1</a>
.row#section-nine
  .medium-7.small-12.columns
    %h2 9. Netherlands
    %p The lovable losers of World Cup football, the Netherlands have never won the tournament but achieved runner-up status three times. Like Hungary, they’ve only been relevant for about half the history of the World Cup, but in the Netherlands’ case they are ascendant, rising to power in the early 1970s behind Johan Cruyff and the concept of Total Football.
    %p Prior to exploding onto the World Cup stage in 1974 the Netherlands qualified for the tournament only twice, in 1934 and 1938, both times losing their first game and being immediately eliminated. Still, this humble background makes the 1974 campaign all the more remarkable. Through the group stage and the second round—which in 1974 was another group-style round robin—the Netherlands emerged with five wins and one draw with 14 goals scored and just one allowed. This put them into a final with West Germany. After racing out to a 1-0 lead in the second minute they watched their opponents score twice later in the first half and hang on to win 2-1. This 1974 West German team was perhaps the best in their long and storied World Cup history, unfortunate for a Netherlands that just happened to peak at the wrong moment.
  .medium-1.small-12.columns
    %p
  .medium-4.small-12.columns
    %p Temperamental and transcendent, Johan Cruyff was spectacular in leading the Netherlands’ “Total Football” approach but came up just short in the 1974 World Cup.
    %p [INSERT IMAGE HERE]
.row
  .medium-7.small-12.columns
    %p In 1978, without Cruyff, the Netherlands again finished second and this time to an up-and-coming Argentinian squad. They actually hobbled out of the group stage finishing second to Peru with uninspired play. This landed them in a second round group of death with defending champion West Germany and an Italy squad that would win in 1982. Here they showed their class by soundly thumping the group and earning their place into the final. Trailing 1-0 late they tied the game in the 82nd minute pushing the game into extra time. Unfortunately for them, Argentina scored 14 minutes into extra time, along with a third goal at the very end. Given the heavy advantage to the hosting nation it is seductive to think about what would have happened in a neutral setting. Or if Johan Cruyff had been participating.
    %p After the golden generation of 1970s World Cup football, the Netherlands went dark in the 1980s. Returning in 1990 they drew all three games in the group stage, advancing to the knockouts on a tiebreaker where they were beaten by eventual champions West Germany. In 1994 they were one of three teams with identical records to emerge from the group with two wins and one loss, a weak group with the likes of Belgium, Morocco, and Saudi Arabia. They defeated the Republic of Ireland 2-0 in the round of 16 before losing a thrilling game to eventual champion Brazil, 3-2. Then, in 1998 they had their best result since 1978, winning two and drawing one in the group stage before beating Yugoslavia and then Argentina by identical 2-1 scores in the knockouts. In the semifinals they played bravely in battling Brazil to a draw before losing on penalty kicks. In the third place game they lost 2-1 to the best Croatian team ever in the tournament.
    %p After failing to qualify in 2002, the Netherlands returned to the competition in 2006, emerging from Group C behind Argentina. In the round of 16 they lost 1-0 to the best Portuguese team in World Cup history, who would go on to finish fourth, in a violent game with 16 yellow cards assessed. In 2010, infused with dynamic-if-temperamental young talent, Netherlands rolled over a weak Group E before taking aim on the group stages. After beating Slovakia 2-1 in a game that was not as close as the final score the Netherlands came back from a 1-0 deficit to Brazil to beat them 2-1. In the semis they handled Uruguay 3-2 is a game that, again, was not as close as the score line indicated. This led to a showdown with Spain, already by consensus the best team in Europe if not yet the superpower that they would become. Netherlands played a physical (many said unsporting) game to try and negate the athletic and skill advantage of Spain. These tactics succeeded, keeping the scoreline at 0-0 heading into extra time. Finally Andreas Iniesta scored in the 116th minute to push Spain over in the waning minutes, heartbreak for a Netherlands increasingly accustomed to that brand of pain.
    .team-stats
      %h4 Team Statistics
      %ul.stat-label
        %li GP
        %li W
        %li D
        %li L
        %li GF
        %li GA
      %ul.stat-data
        %li 43
        %li 22
        %li 10
        %li 11
        %li 71
        %li 44
      %h4 Best Team
      %p 1974, Runner Up
      %h4 Starting XI
      %ul.starting-xi
        %li GK - Edwin van der Sar (1995-2008)
        %li DF - Ruud Krol (1969-1983)
        %li DF - Frank de Boer (1990-2004)
        %li DF - Giovanni van Bronckhorst (1996-2010)
        %li *MF - Johan Cruyff (1966-1977)
        %li MF - Johan Neeskens (1970-1981)
        %li MF - Puck van Heel (1925-1938)
        %li MF - Frank Rijkaard (1981-1994)
        %li MF - Ruud Gullit (1981-1994)
        %li FW - Dennis Bergkamp (1990-2000)
        %li FW - Marco Van Basten (1983-1992)
  .medium-1.small-12.columns
    %p
  .medium-4.small-12.columns
    %p Netherlands striker Wesley Sneijder tied for the most goals scored in the 2010 World Cup with five, falling just short of leading his nation to their first title.
    %p [INSERT IMAGE]
.row.article-nav
  %ul.the-article-nav
    %li <a href = "#section-intro">Intro</a>
    %li <a href = "#section-ten">#10</a>
    %li <a href = "#section-nine">#9</a>
    %li <a href = "#section-eight">#8</a>
    %li <a href = "#section-seven">#7</a>
    %li <a href = "#section-six">#6</a>
    %li <a href = "#section-five">#5</a>
    %li <a href = "#section-four">#4</a>
    %li <a href = "#section-three">#3</a>
    %li <a href = "#section-two">#2</a>
    %li <a href = "#section-one">#1</a>  
.row#section-eight
  .medium-7.small-12.columns
    %h2 8. France
    %p France is the foundational nation in the early structural history of the World Cup. <em>Fédération Internationale de Football Association</em> (FIFA), the organization that governs the World Cup, was founded in Paris in 1904. They supplied the legendary “Victory” trophy to be given to the tournament winner, later renamed the Jules Rimet Trophy after its designer. France scored the first goal and won the first game in World Cup history, defeating Mexico 4-1. Other nations played better football in the early years but France was instrumental in enabling those early years to happen.
    %p France was mediocre in the early World Cups, participating in just four of the first five, including hosting in 1938, with an overall record of three wins, five losses, and a draw. They both scored and allowed 13 goals during this period.
    %p In the later 1950s the first world-class French team emerged, entering the 1958 World Cup and finishing in third place. Just Fontaine scored 13 goals in the competition, a competition record that stands to this day. Other than being drubbed 5-2 in the semi-finals by eventual champion Brazil, France romped, winning four of their other five games and scoring 21 goals while allowing just 10. They defeated West Germany in the third place game by a 6-3 score that was less competitive than even that gaudy score line. Their rise was splendid, but short-lived.
  .medium-1.small-12.columns
    %p
  .medium-4.small-12.columns
    %p Sublime French striker Just Fontaine scored 13 goals—still the record—in the 1958 World Cup.
    %p [INSERT IMAGE HERE]
.row
  .medium-7.small-12.columns
    %p France qualified for only three of the next six World Cups. The last of these, 1982, marked the beginning of another ascendent French programme. After emerging from their group despite indifferent play they won their second round group going away, albeit against weak Austrian and Northern Ireland teams. However, in the semifinals, West Germany took revenge for 1958 by winning a 3-3 game on penalty kicks. A strong Polish team beat France by a goal in the third place game as well. 
    %p Expectations were appropriately high in 1986 and the team did not disappoint. France easily emerged from Group C behind a good Soviet team on goal differential while beating up on poor entries from Canada and Hungary. In 1986 the second round onward were all knockout games and France faced a brutal path as they defeated defending champion Italy 2-0 and snuck by perennial powerhouse Brazil 1-1 on penalty kicks. Then, in the semifinals, France again fell to West Germany, this time by a clear 2-0 margin. Unlike in 1958 they won the third place game, against Belgium, 4-2 in extra time. This France team also won the EURO Championship in 1984 and were led by Michel Platini, a transcendent attacking midfielder and all-time great passer and strong finisher.
  .medium-1.small-12.columns
    %p
  .medium-4.small-12.columns
    %p The 1998 French National Team was in transition: the leaders were holdovers from the least successful World Cup generation in French history, while the emerging stars would see France to a decade of being among the best squads in the world.
    %p [INSERT IMAGE HERE]
.row
  .medium-7.small-12.columns
    %p After the high of 1986 the team failed to qualify for the World Cups in 1990 and 1994. This lull was leading up to the greatest of all highs, the legendary French teams of Zinedine Zidane. Returning to the World Cup in 1998 as the host nation after a 12-year absence, this French team was still the team of long-suffering captain Didier Deschamps. After winning their three group games with nine goals scored against and just one allowed, France had a difficult time in the group stages, defeating Paraguay 1-0 in extra time, getting past Italy on penalty kicks after a 0-0 battle, and then defeating perhaps the best-ever Croatian team 2-1 after trailing in the second half. After all of the narrow victories the championship game was hardly a formality against yet another excellent Brazil, but it turned into a coronation as France thrashed Canarinho 3-0.
    %p Despite being heavy favourites, France crashed out of the 2002 World Cup without scoring a goal in the group stage. In 2006, seen as the last gasp for this generation of French football, they were fortunate to get out of a weak Group G before handling Spain (3-1), Brazil (1-0), and Portugal (1-0) before the final game in Berlin. Les Bleus were famously defeated by Italy after Zidane was assessed a red card for head-butting an Italian who was antagonizing him and losing on penalty kicks after playing to a 1-1 draw. 
  .medium-1.small-12.columns
    %p
  .medium-4.small-12.columns
    %p The best player of his generation, Zinedine Zidane is unfortunately remembered for his last international game, receiving a red card in the 2006 World Cup Finals to doom the French effort in a game he had been exceptional in.
    %p [INSERT IMAGE HERE]
.row
  .medium-7.small-12.columns
    %p In 2010 France perhaps hit their World Cup low point with the team facing an ugly public mutiny and finishing last in a very weak Group A. Now, heading into 2014, France is playing well and might be considered a dark horse in the tournament if it were being hosted someplace other than South America.
    %p France appeared in the first World Cup and, despite not qualifying a number of times over the years, has been a consistent part of the tournament. Their three strong cycles improved over the years, with a competitive 1958 team followed up by a consistently good team in the 1980s and finally the emergence of a world-championship-caliber club from 1998 through 2006. Combined with their role in the World Cup’s foundation and development, France plays an important role in its history.
    .team-stats
      %h4 Team Statistics
      %ul.stat-label
        %li GP
        %li W
        %li D
        %li L
        %li GF
        %li GA
      %ul.stat-data
        %li 54
        %li 25
        %li 11
        %li 18
        %li 96
        %li 68
      %h4 Best Team
      %p 1998, Champions (First Title)
      %h4 Starting XI
      %ul.starting-xi
        %li GK - Fabien Barthez (1994-2006)
        %li DF - Robert Jonquet (1948-1960)
        %li DF - Laurent Blanc (1989-2000)
        %li DF - Lilian Thuram (1994-2008)
        %li DF - Marcel Desailly (1993-2004)
        %li *MF - Zinedine Zidane (1994-2006)
        %li *MF - Michel Platini (1976-1987)
        %li MF - Raymond Kopa (1952-1962)
        %li MF - Didier Deschamps (1989-2000)
        %li FW - Thierry Henry (1997-2010)
        %li FW - Just Fontaine (1953-1960)
  .medium-1.small-12.columns
    %p
  .medium-4.small-12.columns
    %p Netherlands striker Wesley Sneijder tied for the most goals scored in the 2010 World Cup with five, falling just short of leading his nation to their first title.
    %p [INSERT IMAGE]
.row.article-nav
  %ul.the-article-nav
    %li <a href = "#section-intro">Intro</a>
    %li <a href = "#section-ten">#10</a>
    %li <a href = "#section-nine">#9</a>
    %li <a href = "#section-eight">#8</a>
    %li <a href = "#section-seven">#7</a>
    %li <a href = "#section-six">#6</a>
    %li <a href = "#section-five">#5</a>
    %li <a href = "#section-four">#4</a>
    %li <a href = "#section-three">#3</a>
    %li <a href = "#section-two">#2</a>
    %li <a href = "#section-one">#1</a>         