- content_for(:page_head) do
	= stylesheet_link_tag "sections/feature-article"
	= javascript_include_tag "featurenav"

%article#feature-article.soccer
	%header.hero
		.title
			%h2 World Cup History Visualized:
			%h3 84 years and 77 teams
	#content
		.row
			%p For each of the 20 World Cup tournaments to date, every team that has competed at least once in the competition is assigned a value between 1 and 6 depending on their quality of play and impact on the tournament:
			%ol.ranking-explanation
				%li Champions. The winners of that World Cup, they are the only nation to be assigned a 1.
				%li Top Contenders. The runners-up, almost always include the third and fourth place teams, and sometimes go a little deeper to recognize exceptional performance.
				%li Competitive. Even if clearly behind the 1s and 2s, played hard and with some lucky bounces may themselves have won the tournament.
				%li Credible. Do not appear to have any reasonable possibility of winning the tournament but were generally worthy opponents.
				%li Overmatched. Not competitive with the clubs above them, typically losing all of their group games.
				%li Did not play.
			%p Particularly in the earliest World Cups the sample sizes are very small. Our rankings reflect just what happened in the competition, not considering reputations or other &ldquo;what-if&rsquo;s&rdquo;. So it is more of an objective record&mdash;using a subjective system&mdash;to evaluate the arc of different nations over the course of World Cup history, with the intention of telling the story of the tournament as well as the nations who compete for it.
			%p There are two different views of the data:
			%ul.view-explanaton
				%li Yearly Rating: showing how each nation performed in each World Cup
				%li All-Time Rating: showing the average rating for each nation during the selected date range
			%p There are a variety of controls for choosing which teams to view, any date range you prefer, and &ldquo;playing&rdquo; the data as a narrative story. Please enjoy.
		#dataViz
			%iframe{:src => "http://code.goinvo.com/soccer", :seamless => "", "scrolling" => "no"}
		.row
			#caption.country-comb-explanation
				%p Thanks to political changes World Cup nations would combine into one larger nation or break into a variety of smaller ones. In some cases, then, we have only one entry that is covering the historical legacy of nations with different names. Here are the nations affected:
				%ul.split-nations#section-intro
					%li China: reflects all teams that include the name &ldquo;China&rdquo; regardless of political affiliation
					%li Czech Republic: includes the impressive legacy of Czechoslovakia
					%li Germany: includes the total performance of &ldquo;Germany&rdquo; (1930-1938; 1994-present) and &ldquo;West Germany&rdquo; (1950-1990)
					%li Russia: includes the impressive legacy of the Soviet Union
					%li Serbia: Includes the performance of &ldquo;Serbia &amp; Montenegro&rdquo; in 2006
					%li Yugoslavia: while Yugoslavia no longer exists none of the successor nations have a primacy that seems worthy of their solid World Cup history. So they remain their own, independent entry
		%h1#title The 10 Best Nations in World Cup History
		.article-nav
			%p Sections:
			%ul.the-article-nav
				%li <a href="#intro" data-section-index="0">Intro</a>
				%li <a href="#hungary" data-section-index="10">10. Hungary</a>
				%li <a href="#netherlands" data-section-index="9">9. Netherlands</a>
				%li <a href="#france" data-section-index="8">8. France</a>
				%li <a href="#england" data-section-index="7">7. England</a>
				%li <a href="#spain" data-section-index="6">6. Spain</a>
				%li <a href="#uruguay" data-section-index="5">5. Uruguay</a>
				%li <a href="#argentina" data-section-index="4">4. Argentina</a>
				%li <a href="#italy" data-section-index="3">3. Italy</a>
				%li <a href="#germany" data-section-index="2">2. Germany</a>
				%li <a href="#brazil" data-section-index="1">1. Brazil</a>
		.content-container
			%section.row#sec0
				%h2 Introduction
				%p Nearly a billion people watch the final game of the FIFA World Cup. That is more than 10% of the global population, all tuning in to the same sporting event at the same time. By comparison, just over 111 million people viewed the most-watched Super Bowl, the annual American football championship. The World Cup is a sporting event unlike any other, a unifying moment that brings nations from around the world together.
				%p However, whereas other team sports often seem as focused on their history as their present and future, the history of the World Cup has not been afforded the same attention. Yes, many of us know that Brazil holds a record five titles, followed by Italy&rsquo;s four and Germany&rsquo;s three. But just behind those three top powers are Argentina with two titles and&mdash;perhaps surprisingly for some&mdash;Uruguay with two titles as well. The only other nations to have won a World Cup are England, France, and Spain (the old colonial powers grouped together once again). Yes, only nations from South America and Europe have ever won the World Cup. More than that, no nation from any other continent has ever finished in the top three.<sup>1</sup
				%aside.sidebar.left
					%p 1. FIFA credited the United States as the third place finisher in 1930. However, this was retroactively mandated more than 60 years later in an attempt to standardize record keeping. In 1930 both the U.S. and Yugoslavia lost in the semi-finals and did not have a third place match. The Yugoslavians claimed to have a trophy that actually awarded them third place since they lost to the eventual winners, Uruguay. This claim has never been substantiated. Regardless, the United States does not have a reasonable claim on third place and should be discounted.
				%p Other fun facts? With the exception of 1958, when Brazil won the World Cup tournament held in Sweden, every time a European nation hosts, a European nation wins. And every time a South American nation hosts, a South American nation wins. In addition, the host nation has won six out of 19 times, which is remarkable considering how few different nations have won the tournament in its history. If you&rsquo;re the gambling type you should consider host nation Brazil the heaviest of favourites for the 2014 World Cup. They would be one of the top few teams even without playing within their own friendly borders. Or, if you&rsquo;d like a little more risk, try Chile, Colombia, or Uruguay as long shots with the continental advantage on their side. Betting on anyone else other than the exceptional Argentinian, Spanish, and German teams is a sucker&rsquo;s bet even though any outcome is technically possible.
				%p But enough with the present. Bah, humbug to the present. This article is about the past. Which are the best teams in World Cup history? Yes, it&rsquo;s true that the list of winners alone gives some pretty important clues. But some exceptional footballing nations have been sublime in the tournament yet never held aloft the final hardware.
				%p We&rsquo;re going to present our top 10 World Cup nations of all time, along with an overview of their history in the contest, which team was that nation&rsquo;s best over the years, and our pick for their all-time starting World Cup XI players. So, with that, let&rsquo;s take a look at the 10 best nations in World Cup history!
			%section.row#sec10
				%h2 10. Hungary
				%p The last time Hungary qualified for the World Cup was in 1986, almost 30 years ago, when they were wholly uncompetitive. The fact they remain one of the best nations in World Cup history emphasizes the excellence of their clubs from the 1930s through the 1960s. Indeed, if we had conducted this analysis in 1966, Hungary would have been a strong consideration for any of the top three spots.
				%p After not being invited to the inaugural 1930 World Cup Hungary advanced to the quarterfinals in 1934, losing to perhaps the best Austrian team of all time. In 1938 they thrashed their opponents by scores of 6-0, 2-0, and 5-1 before falling in the finals to defending champion Italy, 4-2. A tradition of quality was established that would pick up after World War II in an even bigger way.
				%p Like most European nations, Hungary did not travel to Brazil for the 1950 World Cup. This was indeed a tragedy, as their 1950 team was as good as any in the world. The Hungarian teams of this era were literally playing a different game than their opposition, using innovative tactics combed with their incredible talent base to outclass the rest of the field. Going into the 1954 World Cup they had not lost a game in over four years. First they beat an overmatched South Korean team 9-0. Then they pounded another pre-tournament favourite, West Germany, 8-3. In the quarterfinals they comfortably beat a young and exceptional Brazil team 4-2. In the semifinals they defeated the defending champions Uruguay 4-2, albeit in extra time. When it was time for the finals they again came up against the West German club they had soundly defeated in the group stage. This time Germany replaced half of the players in their lineup from the first game: legend has it that Germany threw the game in the group stage in order to avoid having to play a dangerous Brazil team in the quarterfinals. The Hungarians were hardly bothered by the new configuration, racing out to a 2-0 lead in the first eight minutes behind goals from Ferenc Puskas and Zoltan Czibor. Unfortunately, Germany responded with resolve and tied the game by the 18th minute. Heartbreak struck at minute 84 with a third German goal, and the finest Hungarian team ever&mdash;a candidate for the best World Cup team ever&mdash;suffered a shocking upset.
				%aside.sidebar.right.image
					%img{:src => "../../images/features/world-cup/hungary-1.jpg"}/
					%p.caption Sándor Kocsis and Ferenc Puskás led Hungary in the 1950s, perhaps the greatest international team of their time.
				%p The Hungarian Revolution of 1956 prematurely shattered the &ldquo;Magnificent Magyars,&rdquo; dismantling a legendary team. Still, the strength of the Hungarian programme  shone through. In 1958 they were the best team in their group but failed to advance, due to archaic point and tiebreaker rules: Wales, with no wins or losses and three draws&mdash;two goals for and against&mdash;advanced, while Hungary had one win, one loss, and one draw with the six goals for and three against. In Chile 1962 they had sour luck again, winning their group in dominant fashion (including over an England team that would win the next World Cup in 1966) before drawing a Czechoslovakian team that would advance all the way to the finals, losing to them in a tight game, 1-0. In the 1966 tournament Hungary advanced out of a group of death, eliminating two-time defending champion Brazil in the process, and finishing behind the best Portuguese team ever. However, in the quarterfinals they drew the best-ever Soviet Union team and lost a tightly contested game 2-1. If not for running into outdated rules and an improbable string of &ldquo;best-ever&rdquo; entries from different nations, Hungary might have won any of those tournaments.
				%p After 1966 the party was over. They failed to qualify in 1970 and 1974, were not competitive in 1978 or 1986, and played well but failed to emerge from the group stage in 1982. Since 1986 Hungary has not qualified for the tournament.
				%p Sometime soon Hungary will be displaced from our list of the best nations in World Cup history. The social and financial decay suffered by the Hungarian nation during decades of Soviet control created a death spiral for the once-proud footballing power. It is a shame, as the longer Hungary remains irrelevant in international football the less meaning those Magnificent Magyars have in the consciousness of the sport. While the legends of Pele&rsquo;s Brazil, Cruyff&rsquo;s Netherlands, and Maradona&rsquo;s Argentina only grow as the years wind forward, most have forgotten Kocsis&rsquo; Team Hungary. I venture to say that few could even pronounce his name. But what if they had been part of the World Cup in 1950? What if a late goal in the 1954 final by Ferenc Puskás had not been disallowed? What if the Hungarian Revolution of 1956 had never happened? If any of those things had turned out differently, we might today revere the great Hungarian stars of the era in a way more fitting of their exceptional abilities and achievements.
				.section-footer
					.col1
						%h4 Team Stats
						%table.team-stats
							%tbody
								%tr
									%td GP
									%td W
									%td D
									%td L
									%td GF
									%td GA
								%tr
									%td 32
									%td 15
									%td 3
									%td 14
									%td 87
									%td 57
						%h4 Best Team
						%p 1954, 2nd Place
					.col2
						%h4 Starting XI
						%table.starting-xi
							%tbody
								%tr
									%td GK
									%td Gyula Grosics (1947-1962)
								%tr
									%td DF
									%td Mihály Lantos (1949-1956)
								%tr
									%td DF
									%td Kálmán Mészöly (1961-1971)
								%tr
									%td DF
									%td László Bálint (1972-1982)
								%tr
									%td *MF
									%td Sándor Kocsis (1948-1956)
								%tr
									%td *MF
									%td Ferenc Puskás (1945-1956)
								%tr
									%td MF
									%td Nándor Hidegkuti (1945-1958)
								%tr
									%td MF
									%td György Sárosi (1931-1943)
								%tr
									%td MF
									%td József Bozsik (1947-1962)
								%tr
									%td FW
									%td Lajos Tichy (1955-1971)
								%tr
									%td FW
									%td Gyula Zsengellér (1936-1947)
						%p#caption * Indicates one of the finest footballers of all-time
			%section.row#sec9
				%h2 9. Netherlands
				%p The lovable losers of World Cup football, the Netherlands have never won the tournament but achieved runner-up status three times. Like Hungary, they&rsquo;ve only been relevant for about half the history of the World Cup, but in the Netherlands&rsquo; case they are ascendant, rising to power in the early 1970s behind Johan Cruyff and the concept of Total Football.
				%p Prior to exploding onto the World Cup stage in 1974 the Netherlands qualified for the tournament only twice, in 1934 and 1938, both times losing their first game and being immediately eliminated. Still, this humble background makes the 1974 campaign all the more remarkable. Through the group stage and the second round&mdash;which in 1974 was another group-style round robin&mdash;the Netherlands emerged with five wins and one draw with 14 goals scored and just one allowed. This put them into a final with West Germany. After racing out to a 1-0 lead in the second minute they watched their opponents score twice later in the first half and hang on to win 2-1. This 1974 West German team was perhaps the best in their long and storied World Cup history, unfortunate for a Netherlands that just happened to peak at the wrong moment.
				%aside.sidebar.left.image
					%img{:src => "../../images/features/world-cup/netherlands-1.jpg"}/
					%p.caption Temperamental and transcendent, Johan Cruyff was spectacular in leading the Netherlands&rsquo; &ldquo;Total Football&rdquo; approach but came up just short in the 1974 World Cup.
				%p In 1978, without Cruyff, the Netherlands again finished second and this time to an up-and-coming Argentinian squad. They actually hobbled out of the group stage finishing second to Peru with uninspired play. This landed them in a second round group of death with defending champion West Germany and an Italy squad that would win in 1982. Here they showed their class by soundly thumping the group and earning their place into the final. Trailing 1-0 late they tied the game in the 82nd minute pushing the game into extra time. Unfortunately for them, Argentina scored 14 minutes into extra time, along with a third goal at the very end. Given the heavy advantage to the hosting nation it is seductive to think about what would have happened in a neutral setting. Or if Johan Cruyff had been participating.
				%p After the golden generation of 1970s World Cup football, the Netherlands went dark in the 1980s. Returning in 1990 they drew all three games in the group stage, advancing to the knockouts on a tiebreaker where they were beaten by eventual champions West Germany. In 1994 they were one of three teams with identical records to emerge from the group with two wins and one loss, a weak group with the likes of Belgium, Morocco, and Saudi Arabia. They defeated the Republic of Ireland 2-0 in the round of 16 before losing a thrilling game to eventual champion Brazil, 3-2. Then, in 1998 they had their best result since 1978, winning two and drawing one in the group stage before beating Yugoslavia and then Argentina by identical 2-1 scores in the knockouts. In the semifinals they played bravely in battling Brazil to a draw before losing on penalty kicks. In the third place game they lost 2-1 to the best Croatian team ever in the tournament.
				%aside.sidebar.right.image
					%img{:src => "../../images/features/world-cup/netherlands-2.jpg"}/
					%p.caption Netherlands striker Wesley Sneijder tied for the most goals scored in the 2010 World Cup with five, falling just short of leading his nation to their first title.
				%p After failing to qualify in 2002, the Netherlands returned to the competition in 2006, emerging from Group C behind Argentina. In the round of 16 they lost 1-0 to the best Portuguese team in World Cup history, who would go on to finish fourth, in a violent game with 16 yellow cards assessed. In 2010, infused with dynamic-if-temperamental young talent, Netherlands rolled over a weak Group E before taking aim on the group stages. After beating Slovakia 2-1 in a game that was not as close as the final score the Netherlands came back from a 1-0 deficit to Brazil to beat them 2-1. In the semis they handled Uruguay 3-2 is a game that, again, was not as close as the score line indicated. This led to a showdown with Spain, already by consensus the best team in Europe if not yet the superpower that they would become. Netherlands played a physical (many said unsporting) game to try and negate the athletic and skill advantage of Spain. These tactics succeeded, keeping the scoreline at 0-0 heading into extra time. Finally Andreas Iniesta scored in the 116th minute to push Spain over in the waning minutes, heartbreak for a Netherlands increasingly accustomed to that brand of pain.
				%p Today, the Netherlands is correctly seen as one of the half-dozen consistently best footballing nations in the world.
				.section-footer
					.col1
						%h4 Team Stats
						%table.team-stats
							%tbody
								%tr
									%td GP
									%td W
									%td D
									%td L
									%td GF
									%td GA
								%tr
									%td 43
									%td 22
									%td 10
									%td 11
									%td 71
									%td 44
						%h4 Best Team
						%p 1974, Runner Up
					.col2
						%h4 Starting XI
						%table.starting-xi
							%tbody
							%tr
								%td GK
								%td Edwin van der Sar (1995-2008)
							%tr
								%td DF
								%td Ruud Krol (1969-1983)
							%tr
								%td DF
								%td Frank de Boer (1990-2004)
							%tr
								%td DF
								%td Giovanni van Bronckhorst (1996-2010)
							%tr
								%td *MF
								%td Johan Cruyff (1966-1977)
							%tr
								%td MF
								%td Johan Neeskens (1970-1981)
							%tr
								%td MF
								%td Puck van Heel (1925-1938)
							%tr
								%td MF
								%td Frank Rijkaard (1981-1994)
							%tr
								%td MF
								%td Ruud Gullit (1981-1994)
							%tr
								%td FW
								%td Dennis Bergkamp (1990-2000)
							%tr
								%td FW
								%td Marco Van Basten (1983-1992)
			%section.row#sec8
				%h2 8. France
				%p France is the foundational nation in the early structural history of the World Cup. <em>Fédération Internationale de Football Association</em> (FIFA), the organization that governs the World Cup, was founded in Paris in 1904. They supplied the legendary &ldquo;Victory&rdquo; trophy to be given to the tournament winner, later renamed the Jules Rimet Trophy after its designer. France scored the first goal and won the first game in World Cup history, defeating Mexico 4-1. Other nations played better football in the early years but France was instrumental in enabling those early years to happen.
				%p France was mediocre in the early World Cups, participating in just four of the first five, including hosting in 1938, with an overall record of three wins, five losses, and a draw. They both scored and allowed 13 goals during this period.
				%p In the later 1950s the first world-class French team emerged, entering the 1958 World Cup and finishing in third place. Just Fontaine scored 13 goals in the competition, a competition record that stands to this day. Other than being drubbed 5-2 in the semi-finals by eventual champion Brazil, France romped, winning four of their other five games and scoring 21 goals while allowing just 10. They defeated West Germany in the third place game by a 6-3 score that was less competitive than even that gaudy score line. Their rise was splendid, but short-lived.
				%aside.sidebar.image.left
					%img{:src => "../../images/features/world-cup/france-1.jpg"}/
					%p.caption Sublime French striker Just Fontaine scored 13 goals&mdash;still the record&mdash;in the 1958 World Cup.
				%p France qualified for only three of the next six World Cups. The last of these, 1982, marked the beginning of another ascendent French programme. After emerging from their group despite indifferent play they won their second round group going away, albeit against weak Austrian and Northern Ireland teams. However, in the semifinals, West Germany took revenge for 1958 by winning a 3-3 game on penalty kicks. A strong Polish team beat France by a goal in the third place game as well.
				%p Expectations were appropriately high in 1986 and the team did not disappoint. France easily emerged from Group C behind a good Soviet team on goal differential while beating up on poor entries from Canada and Hungary. In 1986 the second round onward were all knockout games and France faced a brutal path as they defeated defending champion Italy 2-0 and snuck by perennial powerhouse Brazil 1-1 on penalty kicks. Then, in the semifinals, France again fell to West Germany, this time by a clear 2-0 margin. Unlike in 1958 they won the third place game, against Belgium, 4-2 in extra time. This France team also won the EURO Championship in 1984 and were led by Michel Platini, a transcendent attacking midfielder and all-time great passer and strong finisher.
				%aside.sidebar.image.right
					%img{:src => "../../images/features/world-cup/france-2.jpg"}/
					%p.caption The 1998 French National Team was in transition: the leaders were holdovers from the least successful World Cup generation in French history, while the emerging stars would see France to a decade of being among the best squads in the world.
				%p After the high of 1986 the team failed to qualify for the World Cups in 1990 and 1994. This lull was leading up to the greatest of all highs, the legendary French teams of Zinedine Zidane. Returning to the World Cup in 1998 as the host nation after a 12-year absence, this French team was still the team of long-suffering captain Didier Deschamps. After winning their three group games with nine goals scored against and just one allowed, France had a difficult time in the group stages, defeating Paraguay 1-0 in extra time, getting past Italy on penalty kicks after a 0-0 battle, and then defeating perhaps the best-ever Croatian team 2-1 after trailing in the second half. After all of the narrow victories the championship game was hardly a formality against yet another excellent Brazil, but it turned into a coronation as France thrashed Canarinho 3-0.
				%p Despite being heavy favourites, France crashed out of the 2002 World Cup without scoring a goal in the group stage. In 2006, seen as the last gasp for this generation of French football, they were fortunate to get out of a weak Group G before handling Spain (3-1), Brazil (1-0), and Portugal (1-0) before the final game in Berlin. Les Bleus were famously defeated by Italy after Zidane was assessed a red card for head-butting an Italian who was antagonizing him and losing on penalty kicks after playing to a 1-1 draw.
				%aside.sidebar.image.left
					%img{:src => "../../images/features/world-cup/france-3.jpg"}/
					%p.caption The best player of his generation, Zinedine Zidane is unfortunately remembered for his last international game, receiving a red card in the 2006 World Cup Finals to doom the French effort in a game he had been exceptional in.
				%p In 2010 France perhaps hit their World Cup low point with the team facing an ugly public mutiny and finishing last in a very weak Group A. Now, heading into 2014, France is playing well and might be considered a dark horse in the tournament if it were being hosted someplace other than South America.
				%p France appeared in the first World Cup and, despite not qualifying a number of times over the years, has been a consistent part of the tournament. Their three strong cycles improved over the years, with a competitive 1958 team followed up by a consistently good team in the 1980s and finally the emergence of a world-championship-caliber club from 1998 through 2006. Combined with their role in the World Cup&rsquo;s foundation and development, France plays an important role in its history.
				.section-footer
					.col1
						%h4 Team Stats
						%table.team-stats
							%tbody
								%tr
									%td GP
									%td W
									%td D
									%td L
									%td GF
									%td GA
								%tr
									%td 54
									%td 25
									%td 11
									%td 18
									%td 96
									%td 68
						%h4 Best Team
						%p 1998, Champions (First Title)
					.col2
						%h4 Starting XI
						%table.starting-xi
							%tbody
							%tr
								%td GK
								%td Fabien Barthez (1994-2006)
							%tr
								%td DF
								%td Robert Jonquet (1948-1960)
							%tr
								%td DF
								%td Laurent Blanc (1989-2000)
							%tr
								%td DF
								%td Lilian Thuram (1994-2008)
							%tr
								%td DF
								%td Marcel Desailly (1993-2004)
							%tr
								%td *MF
								%td Zinedine Zidane (1994-2006)
							%tr
								%td *MF
								%td Michel Platini (1976-1987)
							%tr
								%td MF
								%td Raymond Kopa (1952-1962)
							%tr
								%td MF
								%td Didier Deschamps (1989-2000)
							%tr
								%td FW
								%td Thierry Henry (1997-2010)
							%tr
								%td FW
								%td Just Fontaine (1953-1960)
			%section.row#sec7
				%h2 7. England
				%p As France was foundational in the formation of the World Cup, so was England foundational in creating the very sport of football and organizing the first tournaments for international play. From the informal game of the middle ages, to the establishment of club teams in the 1700s, to the formation of The Football Association (FA) in October 1863, the roots are deep. But most directly important to the evolution of the World Cup, and often forgotten in the history of international football, is the British Home Championship.
				%p First contested in 1884, the British Home Championship pitted England, Scotland, Ireland, and Wales in a round robin tournament. Each nation played each other one time in a shared group and the winner was determined by a points system: 2 points granted for a win, 1 for a draw, and zero for a loss. This 2-points-win system was the world standard for over 100 years until shifting to the modern 3-point victory system. While the provinciality of the British Home Championship might seem to to have precluded its being treated as a major tournament, at that time it was the only international tournament going, and was for more than 30 years. As a result, the British Championship serves as the origin point for competitive international football.
				%p Now, as for England&rsquo;s World Cup History: their exceptionalism comes from being consistently mediocre over the 84-year history of the tournament, to go with their lone championship in 1966. That might sound like damning with faint praise, but simply qualifying for and participating in 14 of the 19 competitions held is an achievement only exceeded by five other nations. As they are also only one of eight nations to have won the tournament their inclusion among the top 10 should not surprise anyone. Perhaps the only  surprising thing is the way that their actual performance compares with the quality and history that the media typically associates with them.
				%p Despite having strong international teams in the 1930s England did not participate in any of those three tournaments thanks to internal politics. Somewhere, a long-dead English bureaucrat deserves to be cursed for such short-sightedness. When they debuted in 1950 England failed to emerge from the group stage, one of three teams with a single win to go with two losses behind an indifferent Spain that nonetheless managed to hammer the rest of the group. In 1954 England won their group, another weak one, before being cast aside by Uruguay 4-2 to begin the knockout stage. In 1958 they played competitively but failed to get out of Group 4 losing a playoff against the Soviet Union. This indifferent play climaxed at the 1962 World Cup in Chile for which they failed to qualify.
				%p All of this was just leading up to the 1966 World Cup, which was hosted by England. Their finest team peaked at the perfect moment. England did not allow a goal while scoring just four in winning their weak Group 1. In the knockout stage they scored a late goal to get over a down Argentina 1-0 in the first game. Then, facing a strong Portugal in the semifinals, Bobby Charlton&rsquo;s two goals led them to a 2-1 victory. In the final they defeated an excellent West Germany team 4-2 in extra time under controversial circumstances. After Germany scored in the 89th minute to force the game to extra time Geoff Hurst scored his second goal, remembered as the &ldquo;Wembley Goal,&rdquo; where the ball famously did not cross the line and should not have been awarded. However, to erase any doubt, Hurst finished his hat trick just as time was about to expire, giving England their greatest football triumph.
				%aside.sidebar.image.right
					%img{:src => "../../images/features/world-cup/england-1.jpg"}/
					%p.caption Many of England&rsquo;s best-ever players came together at the same time, as Bobby Moore led an excellent team to the 1966 World Cup title.
				%p Fresh off the afterglow of their 1966 victory, in 1970 England drew into a tough Group 3, finishing behind the Brazil team that would go on to win the title. In their first knockout game they faced a revenge-minded Germany who beat them 3-2 in extra time. England failed to qualify for the next two World Cups, returning with an ascendent new generation in 1982. They romped over Group 4 before drawing into a &ldquo;group of death&rdquo; in the second round against West Germany and an excellent Spain side. England played both games to scoreless draws and did not advance. In Mexico 1986 they advanced out of a poor Group F behind Morocco. After defeating Paraguay in the round of 16 they ran into the eventual Argentine champions in the quarterfinals and lost 2-1 on two of Maradona&rsquo;s most famous goals, the &ldquo;Hand of God&rdquo; and the goal where he carried the ball through midfield, past five defenders and into the net. Finally, in 1990, England traveled to Italy and narrowly won a competitive Group F against weak entries from all of Egypt, the Netherlands, and the Republic of Ireland. Their true spirit showed in the knockout stage, however, beating first Belgium (1-0) and then Cameroon (3-2) in extra time before drawing eventual champions West Germany 1-1 and losing on penalty kicks. They were then defeated 2-1 by their Italian hosts in the third place game.
				%aside.sidebar.image.left
					%img{:src => "../../images/features/world-cup/england-2.jpg"}/
					%p.caption While the 1986 World Cup is remembered as the Diego Maradona show, England&rsquo;s Gary Lineker was actually the leading scorer with six goals.
				%p England did not qualify for the World Cup in the United States in 1994, returning for the 1998 competition in France. They managed to advance out of Group G behind Romania before drawing Argentina and losing on penalty kicks in the round of 16. In 2002 they came second in their group again, this time behind Sweden in a difficult group also including their Argentine rivals, whom they defeated 1-0 to go over them. Once in the knockout stages they showed their class in dispatching Denmark by a decisive 3-0 score before taking the lead against eventual champion Brazil, finally falling 2-1. In 2006 the contest moved to Germany, where England was in another weak group and this time won it over Sweden, along with Paraguay and Trinidad and Tobago. They handled Ecuador 1-0 behind a David Beckham strike in the 60th minute before losing to an excellent Portugal side on penalty kicks in the quarterfinals. Most recently, in 2010, England finished behind the United States in another weak group. That result put them in the round of 16 against an excellent Germany team that easily beat them 4-1.
				%p England&rsquo;s performance in World Cup history is both among the finest in tournament history while also being well behind the top four teams in particular, who knocked them out in many key moments over the years. Still, England will always have 1966 and can count on qualifying in most years and fielding a competitive team when they do. Along with their place as the inventors of football and international tournaments like those that inspired the World Cup, England deserves a prominent place in the history of the competition.
				.section-footer
					.col1
						%h4 Team Stats
						%table.team-stats
							%tbody
								%tr
									%td GP
									%td W
									%td D
									%td L
									%td GF
									%td GA
								%tr
									%td 59
									%td 26
									%td 19
									%td 14
									%td 77
									%td 52
						%h4 Best Team
						%p 1966, Champions (First Title)
					.col2
						%h4 Starting XI
						%table.starting-xi
							%tbody
							%tr
								%td *GK
								%td Gordon Banks (1963-1972)
							%tr
								%td *DF
								%td Bobby Moore (1962-1973)
							%tr
								%td DF
								%td Ashley Cole (2001-2014)
							%tr
								%td DF
								%td Eddie Hapgood (1930-1939)
							%tr
								%td DF
								%td Stuart Pearce (1987-1999)
							%tr
								%td *MF
								%td Bobby Charlton (1958-1970)
							%tr
								%td MF
								%td Steven Gerrard (2000-?)
							%tr
								%td MF
								%td Stanley Matthews (1934-1957)
							%tr
								%td MF
								%td Bryan Robson (1980-1991)
							%tr
								%td FW
								%td Gary Lineker (1984-1992)
							%tr
								%td FW
								%td Geoff Hurst (1966-1972)
			%section.row#sec6
				%h2 6. Spain
				%p Prior to the current, transcendent Spanish team, La Furia Roja were viewed in the same light as the Netherlands: generally competitive, sometimes exceptional, but never able to earn the sport&rsquo;s highest crown. However, by defeating the Netherlands in 2010, Spain broke through to join the royalty of the sport and change their tale to one of consistent strength and success.
				%p That is, at least since 1978. Prior to that World Cup, Spain had qualified just four times out of the 10 contests held. Since then they have qualified every time, a perennial power. They won their first game against Brazil in the 1934 World Cup before falling to eventual champions and hosts Italy 1-0 in a replay after first playing to a 1-1 tie. They returned to the World Cup in 1950 in Brazil, trouncing a weak group with England, Chile, and the United States before underwhelming in the round-robin-style final round, offsetting a 2-2 draw with eventual champion Uruguay with heavy losses to Brazil (6-1) and Sweden (3-1). Missing out on the next two World Cups, Spain returned in 1962 drawing into a very competitive Group 3 and finishing last despite solid play. In 1966 they again failed to emerge from group play behind traditional powers West Germany and Argentina. They then failed to qualify in both 1970 and 1974.
				%p So, back to 1978. Spain has arguably been the third best World Cup nation since 1978, until today. In Argentina 1978 they finished third in a difficult group&mdash;Brazil merely finished second&mdash;where they played competitively. In 1982 the World Cup moved to Spain where, buoyed by a weak group, hopes were high. However, finishing behind Northern Ireland and slipping past Yugoslavia solely on the basis of head-to-head victory they finished last in their second round group, losing to West Germany 2-1 while drawing with England. Undaunted by their failure at home, Spain traveled to Mexico in 1986 and finished a strong second in Group D behind an always-lethal Brazil. They opened the knockout rounds with aplomb by vanquishing Denmark 5-1. However, the quarterfinals brought heartbreak as they played Belgium to a 1-1 draw before losing on penalty kicks. Italy 1990 represented the third of four straight years that Spain would emerge from the group stage. Winning Group E, Spain was upset in the round of 16 by Yugoslavia, 2-1 in extra time. In 1994 Spain finished second in Group C behind Germany. Then, they easily got past Switzerland 3-0 before losing to eventual runners-up Italy in the quarterfinals by a 2-1 count. There could be no doubt that Spain was always a dangerous opponent, albeit behind the top teams.
				%p In France 1998 Spain took a step backwards, failing to get out of Group D despite it being a relatively soft touch with the likes of Bulgaria, Nigeria, and Paraguay. For 2002 Spain was clearly on the rise, whipping a weak Group B by winning all three games with nine goals for to just four against. In the knockout stage they opened with a 1-1 draw of Republic of Ireland, won on penalties, before drawing host nation South Korea 0-0. This time the penalty kick gods were no so kind, as a host nation again overperformed, but this time at Spain&rsquo;s expense. In Germany 2006 Spain&rsquo;s quality again shone in a terrible group against Saudi Arabia, Tunisia, and the Ukraine with eight goals for to just one against. Their tradition of bad luck continued in the round of 16 against a still-dangerous French club that sleepwalked through a weak performance in the group stage.
				%p Of course, all of this leads to 2010. Spain entered as a clear favourite, owing to their World Cup successes over the past decade, their 2008 Euro Championship, and the tactical revolution created by their innovative tika-taka style. Still, Spain threw a scare into their campaign losing the first game to a mediocre Switzerland side 1-0. Coming back with narrow wins over Chile and Honduras, Spain entered the knockout stage looking vulnerable. Instead, they proceeded to four straight white-knuckle 1-0 victories, completely shutting down the opposition. First, they defeated a solid Portugal team before getting by a less capable Paraguay team that lurched into the quarterfinals by beating Japan on penalties. Then, in the semifinals, Carles Puyol scored on a famous header to overcome Germany and set up the dream final, where either Spain or the Netherlands would end their World Cup futility. In extra time, Spanish star Andres Iniesta broke the hearts of Oranje with the decisive goal.
				%aside.sidebar.image.left
					%img{:src => "../../images/features/world-cup/spain-1.jpg"}/
					%p.caption The finest team in Spain&rsquo;s history won the World Cup behind striker David Villa&rsquo;s tournament-leading five goals scored, goalkeeper and captain Iker Casillas&rsquo; exceptional play, and emerging superstar Andreas Iniesta&rsquo;s Cup-winning goal.
				%p Spain&rsquo;s national team has been on a consistent rise since 1978. Starting as dangerous, moving to competitive, and now in the 21st century emerging as a true footballing superpower. With excellent youth programmes and some of the best club teams in the world, Spain has become one of the most important national sides of the moment as well as in all of the sport&rsquo;s history.
				.section-footer
					.col1
						%h4 Team Stats
						%table.team-stats
							%tbody
								%tr
									%td GP
									%td W
									%td D
									%td L
									%td GF
									%td GA
								%tr
									%td 56
									%td 28
									%td 12
									%td 16
									%td 88
									%td 59
						%h4 Best Team
						%p 2010, Champions (First Title)
					.col2
						%h4 Starting XI
						%table.starting-xi
							%tbody
							%tr
								%td GK
								%td Iker Casillas (2000-?)
							%tr
								%td DF
								%td Fernando Hierro (1989-2002)
							%tr
								%td DF
								%td Jose Antonio Camacho (1975-1988)
							%tr
								%td DF
								%td Sergio Ramos (2005-?)
							%tr
								%td DF
								%td Carles Puyol (2000-2013)
							%tr
								%td MF
								%td Xavi (2000-?)
							%tr
								%td MF
								%td Andres Iniesta (2006-?)
							%tr
								%td MF
								%td Amancio Amaro (1962-1974)
							%tr
								%td MF
								%td Luis Suarez (1957-1972)
							%tr
								%td FW
								%td David Villa (2005-?)
							%tr
								%td FW
								%td Raul (1996-2006)
			%section.row#sec5
				%h2 5. Uruguay
				%p The best international programme through the first half of the 20th century was unquestionably, inarguably Uruguay. Unfortunately for La Celeste, during much of that time the World Cup was not being contested. While they dominated the South American Championship, starting in 1916, there was no World Cup and Europe was dealing with World War I. After the war they repeatedly proved their quality in the Olympics, winning the 1924 and 1928 gold medals in the first true generally global football competitions ever held. This dominance continued with the first World Cup in 1930, where Uruguay and Argentina dominated the grass dojo. After the two South American teams won all five of their games in group play by a combined score of 15-4 they blew out their opponents in the semifinals by identical 6-1 scores. In the final, then, Uruguay defeated their rivals 4-2.
				%aside.sidebar.image.right
					%img{:src => "../../images/features/world-cup/uruguay-1.jpg"}/
					%p.caption Uruguay fullback and captain Jose Nasazzi, known lovingly as El Gran Mariscal, led the team to their triumph in the inaugural 1930 World Cup as well as being a key component to their 1924 and 1928 Olympic Gold Medals and South American Championships in 1923, 1924, 1926, and 1935.
				%p That&rsquo;s when their glory started to become increasingly fleeting. Angry that most European clubs did not travel to Uruguay for that first World Cup, La Celeste refused to travel to Europe for both the 1934 and 1938 World Cups, leaving Italy to establish themselves as the finest nation in World Cup history. Then World War II gripped Europe and much of the world while a still-potent Team Uruguay was left to languish without an international stage upon which to collect more trophies. Ironically, while they did win the 1950 World Cup in Brazil when the competition resumed, Uruguay was a pale shell of past editions. They were long on reputation but short on talent and recent results in upsetting their continental rivals. Indeed, it was perhaps one of the least impressive World Cup winner&rsquo;s performances ever as they bombed a helpless Bolivia 8-0, drew Spain 2-2, eked past Sweden 3-2, and finally beat Brazil 2-1 on a fluke goal remembered as &ldquo;The Phantom of the 50.&rdquo;
				%p Uruguay is the most frustrating &ldquo;what-if&rdquo; case of all. What if the World Cup had begun in 1918, when they were in the process of winning seven of the first 12 South American Championships? How many World Cups would they have won in the 1910s and 20s? What if they had swallowed their pride and travelled to Europe in the 1930s? What if there had been no World War 2 and 1942 and 1946 competitions had been held? I know, that&rsquo;s a whole lot of &ldquo;what if&rsquo;s.&rdquo; But all of those seven possible World Cups would have seen Uruguay at least as a favourite, if not as a dominant force.
				%aside.sidebar.image.left
					%img{:src => "../../images/features/world-cup/uruguay-2.jpg"}/
					%p.caption Midfielder Obdulio Varela captained Uruguay to the shocking 1950 upset of Brazil in the World Cup Finals.
				%p While Uruguay&rsquo;s performance since that 1950 title has paled in comparison they have remained a steady, consistent performer over the years. In 1954 they fielded an improved side to their winning 1950 team in dominating their group with nine goals scored and none allowed. They handled England 4-2 in the quarterfinals before losing to Hungary, their spiritual successors as the best and most exciting team in the world, by a 4-2 count in extra time in the semifinal game. Austria beat them 3-1 for third. They did not qualify in 1958, and 1962 saw Uruguay soundly defeated in the group stage by strong teams from the Soviet Union and Yugoslavia.
				%p In 1966 Uruguay finished second in their group to eventual champion England before getting blasted 4-0 by West Germany. At Mexico 1970 they managed to get deep in a competition once again, narrowly getting out of the group stage behind Italy and ahead of Sweden, then beating the Soviet Union 1-0 in extra time. In the semifinals, Brazil extracted revenge on Uruguay for the 1950 finals defeat with a 3-1 victory. Uruguay then lost the third place game, again falling short against West Germany but this time by a more competitive 1-0 score line. Then, traveling to Germany for the 1974 tournament, they finished last in Group 3 even behind the lightly regarded Bulgaria. This failure foreshadowed problems in the programme as they failed to qualify in both 1978 and 1982.
				%p In 1986 Team Uruguay emerged from a difficult Group E on tiebreakers despite being outscored by five goals. Their old Argentinian rivals dispatched them in the first knockout round by a 1-0 count. In 1990 they again emerged from their group only by a tiebreaker and again lost in the first knockout, this time to host Italy, 2-0. Of the next four World Cups Uruguay qualified for only one, in 2002. They finished third in a brutal Group A that saw defending champion France, still loaded with stars, finish last behind Denmark and Senegal.
				%p This brings us to the most recent World Cup in 2010. Uruguay won Group A without conceding a goal. In the knockouts they cowed South Korea 2-1 and took Ghana on penalties after a 1-1 draw. In the semifinals they fell to the Netherlands 3-2 before also losing to Germany in the third place game by that same 3-2 margin. Things continue to look up, as Uruguay are seen as being very competitive in 2014 and likely to emerge from their group.
				%aside.sidebar.image.right
					%img{:src => "../../images/features/world-cup/uruguay-3.jpg"}/
					%p.caption Uruguay striker Diego Forlán scored a tournament-leading five goals at the 2010 World Cup and was also named as the best player of the tournament.
				%p Uruguay&rsquo;s World Cup history is a tantalizing tale of &ldquo;what if?&rdquo; Limiting this analysis to just World Cup competitions, Uruguay is still a formidable force. However, if the conditions of the early 20th century had permitted proper international competition they could, despite their relative mediocrity over the past 60 years, easily ascend to be even the third best nation in this little exercise. With the programme seemingly back on track perhaps Uruguay can enjoy a renaissance that takes them off their waning and back to waxing once again.
				.section-footer
					.col1
						%h4 Team Stats
						%table.team-stats
							%tbody
								%tr
									%td GP
									%td W
									%td D
									%td L
									%td GF
									%td GA
								%tr
									%td 47
									%td 18
									%td 12
									%td 17
									%td 76
									%td 65
						%h4 Best Team
						%p 1930, Champions (First Title)
					.col2
						%h4 Starting XI
						%table.starting-xi
							%tbody
							%tr
								%td GK
								%td Ladislao Mazurkiewicz (1965-1974)
							%tr
								%td *DF
								%td Jose Nasazzi (1923-1937)
							%tr
								%td DF
								%td Diego Lugano (2003-?)
							%tr
								%td DF
								%td Schubert Gambetta (1941-1952)
							%tr
								%td DF
								%td Paolo Montero (1991-2005)
							%tr
								%td MF
								%td Juan Schiaffino (1946-1954)
							%tr
								%td MF
								%td Obdulio Varela (1939-1954)
							%tr
								%td MF
								%td Jose Andrade (1923-1930)
							%tr
								%td FW
								%td Oscar Miguez (1950-1956)
							%tr
								%td FW
								%td Pedro Cea (1923-1932)
							%tr
								%td FW
								%td Sebastian Abreu (1996-2012)
			%section.row#sec4
				%h2 4. Argentina
				%p While Uruguay was the clear top team in the early 20th century, Argentina was just as clearly their antagonist and the #2. Unlike Uruguay, they did not hoist any major hardware beyond the South American Championship in the early years but, whereas Uruguay faded and never approached greatness again, Argentina reversed its decline. After some down decades, since 1974 Argentina has qualified for the cup every single year, winning both of their titles in modern times. They are a team of the past, present, and future, always a threat.
				%p Argentina was the second dominant team, along with Uruguay, of the inaugural 1930 World Cup. La Albiceleste ripped through their first four matches with 16 goals scored to only five against before falling to their rivals 4-2 in the finals. In 1934 they traveled to Italy where they lost to Sweden 3-2 in the first round.
				%aside.sidebar.image.right
					%img{:src => "../../images/features/world-cup/argentina-1.jpg"}/
					%p.caption Argentine striker Guillermo Stabile led all scorers at the inaugural 1930 World Cup with eight goals.
				%p Argentina withdrew from the competition in both 1938 and 1950, and did not even enter in 1954. They returned in 1958 after that 24-year hiatus no longer one of the top teams in the world. They finished last in Group 1 as the only non-competitive team in the group. Things were little better in Chile 1962 where they were more competitive but still clearly beaten in Group 4 behind solid Hungarian and English entries. 1966 saw a return to form where they stayed with West Germany stride-for-stride in finishing just behind them in Group 2. However, they lost to champion England in the quarterfinals, their first knockout game. In 1970 they failed to qualify, after which they would  fail to move beyond the group stage only once to the present day.
				%p In Germany 1974, the Argentines finished second behind an exceptional Polish team and just ahead of Italy. However, in the second round they finished at the bottom of their group, mustering only a draw in their three games. In 1978, the World Cup came to Argentina. Hosting is always a golden opportunity to advance deep in the tournament and La Albiceleste did not waste the opportunity. Outplayed by Italy in the group stage they fortunately fell into a weak Group B with an excellent Brazil and lesser entries from Poland and Peru. Here they blossomed, scoring eight goals while yielding none to earn a ticket to the finals against the Netherlands. Mario Kempes put the hosts ahead in the 37th minute. The game was in doubt when Dick Nanninga equalized in the 82nd minute but, happily for the home fans, Kempes scored again in extra time before Daniel Bertoni put it away. The World Cup finally came to Argentina, joining the 12 South American Championships already on the shelf.
				%aside.sidebar.image.left
					%img{:src => "../../images/features/world-cup/argentina-2.jpg"}/
					%p.caption Mario Kempes starred in leading Argentina to the 1978 World Cup title. He scored the most goals: 6, including the game winner in the finals, and was named the best player of the tournament.
				%p The 1982 Argentine club featured Diego Maradona along with core members of the 1978 champions, portending a possible dynasty in the making. However, Group 3 was a stiff test and Argentina was fortunate to narrowly qualify over Hungary, behind Belgium. In Group C for the second round Argentina was easily defeated by Italy (2-1) and then Brazil (3-1), with their goals being scored when the result was no longer in doubt. So, while 1982 was a disappointment it only increased the hunger for 1986. The greatest Argentine team in the World Cup era, the 1986 tilt was Maradona&rsquo;s showcase. More than his goals&mdash;he led Argentina with five&mdash;Maradona dominated the tournament with his outsized personality, thick and diminutive stature, and remarkable highlight-reel goals. Argentina won Group A ahead of Italy, despite drawing with Gli Azzurri. In the knockouts, while they did not dominate, Argentina ground through the opposition: 1-0 over Uruguay, 2-1 over England, 2-0 over Belgium, and 3-2 over West Germany. In just eight years they had twice captured the world&rsquo;s greatest team sporting title.
				%aside.sidebar.image.right
					%img{:src => "../../images/features/world-cup/argentina-3.jpg"}/
					%p.caption More than being one of the finest players in football history, Argentina&rsquo;s Diego Maradona played a highlight-reel style that was perfect for the new &ldquo;SportsCenter&rdquo; culture that was emerging with him. The 1986 World Cup was the peak moment in his storied career.
				%p While they were a strong favourite in 1990, Argentina&rsquo;s campaign started tentatively as they finished third in Group B and advanced only on a tiebreaker. In the knockout rounds they faced top competition and won a series of thrilling games. First, Claudio Caniggia scored in the 80th minute to pip Brazil 1-0. Then, Argentina and Yugoslavia played to a draw before they barely won in penalties 3-2. In the semifinals a 1-1 tie with Italy again pushed the game to penalties, this time won by a 4-3 score. Then, in the finals, Argentina again opposed West Germany in a rematch of the 1986 final. This time the West Germans were clearly the stronger team but only managed to go on top in the 85th minute thanks to a penalty kick. As in 1982, a repeat championship proved elusive but, this time, was oh, so close.
				%p In 1994 Argentina finished third in Group D, getting through on a tiebreaker, before losing to one of Romania&rsquo;s finest national teams, 3-2. A strong Argentine team went to France in 1998 and crushed a terrible Group H. In the round of 16 they vanquished their old English rivals on penalty kicks after playing to a 2-2 tie but lost to the Netherlands 2-1 in the quarterfinals. 2002 was the low point in their recent World Cup campaigns as, in a tough Group F, they came in behind Sweden and England. In Germany in 2006 the train was back on track as Argentina handily won Group C over the Netherlands and a strong Ivory Coast entry. In the round of 16 Argentina scraped by Mexico in extra time 2-1 before tying Germany 1-1 and falling on penalty kicks. Then in 2010, with Maradona as manager, Argentina ran over Group B with seven goals for to just one against. They seemed on their way to special things with a 3-1 win over Mexico before facing Germany in the quarterfinals and, again, losing to their rivals this time by a heavy 4-0 score.
				%p Argentina enters the 2014 World Cup as the second favourite, featuring a talented team without even considering the sublime Lionel Messi, who has underwhelmed in international competitions. Argentina is one of only four teams that boast a legendary history during the entirety of international competition. Like Uruguay, they were excellent during the years that tournaments weren&rsquo;t happening or that they were opting out of leaving an even more tantalizing legacy in the hypothetical.
				.section-footer
					.col1
						%h4 Team Stats
						%table.team-stats
							%tbody
								%tr
									%td GP
									%td W
									%td D
									%td L
									%td GF
									%td GA
								%tr
									%td 70
									%td 37
									%td 13
									%td 20
									%td 123
									%td 80
						%h4 Best Team
						%p 1986, Champions (Second Title)
					.col2
						%h4 Starting XI
						%table.starting-xi
							%tbody
							%tr
								%td GK
								%td Ubaldo Fillol (1974-1985)
							%tr
								%td DF
								%td Daniel Passarella (1974-1986)
							%tr
								%td DF
								%td Roberto Ayala (1994-2007)
							%tr
								%td DF
								%td Javier Mascherano (2003-?)
							%tr
								%td *MF
								%td Diego Maradona (1977-1994)
							%tr
								%td MF
								%td Carlos Peucelle (1928-1940)
							%tr
								%td MF
								%td Jorge Burruchaga (1983-1990)
							%tr
								%td MF
								%td Sergio Batista (1985-1990)
							%tr
								%td FW
								%td Mario Kempes (1973-1982)
							%tr
								%td FW
								%td Gabriel Batistuta (1991-2002)
							%tr
								%td FW
								%td Luis Artime (1961-1967)
			%section.row#sec3
				%h2 3. Italy
				%p In international football, Italy is special. As the first great European team, and with four World Cup titles to their name, Italy is one of the few teams that are always good. But more than their accomplishments, more than their quality, they bring a sense of romance to the game. The romantic sound of their Italian names. The flowing manes of their stars. Even today, when great Italian players may not look like those of the past, they exude charisma and style while still sporting names lyrical names like &ldquo;Mario Balotelli.&rdquo;
				%p Like every nation toward the top of our rankings Italy boasts exciting stars at every position. But where they really stand out is on the defense. Their stingy reputation at the back is legendary. Franco Baresi doesn&rsquo;t even make this team as the legends flow like liquid gold: Cannavaro. Facchetti. Maldini. Scirea. And the irony is that their very finest player is an effervescent attacker nearly forgotten by history. Let&rsquo;s meet him now.
				%p Like most European teams, Italy did not enter the 1930 World Cup in Uruguay. However they hosted the second World Cup in 1934 and immediately established a tradition of Italian excellence. Led by captain and superstar Giuseppe Meazza, Italy played and defeated all eight opponents, sweeping to the first World Cup victory in 1934, followed by the second in 1938 in France. Other than throttling the United States 7-1 in their very first game Italy had a tough path throughout the two competitions, defeating (in chronological order) Spain (1-0 on a replay after an initial 1-1 tie), Austria (1-0), Czechoslovakia (2-1 in extra time to win the 1934 title), Norway (2-1 in extra time), France (3-1), Brazil (2-1), and finally Hungary (4-2 for the 1938 crown).
				%aside.sidebar.image.left
					%img{:src => "../../images/features/world-cup/italy-1.jpg"}/
					%p.caption Giuseppe Meazza, an inside forward with exceptional ball control and the first superstar of the World Cup, led Italy to back-to-back titles in 1934 and 1938.
				%p World War II interrupted Italy&rsquo;s reign, but even more damaging was the Superga air disaster, a 1949 plane crash that killed the entire Torino team, dominant four-time defending champions of Serie A and loaded with Italian stars. Although Italian football came back strong after World War II, the catastrophe ripped the heart out of the Italian team. While they qualified for the World Cups in 1950 and 1954 they played well but did not get out of the group stages, losing out to Sweden in 1950 and both England and Switzerland in 1954. In Sweden 1958 they did not qualify, the second and, to this point, last time they failed to participate in the World Cup. Returning in Chile 1962 Italy was still not yet Italy. They again played decently there, as well as England 1966, but failed to get out of the group stage both times. In the first tournament they finished third behind West Germany and the host Chileans, while in England were beaten out by the Soviet Union and (surprise) North Koreans.
				%p In 1970 Italy enjoyed a long-awaited return to the top of the table. After winning a competitive Group 2 over Uruguay, Sweden, and one of the best Israeli teams ever, they hammered Mexico in the quarterfinal 4-1. Then, in extra time, Italy beat West Germany 4-3 in an incredible game during which five of the seven goals scored were tallied in the 30 minutes of extra time. Unfortunately, Italy then ran into the best of Brazil&rsquo;s many fantastic teams in the final, and were swept aside 4-1. In 1974 Italy played well in the group stage but finished third to Poland and Argentina. It would be the last time Italy failed to get out of their group for 36 years.
				%p In Argentina 1978, Italy won all three games in their group, including defeating the hosts who would go on to win the tournament. They played well in their second round group, finishing behind the Netherlands and above West Germany before falling 2-1 in the third place match against Brazil. Moving back to Europe for Spain 1982 Italy did not play well in Group 1, finishing second just ahead of Cameroon on a single goal differential. This put them into Group C in the second round against Argentina and Brazil, both of whom Italy beat to make it to the knockout games. First they beat Poland 2-0, who had won their group in the early stages, before soundly defeating West Germany 3-1 for their third title, just the second nation to achieve that benchmark behind Brazil.
				%aside.sidebar.image.right
					%img{:src => "../../images/features/world-cup/italy-2.jpg"}/
					%p.caption Striker Paolo Rossi spearheaded the Italian attack in 1982 scoring six goals and emerging as the best player in the tournament.
				%p In 1986 Italy was attempting to repeat, drawing into Group A with 1978 champions Argentina. While La Albiceleste won the group Italy was a strong second, heading into the knockouts against a quality France team who took them out 2-0. The competition came back to Italy in 1990 for the first time since 1934. Italy easily took a mediocre group with three wins, four goals for, and none allowed. In the knockouts the home team thrilled their fans with a 2-0 win over Uruguay followed by a 1-0 conquest of the Republic of Ireland. In the semifinals Italy drew with Argentina before losing on penalties for their only defeat of the tournament. In the third place match they defeated England, 2-1.
				%aside.sidebar.image.left
					%img{:src => "../../images/features/world-cup/italy-3.jpg"}/
					%p.caption Salvatore Schillaci emerged from obscurity to score the most goals in the 1990 World Cup and, perhaps influenced by the partisan home crowds in Italy, was also named the best player of the tournament.
				%p The World Cup moved to the United States in 1994 where Italy, like the other top teams, enjoys a considerable fan base. They barely made it out of a Group E where all four teams went 1-1-1 and Italy came in third, advancing on a simple tiebreaker. Italy picked up momentum in the knockouts, defeating Nigeria 2-1 in extra time and then Spain by an identical score. In the semifinals a surprise Bulgaria entry played tough but lost 2-1 setting up the dream final: Italy with their three World Cup titles against Brazil with their three titles. The winner would be the first, and only, nation with a fourth crown. The game was 0-0 and decided by penalty kicks, won by Brazil. In 1998 Italy again showed well by winning Group B and defeating Norway 1-0 in the round of 16. In the quarterfinals they ran into the hosts and eventual champion French team, battling to penalty kicks and again losing from the spot. In 2002 Italy scraped to second place in Group G behind Mexico before quietly losing 2-1 in extra time to the host South Koreans.
				%p Which brings us to 2006. Italy is inarguably one of the top three nations in World Cup history, but their best claim to being the second best nation instead of third was this tournament where they won their fourth title. Italy opened the campaign by topping Group E over Ghana, the Czech Republic, and the United States. From there they defeated Australia 1-0 and the Ukraine 3-0 before facing Germany once again. With the 2006 World Cup being held in Germany, Italy&rsquo;s antagonists had every advantage. The tense 0-0 game went into extra time when, with just a minute remaining, left back Fabio Grosso scored the winning goal. Just a minute later Alessandro Del Piero put a second goal in and sent Italy to the finals against France. This was the last gasp for the transcendent France squad of the prior eight years, making for a wonderful final. France took a lead late into the game until their star, Zinedine Zidane, was antagonised into head-butting Marco Materazzi. The ensuing red card left France a player down and without their best player. France managed to maintain the draw but Italy won their fourth title on penalties. Unfortunately, in South Africa 2010, Italy came last in a very weak Group F even behind punching bag New Zealand.
				%aside.sidebar.image.right
					%img{:src => "../../images/features/world-cup/italy-4.jpg"}/
					%p.caption Superstar defender and team captain Fabio Cannavaro led Italy to their fourth World cup title in 2006.
				%p Gli Azzurri have a long and glorious history. After emerging as an early World Cup powerhouse Italy struggled to recover from the Superga air disaster, spending two decades at the fringes of the World Cup. Then, beginning in 1970, Italy entered a new period of dominance with two more titles and twice coming in as runners-up. The finest defensive nation in World Cup history and with a great football tradition the question is not if Italy will capture a fifth title, but when?
				.section-footer
					.col1
						%h4 Team Stats
						%table.team-stats
							%tbody
								%tr
									%td GP
									%td W
									%td D
									%td L
									%td GF
									%td GA
								%tr
									%td 80
									%td 44
									%td 21
									%td 15
									%td 126
									%td 74
						%h4 Best Team
						%p 1938, Champions (Second Title)
					.col2
						%h4 Starting XI
						%table.starting-xi
							%tbody
							%tr
								%td *GK
								%td Dino Zoff (1968-1983)
							%tr
								%td *DF
								%td Fabio Cannavaro (1997-2010)
							%tr
								%td DF
								%td Paolo Maldini (1988-2002)
							%tr
								%td DF
								%td Giacinto Facchetti (1963-1977)
							%tr
								%td DF
								%td Gaetano Scirea (1975-1986)
							%tr
								%td MF
								%td Roberto Baggio (1998-2004)
							%tr
								%td MF
								%td Andrea Pirlo (2002-?)
							%tr
								%td MF
								%td Demetrio Albertini (1991-2002)
							%tr
								%td *FW
								%td Giuseppe Meazza (1930-1939)
							%tr
								%td FW
								%td Paolo Rossi (1977-1986)
							%tr
								%td FW
								%td Luigi Riva (1965-1974)
			%section.row#sec2
				%h2 2. Germany
				%p In 1990, after being eliminated by Germany in the semifinals, English star striker Gary Lineker famously said, &ldquo;Football is a simple game; 22 men chase a ball for 90 minutes and at the end, the Germans win.&rdquo; That is a sentiment shared by many nations. Germany getting through the group stage of a World Cup is the surest thing since death and taxes. The last time Germany was not alive past the group stage was in 1950 when they (along with Japan) were banned from participating in the World Cup as retribution for their role in World War II. Starting with the 1954 World Cup, which they won, they have not just qualified for the tournament every year, they&rsquo;ve been one of the top half of teams. Of those 15 tournaments they have finished first, second, or third an unbelievable 10 times. Yes, literally two-thirds of the time Germany has held one of the top three places, a record no other nation even begins to approach. Lineker&rsquo;s frustrated quote holds more truth than even he may have realized.
				%p After not entering the 1930 World Cup, Germany went to Italy in 1934 and finished in third place. They defeated Belgium (5-2) and Sweden (2-1), before falling to Czechoslovakia in the semifinals. They defeated Austria in the third place game by a 3-2 count. In 1938 they were knocked out in the first round for the only time in their history, playing Switzerland to a 1-1 draw and losing on penalties. Then came World War II and the tournament took a break.
				%aside.sidebar.image.left
					%img{:src => "../../images/features/world-cup/germany-1.jpg"}/
					%p.caption Attacking midfielder Fritz Walter captained West Germany to a surprise victory over Hungary in the 1954 World Cup final.
				%p In Switzerland 1954, Germany returned to a World Cup featuring a Hungary team that hadn&rsquo;t lost in four years, as well as the powerful Brazilian runners-up from 1950 and the Uruguayan defending champions who were past their prime but still dangerous.<sup>2</sup> Germany had the bad luck to draw into a group with the mighty Hungarians and, while finishing second and emerging from the group, were thrashed by Hungary 8-3. In the knockouts Germany&rsquo;s class began to show, handling Yugoslavia 2-0 and drubbing Austria 6-1. In the finals they again faced the indomitable Hungarians but, in The Miracle of Bern, this time defeated them 3-2 to hoist their first World Cup trophy. A new tradition of footballing excellence had begun.
				%aside.sidebar.right
					%p 2. From this tournament through the 1990 edition &ldquo;Germany&rdquo; would be known as &ldquo;West Germany.&rdquo; East Germany also had a national team but they had minimal impact on the World Cup, examples of which will be given as they come up. For simplicity&rsquo;s sake we will just call &ldquo;West Germany&rdquo; &ldquo;Germany&rdquo; in this article.
				%p In Sweden 1958 Germany, now among the favourites, drew into a difficult group with Argentina, Czechoslovakia, and a surprisingly game Northern Ireland squad. Germany came top of the group, again defeating Yugoslavia in the quarterfinals 1-0. In the semis Germany ran into the host Swedes and were defeated 3-1. In the third place game they were beaten again, this time by France, falling 6-3. In Chile 1962 Germany again won a tough group, this time over the host nation, Italy, and an overmatched Switzerland. For the third straight cup the Germans faced Yugoslavia to start out the knockouts but this time their antagonist flipped the script, winning 1-0 on a goal scored in the 85th minute.
				%aside.sidebar.image.left
					%img{:src => "../../images/features/world-cup/germany-2.jpg"}/
					%p.caption The finest striker in German footballing history, Gerd Müller led all goal scorers at the 1970 World Cup with 10.
				%p The 1966 World Cup was held in England. Germany again won their group going away despite facing a strong Argentina, capable Spain, and another hapless Switzerland. In the knockouts they dealt Uruguay a heavy 4-0 defeat before going over the Soviet Union by a comfortable 2-1. This led them to the finals against the host England and one of the more controversial goals in World Cup history was scored by Geoff Hurst in extra time. The ball did not cross the goal line but was incorrectly ruled as having scored what is known as the &ldquo;Wembley Goal,&rdquo; leading England to a 4-2 victory and leaving Germany as the runners-up. In Mexico 1970 Germany went over a weak group before gaining some measure of revenge on England in the quarterfinals with a 3-2 victory in extra time. In the semifinals they ran into a strong Italy team and fell 4-3, also in extra time. Germany faced Uruguay in the third place game and won comfortably by a 1-0 score.
				%aside.sidebar.image.right
					%img{:src => "../../images/features/world-cup/germany-3.jpg"}/
					%p.caption Franz Beckenbauer, one of the few top  footballers ever, captained Germany 1974 to World Cup glory.
				%p 1974 saw Germany win their second title, this time on home soil. They drew into a group with East Germany, participating in their first World Cup, and actually finished second in the group behind them as a result of a 1-0 defeat. East Germany would finish a distant third in their excellent second round group behind the Netherlands and Brazil, just above Argentina, while Germany cruised in Group B winning all three games without being tested. In the final they went up against the best team the Netherlands has ever fielded, at the height of their Total Football dominance. Again, as in 1954 against an even more dominant Hungary team, Germany provided the upset with a 2-1 victory. While Germany has fielded many fine teams over the years this was likely the best, at least of those that went on to win the title.
				%p In Argentina 1978 Germany struggled to get out of Group 2 in second place, despite scoring six goals while not conceding any. Those group woes carried on to their second round Group A where they finished third behind the Netherlands and Italy thanks to losing to the last place Austrians. 1982 saw the tournament move to Spain, where Germany won a soft Group 2, including getting revenge on Austria who sent them home the previous year. In the second round they topped Group B to make the semifinals against one of the top teams France has produced. While the game was a 3-3 draw Germany won on penalty kicks. In the finals Germany faced Italy in a battle to determine which legendary footballing nation would join Brazil as the only team to that point with three titles. Gli Azzurri won easily by a 3-1 score with the German goal coming in the final minutes. In 1986 the tournament returned to Mexico where Germany did not play well, coming in second behind a superb Denmark team in Group E. The German&rsquo;s path in the knockouts was a gentle one, but still they struggled to dispatch Morocco (1-0), Mexico (0-0, won on penalties), and finally France once again in the semifinals (2-0). This led to the final against an Argentina that had Diego Maradona at the very height of his powers. After Argentina led for most of the game Germany scored two goals in the 74th and 80th minutes to tie it. However, this Argentine team had the class as Jorge Burruchaga came through in the 83rd minute to give Argentina their second title and leave Germany waiting for their third. They wouldn&rsquo;t have long to wait.
				%aside.sidebar.image.left
					%img{:src => "../../images/features/world-cup/germany-4.jpg"}/
					%p.caption Midfielder Lothar Matthäus is one of the brightest stars in a German galaxy full of them. Captaining Germany to the 1990 World Cup title was the peak of a peerless international career that saw him play in five separate World Cups.
				%p The 1990 World Cup returned to Italy for the first time since 1934 and Germany picked up with another group win, scoring 10 goals while conceding just three. Their knockout path began against the Netherlands who defeated them in the 1978 second group round. This time the Germans were victorious, 2-1. Next was Czechoslovakia, the team that took them out of the last World Cup semifinals in Italy, but this time facing in the quarterfinals. Germany got revenge here with a 1-0 victory. In the 1990 semifinals they faced England, who beat them for the 1966 title. They played to a 1-1 finish before Germany won on penalty kicks, leaving Gary Lineker, who scored the lone English goal and also converted on his penalty try, heartbroken. The final was a rematch of the 1986 final against Argentina. While Germany won the game 1-0 on a late penalty kick they were in control the whole way, exacting revenge against yet another top team that had previously knocked them out. At this moment Germany was arguably at their pinnacle. They, Brazil, and Italy all owned three titles, and Germany was the most successful of the three with another three second-place finishes and a pair of thirds. While Germany would continue to be a top team in the decades ahead, Brazil would rise to the point of sublimity, and Italy, while generally less successful than Germany, would beat them to a prestigious fourth title.
				%aside.sidebar.image.right
					%img{:src => "../../images/features/world-cup/germany-5.jpg"}/
					%p.caption German captain and goalkeeper Oliver Kahn was named the best player of the 2002 World Cup despite blundering on what proved to be the cup-winning goal in the final against Brazil.
				%p United States 1994 offered Germany the opportunity to repeat. They were indifferent in winning a tame Group C, moving on to the round of 16 against Belgium, whom they dispatched 3-2. The quarterfinals presented the weakest opponent in Bulgaria but Germany suffered a rare upset by a lesser team in the World Cup, being held 1-0 by The Lions, marking their earliest exit since 1978. In 1998 they won another weak group and again faced an easy path in the knockouts. After dispatching Mexico 2-1 they were soundly defeated by Croatia, 3-0. While hardly a footballing powerhouse this was an excellent Croatian team that would lose 2-1 to eventual champions France in the semis before also defeating the Netherlands in the third place game. In 2002 Germany seemed in form winning their group while scoring 11 goals and conceding just one&mdash; albeit eight of those goals came against hapless Saudi Arabia. Their path through the knockout stage was again relatively modest as their stifling defense hung a series of 1-0 defeats on Paraguay, the United States, and the host South Koreans. In the final they faced Brazil: a German win would put them back atop the footballing world, while a Brazilian win would cement their place, perhaps permanently, as the greatest footballing nation. It was Brazil that took the day with a comfortable 2-0 win, both goals coming off the foot of the legendary Ronaldo.
				%aside.sidebar.image.left
					%img{:src => "../../images/features/world-cup/germany-6.jpg"}/
					%p.caption In 2006 German striker Miroslav Klose led all scorers with five goals, giving him 14 overall heading into 2014.
				%p The 2006 World Cup was held in Germany and the hosts were well in form. After running over a poor Group A they took out Sweden 2-0 then battled old rival Argentina to a 1-1 draw which Germany won on penalties. In the semis they faced another old rival, the Italians, who scored twice in extra time to end Germany&rsquo;s bid for a fourth title, instead going on to win a fourth of their own. In the third place game Germany handled Portugal easily, 3-1. South Africa 2010 saw Germany need to fight to win a mediocre Group D before hitting the knockouts with guns blazing. First they dispatched England 4-1 before completely overwhelming Argentina 4-0. In the semifinals they faced the best team in the world, Spain, and played well before going down 1-0 on a late goal by central defender Carles Puyol. In the third place game they defeated Uruguay 3-2. Now in 2014 Germany boasts perhaps their best team in more than 20 years. Unfortunately they will be playing in Brazil, and no European team has ever won the World Cup outside of Europe. Despite the class of their side the odds are clearly against their adding to their legacy in this campaign.
				%aside.sidebar.image.right
					%img{:src => "../../images/features/world-cup/germany-7.jpg"}/
					%p.caption German Striker Thomas Müller was one of four players to lead all scorers with five goals at the 2010 World Cup. He was also named the best young player of the tournament.
				%p Along with Brazil, Germany is one of just two teams that&mdash;no matter what year it is&mdash;if a nation finds themselves in their same group they privately realize that they will be battling two other nations for a single spot, instead of trying to beat three nations for two places. No team has finished in the top two more times. Or the top three. Or the top four. Given their sustained success the only surprise, perhaps, is that Germany has not won more titles. Over the years Germany has particularly featured dominant goalkeepers and sublime strikers while, like all of the top few teams, featuring transcendent stars at every position. As the rest of the world gets better at football it is unlikely that they, or any other nation, will approach their record from 1974 to 1990 of winning two cups and finishing second in two others over that five-tournament span.
				.section-footer
					.col1
						%h4 Team Stats
						%table.team-stats
							%tbody
								%tr
									%td GP
									%td W
									%td D
									%td L
									%td GF
									%td GA
								%tr
									%td 99
									%td 60
									%td 19
									%td 20
									%td 206
									%td 117
						%h4 Best Team
						%p 1974, Champions (Second Title)
					.col2
						%h4 Starting XI
						%table.starting-xi
							%tbody
							%tr
								%td *GK
								%td Sepp Maier (1966-1979)
							%tr
								%td *DF
								%td Franz Beckenbauer (1965-1977)
							%tr
								%td DF
								%td Berti Vogts (1967-1978)
							%tr
								%td DF
								%td Paul Janes (1932-1942)
							%tr
								%td DF
								%td Karl-Heinz Schnellinger (1958-1971)
							%tr
								%td *MF
								%td Lothar Matthäus (1980-2000)
							%tr
								%td MF
								%td Fritz Walter (1940-1958)
							%tr
								%td MF
								%td Wolfgang Overath (1963-1974)
							%tr
								%td MF
								%td Michael Ballack (1999-2010)
							%tr
								%td *FW
								%td Gerd Müller (1966-1974)
							%tr
								%td FW
								%td Uwe Seeler (1954-1970)
			%section.row#sec1
				%h2 1. Brazil
				%p When you began reading this article, was there ever any doubt? Since winning their fourth World Cup title in 1994 Brazil has stood as the unquestioned king of international football. It&rsquo;s not just a matter of their five titles along with the beautiful, attacking style and&mdash;in the United States at least&mdash;the combination of fun and gravitas offered by the single names that their players go by. The deeper you look into Brazil&rsquo;s story, the more evidence that surfaces in their favour. Brazil, alone, has competed in every World Cup in history. In those 19 competitions they  failed to advance beyond the first/group rounds only three times: in the early days of 1930 and 1934,  and then in England 1966. They&rsquo;ve won the most World Cup games, scored the most goals, and easily have the best goal differential. They&rsquo;ve won their five titles on four continents, showing a unique ability to win anywhere in the world. Curiously, in a quality shared by the other top teams on this list, Brazil is actually more successful in their World Cup results than in their own continental competition. As the stage gets bigger and the environment less familiar Brazil&rsquo;s star shines even brighter. Their players are the most legendary of all, beginning with the incomparable Pele. They are the only footballers to eclipse the sport and become part of the global consciousness. There is seemingly no end to the plaudits that the Brazilian national team has earned and deserves so let&rsquo;s re-state that they are obviously the best ever and begin telling their long story, one that spans the entire history of the World Cup itself.
				%aside.sidebar.image.right
					%img{:src => "../../images/features/world-cup/brazil-1.jpg"}/
					%p.caption Leonidas, a thrilling forward and the first Brazilian World Cup superstar, scored seven goals to lead all scorers in the 1938 World Cup.
				%p When the World Cup began in 1930 Brazil was not yet Brazil. They were just another national side trying to keep up with the dominant Uruguay and Argentina teams, as well as the leading European power, Italy. In Uruguay 1930 they finished second in Group 2 behind Yugoslavia which meant that they were eliminated. 1934 was a straight knockout tournament where they drew Spain to start and quietly exited by a 3-1 score. In 1938 the knockout format remained but this was an improved Brazil. They began by beating Poland 6-5 in extra time in a wild game. Then they faced Czechoslovakia, the runners-up, in 1934 and beat them 2-1 in a replay after drawing 1-1 the first time around. In the semis they met defending champion Italy and were defeated 2-1 in a game that was not as close as the scoreline. In the third place game Brazil handled Sweden 4-2. Here already, in 1938, Brazil was established as a football power.
				%aside.sidebar.image.left
					%img{:src => "../../images/features/world-cup/brazil-2.jpg"}/
					%p.caption Brazilian Striker Ademir was the leading scorer at the 1950 World Cup with eight goals.
				%p When the World Cup returned after World War 2 the hosting duties went to Brazil, and they were picked as overwhelming favourites to win. After playing well yet barely coming out of their group&mdash;only the top of four teams advanced, and a very good Yugoslavia team played close&mdash;they were tearing up the final round group before facing Uruguay in the final game. By &ldquo;tearing up&rdquo; I&rsquo;m talking about a 7-1 win over Sweden and 6-1 win over Spain. Brazil was in a different galaxy than these clubs. Meanwhile, Uruguay just managed to tie Spain 2-2 and eke by Sweden 3-2. So it was that they met in the final game, seen as a fait accompli. Unfortunately for the home fans the party was put on permanent hold as Uruguay won 2-1 before a reported 171,772 fans. Given their dominance in 1950 Brazil was again a favourite in 1954. After winning Group 1 over Yugoslavia on mere goal differential Brazil faced the Magical Magyars from Hungary and were soundly beaten 4-2. This Brazil team was like the Netherlands teams of the last 40 years: often dangerous but not of a class to become champions.
				%aside.sidebar.image.right
					%img{:src => "../../images/features/world-cup/brazil-3.jpg"}/
					%p.caption With a hat trick in the 1958 World Cup Final, Pele propelled Brazil to victory and announced his arrival on the world stage.
				%p All that changed in Sweden 1958. Brazil easily topped Group 4 without allowing a goal, then proceeded to the quarterfinals against an overmatched Wales. The underdogs played with verve and Brazil barely went over, 1-0, with a second half goal from Pele. It was the last time Brazil would be challenged as they humbled first France and then the host Swedes in the finals by identical 5-2 scores. The World Cup returned to South America in 1962 as Chile hosted the seventh edition of the tournament. Brazil was again in great form in topping Group 3. This time there would not be any close games in the knockouts as they defeated England 3-1, the hosts 4-2, and finally Czechoslovakia 3-1 for their second consecutive title. Brazil&rsquo;s star was Garrincha, a player who impossibly approached equality with Pele and stepped forward to fill the void left by the latter&rsquo;s injury. In the afterglow of the 1962 World Cup there could be no doubt that Brazil was the king of football. Of course, like life, Brazil&rsquo;s story would take a surprising turn.
				%aside.sidebar.image.left
					%img{:src => "../../images/features/world-cup/brazil-4.jpg"}/
					%p.caption With Pele injured in 1962 the magical Garrincha took over, leading Brazil to a second consecutive Cup victory.
				%p It is hard to explain 1966. Drawn into an indifferent Group 3 Brazil could not manage to get out. After breezing by the group&rsquo;s punching bag, Bulgaria, by a 2-0 score they were soundly defeated by first Hungary and then Portugal by identical 3-1 scores in games that were simply not close. Brazil was loaded with the core of the two-time defending champions, as well as ascendent young players who would feature in their third title in 1970. But they had a bad week in England, and were eliminated from the group stage for the last time to date.
				%aside.sidebar.image.right
					%img{:src => "../../images/features/world-cup/brazil-5.jpg"}/
					%p.caption With Garrincha in retirement it was again Pele&rsquo;s time to shine, leading perhaps the best Brazilian team ever to the 1970 World Cup title.
				%p The Brazilian National Team in 1970. Many consider them the greatest World Cup team ever. They only trailed for 38 minutes total during the tournament, winning all six games and scoring 19 goals against 7 conceded. Their class particularly shone in the knockout rounds beating Peru (4-2), Uruguay (3-1), and Italy (4-1), all in decisive fashion. It was their third title, beating Italy in the final to be the first team to achieve the distinction. This would be Pele&rsquo;s final World Cup.
				%p Brazil faced a stiff test in 1974: Group 2 featured an exceptional Yugoslavia squad along with a solid Scotland team. Brazil managed to finish second in the group by goal differential over Scotland. In the second round Group A Brazil came second again, this time to the legendary Netherlands squad of Johan Cruyff. This put them into the third place game where they were beaten by Poland 1-0. Argentina 1978 looked a lot like the 1974 competition. Brazil again struggled through their group, coming second behind Austria and just ahead of Spain. In the second round they finished second in Group B behind eventual champion Argentina but this time won the third place match against Italy, 2-1. This would prove to be their high water mark as the next few World Cups did not live up to Brazil&rsquo;s singular standards.
				%p 1982 started out strongly for Brazil sweeping through Group 6 with three wins, 10 goals scored and just two conceded. However, their second round group was the proverbial &ldquo;group of death&rdquo; as they faced Italy and Argentina. While Brazil hung some tough defeats on Italy in previous World Cups this time Gli Arrizzi got the best of Canarinho pushing Brazil to second in the group and out of the tournament. In 1986 the competition returned to Mexico where Brazil made millions of fans with their thrilling 1970 championship. This campaign started strongly winning all of their matches in Group D with five goals scored without conceding any. They opened the knockouts with a 4-0 whitewashing and seemed on their way to another title. However in the quarterfinals a solid French team tied them 1-1 and won on penalty kicks. In 1990 Brazil once again stormed past the competition in an unusually weak Group C but drew defending champion Argentina in the first round. La Albiceleste underperformed in the group stage which created this unusually difficult matchup in the round of 16. Sadly for Brazil this Argentina team was again the real deal, going on to be runners-up and overcoming Brazil 1-0 along the way.
				%aside.sidebar.image.left
					%img{:src => "../../images/features/world-cup/brazil-6.jpg"}/
					%p.caption In 1994 striker Romário led Brazil&rsquo;s return to glory in capturing the World Cup title.
				%p After those down years (by Brazil&rsquo;s lofty standards) the 1994 event in the United States served as a return to form. They captured Group B over Sweden, Russia, and Cameroon to take aim at the knockouts. First, they defeated the hosts in a surprisingly tight 1-0 game. In the quarterfinals they scored in the 81st minute to get by a game Netherlands 3-2. In the semis they faced Sweden who had come second in the group, and whom they only managed to draw at the group level. This time, however, Brazil came out on top behind an 80th minute goal from Romario. This propelled them into the finals where they again met their old antagonists, the Italians. After playing to a draw the game came down to penalties. Italy missed their last two kicks to enable Brazil to go over and become the first nation to win a fourth World Cup title. From this point to the present day only Brazil has a claim on being the greatest nation in the history of the competition.
				%aside.sidebar.image.right
					%img{:src => "../../images/features/world-cup/brazil-7.jpg"}/
					%p.caption Despite flopping in the finals under controversial circumstances, Brazil&rsquo;s Ronaldo was a revelation in 1998.
				%p The tournament shifted to France in 1998, and Brazil again topped their group despite losing to Norway after already clinching. In the knockouts they eased past Chile 4-1, then outlasted a strong Denmark side 3-2. In the semifinals Brazil faced the Netherlands, a rematch of the quarterfinals battle in 1994. This time they played to a draw with Brazil winning on penalties. This set up a crowd-pleasing final between the Brazilians and the host French side. France was on the ascent, with a young team preparing to be at or around the top of international football for the next decade and they gave Brazil an uncharacteristically heavy 3-0 loss to take the title.
				%aside.sidebar.image.left
					%img{:src => "../../images/features/world-cup/brazil-8.jpg"}/
					%p.caption Bouncing back from the 1998 Finals, Ronaldo scored both goals of the 2002 World Cup Finals, to make for a tournament-leading eight total.
				%p For Brazil, coming in as the runners-up in 1998 proved to be a down tournament between titles as they stormed to the championship in 2002. This time they trailed for only 27 minutes in their seven wins. After dominating Group G in winning all of their games with 11 goals for and three against, Brazil drew an overmatched Belgium in the round of 16 and won 2-0. Next came a 2-1 win over England followed by a narrow 1-0 win over a surprisingly game Turkey in the semifinals. This led to another exciting final as the three time champion Germans bid to tie the Brazilian record of four titles. While the game was tight and competitive Ronaldo opened the scoring in the 67th minute and scored again in the 79th to lead Brazil to their fifth title.
				%p Speaking of Germany, the 2006 edition moved to Deutschland. As usual Brazil won their group, albeit an easy one with Australia, Croatia, and Japan. First they faced and easily dispatched with Ghana 3-0 before facing France in a rematch of the 1998 tournament. France had crashed out in the 2002 group stage but were back in form. Star striker Thierry Henry scored for Les Bleus in the 57th minute to provide the only goal and send Brazil home early. In 2010 Brazil won a very competitive Group G over Portugal and the Ivory Coast, along with a flaccid North Korea. Another title run seemed to be in the offing with a 3-0 dispatch of Chile in the round of 16. However in the quarterfinals the Netherlands exacted some measure of revenge for past defeats, coming back from a 1-0 deficit to vanquish Brazil 2-1.
				%p This tale is already full of superlatives; what more can be said than Brazil stands as the single greatest nation in the dramatic global history of the greatest sports tournament: the World Cup. Playing with flair, boasting an array of memorable stars, and becoming synonymous with football in every corner of the world&mdash;no sport is more Brazilian than football, and nothing is more football than Brazil.
				.section-footer
					.col1
						%h4 Team Stats
						%table.team-stats
							%tbody
								%tr
									%td GP
									%td W
									%td D
									%td L
									%td GF
									%td GA
								%tr
									%td 97
									%td 67
									%td 15
									%td 15
									%td 210
									%td 88
							%h4 Best Team
							%p 1970, Champions (Third Title)
					.col2
						%h4 Starting XI
						%table.starting-xi
							%tbody

							%tr
								%td GK
								%td Gilmar (1953-1969)
							%tr
								%td DF
								%td Roberto Carlos (1992-2006)
							%tr
								%td DF
								%td Carlos Alberto (1964-1977)
							%tr
								%td DF
								%td Djalma Santos (1952-1968)
							%tr
								%td DF
								%td Nilton Santos (1949-1962)
							%tr
								%td MF
								%td Jarizinho (1964-1982)
							%tr
								%td MF
								%td Didi (1952-1962)
							%tr
								%td MF
								%td Rivelino (1965-1978)
							%tr
								%td *FW
								%td Pelé (1957-1971)
							%tr
								%td *FW
								%td Ronaldo (1994-2011)
							%tr
								%td *FW
								%td Garrincha (1955-1966)
						%h4 Second Starting XI
						%table.starting-xi
							%tbody

							%tr
								%td GK
								%td Taffarel (1988-1998)
							%tr
								%td DF
								%td Domingos da Guia (1931-1946)
							%tr
								%td DF
								%td Lúcio (2000-2011)
							%tr
								%td DF
								%td Cafu (1990-2006)
							%tr
								%td DF
								%td Bellini (1957-1966)
							%tr
								%td MF
								%td Zico (1976-1986)
							%tr
								%td MF
								%td Zizinho (1942-1957)
							%tr
								%td MF
								%td Gérson (1961-1972)
							%tr
								%td MF
								%td Sócrates (1979-1986)
							%tr
								%td FW
								%td Romário (1987-2005)
							%tr
								%td FW
								%td Leônidas (1932-1946)
		.article-nav
			%p Sections:
			%ul.the-article-nav
				%li <a href="#intro" data-section-index="0">Intro</a>
				%li <a href="#hungary" data-section-index="10">10. Hungary</a>
				%li <a href="#netherlands" data-section-index="9">9. Netherlands</a>
				%li <a href="#france" data-section-index="8">8. France</a>
				%li <a href="#england" data-section-index="7">7. England</a>
				%li <a href="#spain" data-section-index="6">6. Spain</a>
				%li <a href="#uruguay" data-section-index="5">5. Uruguay</a>
				%li <a href="#argentina" data-section-index="4">4. Argentina</a>
				%li <a href="#italy" data-section-index="3">3. Italy</a>
				%li <a href="#germany" data-section-index="2">2. Germany</a>
				%li <a href="#brazil" data-section-index="1">1. Brazil</a>
