// 404

body {
    background-image: url('../../images/404_2.png');
    background-position: 75% 70%;
    background-repeat: no-repeat;
}


.row404 {
    min-height: 800px;
    padding-top:250px;
    h1 {
        font-size: 5em;
    }
}
