@import "base/colors";
@import "base/type";
@import "../base/mixins";

body {
	background-image: linear-gradient(to bottom, fade-out(#FFF, 0.5) 0%, fade-out(#FFF, 0.5) 100%), url('../../images/404_2.png');
	background-position: 75% 70%;
	background-repeat: no-repeat;
}
.content-404 {
	min-height: 800px;
	padding: 250px 10%;
	h1 {
		font-size: 5em;
	}
}