@import "base/colors";
@import "base/type";
$border-radius: 4px;
$outer-sidebar-padding:20px;
$sidebar-padding:20px;
$center-padding:30px;

/************************************
 **  Careers
 ************************************/

#careers {
  .hero {
    background-image: image-url("careers/hero.jpg");
    background-position: center center;
    background-size: cover;      
  } //end of hero
    
  #mainContent {
    padding: 40px 20px;
    #choose-your-adventure {
        list-style:none;
        font-size:3.2rem;
        line-height: 3.5rem;
        margin-left:0px;
        margin-bottom:0px;
        vertical-align: top;
        li {
            display:inline-block;
            vertical-align: top;
            a {
                color:$gray;
                vertical-align: top;
            }
        }
        li:first-child {
            padding-right:1.4rem;  
            border:0px;
            border-right-width:3px;
            border-color:transparentize($gray, .8);
            border-style:solid;
        }
        li:last-child {
            padding-left:1.2rem;    
        }
        .selected {
            vertical-align: top;
            a {
                color:$black;
                vertical-align:top;
            }
        }
    }
      
       #engineer ul, #engineer ul li {
            font-size:26px;
            line-height:30px;
            letter-spacing:0.03em;
            word-spacing:0rem;
      }
      
    .subtitle {
        p {
            color: $gray;
            padding-top:10px;
        }
    }
  }
    
  .centerContent {
     padding-left:$center-padding;
     padding-right:$center-padding;
  }
  


}

#dbutton, #dbutton2, #attach_resume-02f6d985-bc3d-40a0-9bff-c8610111844b {
    padding-top:11px;
    padding-bottom:7px;
    width: calc(100% - 219px);
    min-width:209px;
}

#abutton, #abutton2 {
    padding-top:11px;   
}

#email-02f6d985-bc3d-40a0-9bff-c8610111844b, #email_content2-02f6d985-bc3d-40a0-9bff-c8610111844b, #email-dd49f7c5-9cae-4ca9-bdb0-0600abeaa95b, #email_content2-dd49f7c5-9cae-4ca9-bdb0-0600abeaa95b {
    width:100%;   
}