@import "base/colors";

#careers {
  .hero {
    background-image: url(/images/careers/hero.jpg);
  }

  #choose-your-adventure {
    text-align: center;
    width: 100%;

    li {
      float: left;
      width: 50%;

      a {
        font-size: 30px;
        color: #EBEBEB;
        text-decoration: none;
      }
      &.selected {
        a {
          background: $lightblue;
          color: #FFF;
        }
      }
    }
  }

  .career-path {
    clear: both;
  }

}
