@import "../base/core";

html,
body {
   @include font-size-map($font-size-body-new-pages);
}
#complex-case #mainContent .quote h2.quote-content {
  margin-top: 0;
}
article#complex-case {

	.no-top-margin {
		margin-top: 0px !important;
	}
	.no-bottom-margin {
		margin-bottom: 0px !important;
	}

	.small-bottom-margin {
		margin-bottom: 3em !important;
	}

	.small-top-margin {
		margin-top: 5em !important;
	}

	.very-small-top-margin {
		margin-top: 3.5em !important;
	}

	.large-bottom-margin {
		margin-bottom: 8em !important;
	}

	&.three-m {
		header.hero {
			background-image: url('../../images/clients/3m/3m-user-interface-sketches-grid.jpg');
		}
	}
	&.mount-sinai {
		header.hero {
			background-image: url('../../images/clients/mount-sinai/stephen-friend-ted-project-resilience.jpg');
		}
	}
	&.hgraph {
		header.hero {
			background-image: url('../../images/clients/hgraph/hgraph_ipad_physical_dark.jpg');
		}
	}
	&.diabetes {
		header.hero {
			background-image: url('../../images/clients/diabetes/intervention-framework-hero.jpg');
		}
	}
	&.pgp {
		header.hero {
			background-image: url('../../images/clients/personal-genome-project/pgp-openhumans-ecosystem-dark.jpg');
		}
	}
	&.staffplan {
		header.hero {
			background-image: url('../../images/clients/staffplan/staff-hero.jpg');
		}
	}
	&.oracle {
		header.hero {
			background-image: url('../../images/clients/oracle/oracle-agile-earlydesign-hero.jpg');
			background-position: 0 80%;
		}
	}
	header.hero {
		padding-top: 12%;
		.inner-title {
			max-width: 640px;
			margin: 0 auto;
			padding: 0px 10px;
		}
		@media only screen and (max-width: 900px) {
			padding-top: 8em;
		}
		h1, h3 {
			text-align: left;
			margin-left: 0px;
			text-shadow: 2px 2px transparentize($black, .8);
		}

		h1 {
			margin-bottom: 0.25em;
			color: $white;
		}
	}

	#mainContent {
		padding-top: 60px;

    ul li {
      margin-bottom: 10px;
    }

		p, h1, h2, h3, h4, h5, h6, ul, ol, dl {
			max-width: 640px;
			margin-left: auto;
			margin-right: auto;
			padding-left: 10px;
			padding-right: 10px;
			margin-top: 1.3em;
		}

		p, h2 {
			&.top {
				padding-top: 30px;
				&.double {
					padding-top:60px;
				}

				&.triple {
					padding-top:120px;
				}
			}
			&.bottom {
				margin-bottom: 0;
				padding-bottom: 40px;
				&.double {
					padding-bottom: 80px;
				}
			}
		}

		.caption, figcaption {
			padding-top: 5px;
			margin-top: 5px;
			color: $gray;
			margin-top: 7px;
			// margin-bottom: 5em;

			&.bottom {
				margin-bottom:30px;
			}
		}

		.center-video-content {
			max-width: 780px;
			margin: 0 auto;

			&.ted {
				background: $black;
				margin: 0 0 30px;
				max-width: 100%;
				text-align: center;

        iframe {
          width: 100%;
          min-height: 480px;
        }
			}
		}

		.center-image-content, .center-graph-content, .full-two-images {
			img {
				display: block;
				margin: 0 auto;
			}
		}

		figure, figure.center-image.content, .center-image-content {
			margin: 2em auto;
			padding-left: 10px;
			padding-right: 10px;
			position: relative;
			display: table;
			max-width: 640px;

			.caption, figcaption {
				display: table-caption;
				padding-left: 10px;
				padding-right: 10px;
				caption-side: bottom;
				&.overhead {
					caption-side: top;
					padding-top: 1em;
					padding-bottom: 1.75em;
				}
				&.underneath {
					padding-top: 1.75em;
					padding-bottom: 1em;
				}
			}
			&.large {
				max-width: 960px;
			}
		}

		.center-graph-content {
			padding: 1em;
			position: relative;
			&.no-vertical-padding {
				padding: 0 1rem;
			}
			svg {
				max-width: 100%;
				height: auto;
			}
		}

		.full-two-images {
			max-width: 100%;
			img {
				max-width: 100%;
			}
		}

		p.lead:first-letter {
			color: #d62a31;
			float: left;
			font-size: 75px;
			line-height: 60px;
			padding-top: 4px;
			padding-right: 5px;
			padding-left: 3px;
		}

		span.image-float {
			position:relative;
      float: left;
      width: 200px;
			padding: 18px;
			padding-left: 0px;
			padding-bottom: 20px;
      @include breakpoint(500px) {
        width: auto;
      }
      @include breakpoint(900px) {
        left: -120px;
        margin-right: -110px;
      }
		}
		.image-float .caption {
			display: block;
			margin-top: 5px;
		}
	}

	.quote {
		max-width: none;
		margin-left: 0px;
		margin-right: 0px;
		text-align: center;
		background-color: lighten($gray, 25%);
		padding: 60px 9%;

		.testimonial-image {
			width: 200px;
			height:200px;
			background-size: cover;
			border-radius:150px;
			margin:0 auto;
			margin-bottom:20px;

			&.moon {
				background-image: url('../../images/clients/3m/george-moon-vp-product.jpg');
			}

			&.levin {
				background-image: url('../../images/clients/mount-sinai/elissa-levin-mount-sinai.jpg');
			}
		}

		h2.quote-content {
			font-weight: 400;
			margin: 0 auto;
			max-width: 70rem;
      margin-top: 0;

      &.margin-bottom {
        margin-bottom: 30px;
      }
		}

		p.quote-author, .block-header {
			color: $gray;
		}
    .block-header {
      margin-bottom: 30px;
    }
	}

	#image-background {
		padding-bottom: 10em;
		div.row {
			max-width:80rem;
			margin: 0 auto;
		}
		background: linear-gradient(to bottom,  rgba(196,196,196,0.4) 0%,rgba(196,196,196,0.41) 1%,rgba(103,116,124,0.88) 10%,rgba(103,116,124,1) 20%), url('../../images/clients/3m/memorial-hermann-hospital.jpg');
		background-size: contain;
		padding-top: 200px;
		color: $white;
		.full-two-images {
			max-width: 1600px;
		}
		h1 {
			color: inherit;
		}
		.caption {
			margin-top: 7px;
			margin-bottom: 60px;
		}

    @include breakpoint(500px) {
      background: linear-gradient(to bottom,  rgba(196,196,196,0.4) 0%,rgba(196,196,196,0.41) 1%,rgba(103,116,124,0.88) 20%,rgba(103,116,124,1) 25%), url('../../images/clients/3m/memorial-hermann-hospital.jpg');
      background-size: contain;
    }
	}

	#email-content {
		padding-top: 30px;
		padding-bottom: 30px;
		max-width: none;
		background-color: #b9bfc2;
		h3 {
			max-width: 860px;
		}
		div.center-image-content {
			max-width: 860px;
			margin: 2em auto 0;
		}
		p.caption {
			color: $white;
			margin-left: 210px;
		}
	}

}

#next-project {
	max-width: 100%;
	margin-top: 0px;
	cursor: pointer;
	background-size: cover;
	background-position: center;
	padding: 80px 40px;
	div.next-title {
		max-width: 800px;
		margin: 0 auto;
		color: #f7f7f7;
	}
}

.hgraph-patterns {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 0 20px;

  div {
    width: 100%;

    @include breakpoint(650px) {
      width: 45%;
    }
  }
  div:last-of-type {
    margin-left: auto;
  }
}
