@import "base/colors";
@import "base/type";

body {
	background-image: url('../../images/google_map.png');
	background-size: cover;
	background-repeat: no-repeat;
}

#content-area {
	max-width: 760px;
	font-size: 1.2em;
}

#contactForm {
	padding: 100px 20px 80px;

	.form-title {
		line-height: 3.2rem;

		h3, h4 {
			margin-top: 0px;
			margin-bottom: 0px;
		}

		h3 {
			font-size: 3.2rem;
			line-height: 1rem;
			font-weight: 800;
			padding-top: 20px;
			margin-bottom: 0.25em;
		}

		h4 {
			display:inline-block;
			font-size: 1.5rem;
			line-height: 1.5rem;

			&.address {
				display:block;
				padding-bottom:7px;
			}

			&.phoneNumber a{
				color: $black;
				letter-spacing:0rem;
			}
		}
	}

	.hs-form fieldset {
		max-width:none;

		&.form-columns-1 .hs-input {
			width:100%;
		}
	}

	div.actions {
		width:auto;
	}

	ul.inputs-list.multi-container {
		margin: 0px;
		list-style: none;
		display: inline-block;
		font-size: inherit;
		line-height: inherit;

		li.hs-form-checkbox {
			margin: 0px;
			list-style: none;
			display: inline-block;
			font-size: inherit;
			line-height: inherit;

			label {
				margin: 0px;
				list-style: none;
				display: inline-block;
				font-size: inherit;
				line-height: inherit;
				width: auto;
				color:#666;

				input#subscribe_to_our_newsletter0-60744b7c-0aa6-40b2-9943-42137a951d16 {
					width: auto;
					margin-right:10px;
				}
			}
		}
	}

	#email_content2-60744b7c-0aa6-40b2-9943-42137a951d16 {
		height: 10em;
	}


	div.hs-form-checkbox-display {
		display:inline-block;
		color:$gray;
		padding-left:10px;
		vertical-align: baseline;
		width: calc(100% - 168px);
	}
}
