@import "base/mixins";
@import "base/colors";

ul {
	margin-left: 0;
}

ul.stat-label, ul.stat-data {
	list-style: none;
	li {
		text-align: center;
		display: inline-block;
	}   
}

ul.stat-data {
	margin-top: 0px;   
}

ul.stat-label {
	margin-bottom:5px;   
}

ul.starting-xi {
	list-style: none;
}

header.hero {
	background-image: url('../../images/soccer_dataviz.jpg');
	margin-bottom: 4em;
	padding-top: 0;
	max-height: none;
	min-height: none;
	.title {
		position: static;
		bottom: 0;
		padding: 12em 2.5em 10em;
		h2 {
			@include shadow-headline();
		}
		h3 {
			@include shadow-subline();
		}
		@media screen and (max-width: 1200px) {
			padding: 8em 2.5em 6em;
		}
		@media screen and (max-width: 1080px) {
			padding: 6em 2.5em 4em;
			h2 {
				font-size: 50px;
				font-size: 5rem;
				line-height: 50px;
				line-height: 5rem;
			}
		}
		@media screen and (max-width: 560px) {
			h2 {
				font-size: 35px;
				font-size: 3.5rem;
				line-height: 35px;
				line-height: 3.5rem;
			}
		}
	}
}

.row {
	max-width: 480px;
	max-width: 48rem;
	padding: 0 1.5em;
	> .row {
		margin-left: 0;
		margin-right: 0;
	}
}

#content {
	color: #2A2A2A;
	h1,  {
		max-width: 780px;
		max-width: 78rem;
		margin: 2em auto 1em;
		padding: 0 1.5em;
		font-size: 38px;
		font-size: 3.8rem;
		line-height: 1em;
		text-align: center;
	}
	h2 {
		font-size: 30px;
		font-size: 3rem;
	}
	p {
		font-size: 28px;
		line-height: 1.1em;
	}
	ul, ol, dl {
		margin-left: 0;
		font-size: 20px;
		line-height: 22px;
		li {
			margin-bottom: 1em;
		}
	}
	#caption {
		padding-top: 2em;
		color: #888;
	}
	.section-footer {
		margin-top: 2em;
		border-top: 1px solid #DDD;
		padding-top: 2em;
		h4 {
			font-size: 20px;
			font-size: 2rem;
			line-height: 1.1em;
		}
		@include clearfix();
		.col1, .col2 {
			width: 50%;
			float: left;
		}
		.col1 {
			padding-right: 0.5em;
		}
		.col2 {
			padding-left: 0.5em;
		}
		#caption {
			padding-top: 0;
			font-size: 18px;
		}
		@media screen and (max-width: 680px) {
			.col1, .col2 {
				width: 100%;
				padding: 0;
			}
		}
	}
	table {
		tr:nth-of-type(even) {
			background: #DDD;
			td { 
				color: #666;
			}
		}
		&.team-stats, &.starting-xi {
			table-layout: fixed;
			width: 100%;
		}
		&.team-stats {
			tr td {
				text-align: center;
				font-size: 18px;
				padding: 1em 0.5em;
			}
		}
		&.starting-xi {
			tr td {
				&:first-child {
					width: 25%;
					text-align: center;
				}
				padding: 0.5em;
			}
		}
	} 
	.article-nav {
		color: #888;
		padding: 2em;
		max-width: 1000px;
		max-width: 100rem;
		font-size: 18px;
		text-align: center;
		margin: 2.5em auto;
		text-align: center;
		p {
			font-size: 28px;
		}
	}
	.the-article-nav {
		list-style: none;
		margin: 0;
		@include clearfix();
		font-size: 0;
		text-align: center;
		li {
			font-size: 20px;
			display: inline-block;
			a {
				color: #888;
				transition: color 300ms ease, border 300ms ease;
				padding: 0.25em 1em;
				padding-bottom: 5px;
				border-bottom: 1px solid #CCC;
				white-space: nowrap;
				&:hover {
					color: #425f8e;
					border-bottom: 5px solid #425f8e;
				}
			}
		}
	}
	sup {
		font-size: 14px;
		line-height: 14px;
		font-weight: 700;
	}
	aside {
		p {
			font-size: 18px;
			line-height: 20px;
		}
		img {
			display: block;
			width: 100%;
			margin: 0 auto;
		}
		&.left {
			float: left;
			max-width: 300px;
			margin-left: -150px;
			padding-right: 2em;
		}
		&.right {
			float: right;
			max-width: 300px;
			margin-right: -150px;
			padding-left: 2em;
		}
		&.image {
			max-width: 400px;
			.caption {
				margin-top: 1em;
			}
		}
		@media screen and (max-width: 1330px) {
			&.left {
				margin-left: 0;
				float: none;
			}
			&.right {
				margin-right: 0;
				float: none;
			}
		}
	}
}