@import "../base/core";

body {
   background-color: #0d0d0d;
}

.header-content {
	max-width: 100%;
}

a {
	&.bar, &.left, &.right {
		text-decoration: none;
	}
}

#main-container {
	margin-top: 55px;
}

// Heros
#democracy {
	background-image: linear-gradient(to bottom, fade-out(#000, 0.5) 0%, fade-out(#000, 0.5) 100%), image-url('features/democracy/flag-hero.jpg');
}

#world-cup {
	background-image: linear-gradient(to bottom, fade-out(#000, 0.5) 0%, fade-out(#000, 0.5) 100%), image-url('features/world-cup/hero.jpg');
}

#hgraph {
	background-image: linear-gradient(to bottom, fade-out(#000, 0.5) 0%, fade-out(#000, 0.5) 100%), image-url('home/hgraph_large.png');
}

#walgreens {
	background-image: linear-gradient(to bottom, fade-out(#000, 0.5) 0%, fade-out(#000, 0.5) 100%), image-url('home/hgraph_ipad.jpg');
}

#three-m {
	background-image: linear-gradient(to bottom, fade-out(#000, 0.5) 0%, fade-out(#000, 0.5) 100%), image-url('home/3m.jpg');
}

#culture {
	background-image: linear-gradient(to bottom, fade-out(#000, 0.5) 0%, fade-out(#000, 0.5) 100%), image-url('home/culture.jpg');
}

#blog .title {
	background: fade-out(#000, 0.5);
}

.double {
	display: table;
	width: 100%;
}

.block {
	display: block;
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: 0 0 0px #000;
	transition: box-shadow 400ms ease;
	z-index: 0;
	&:hover {
		z-index: 20;
		box-shadow: 0 0 20px #000;
	}
	//Layouts
	&.bar {
		width: 100%;
	}
	&.half {
		display: table-cell;
		width: 50%;
	}
	// Styling
	.title {
		padding: 4em 3em;
		font-size: 1.25em;
		color: $white;
		text-shadow: 1px 1px #222;
		//Fix for OSX Font Rendering on Dark BG's
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		h2, h3, h5 {
			font-weight: 400;
			margin-bottom: 0;
		}
		h2 {
			font-size: 2.8em;
			margin-bottom: 0.25em;
		}
		h3 {
			font-size: 1.8em;
			font-style: italic;
		}
		.tag, .button {
			display: inline-block;
			margin-bottom: 1em;
			text-transform: uppercase;
			font-size: 1em;
			letter-spacing: 1px;
		}
	}
}

@media only screen and (max-width: 1024px) {
	.block .title {
		font-size: 1em;
	}
}

@media only screen and (max-width: 640px) {
	.double {
		display: block;
	}
	.block.half {
		display: block;
		width: 100%;
	}
}

