@import "base/colors";
@import "base/type";

$body-font-size: 22px;
$body-line-height: 26px;
$body-letter-spacing: 0.03em;

html, body {
	height: 100%;
	@media only screen and (max-width: 1020px) {
		height: auto;
	}
}

body {
   background-color: #0d0d0d; 
}

.homepage-header {
	width: 100%;
	position: relative;

	&.one {
		background: linear-gradient(to bottom, rgba(2,0,0,0.32) 0%,rgba(2,0,0,0.32) 12%,rgba(0,0,0,0.32) 100%), url(../../images/soccer_dataviz.jpg);
		background-size: cover;
		background-position: center 30%;
		height: 50%;
		.container {
			height: 100%;
			@media only screen and (max-width: 1020px) {
				height: auto;
			}
		}
		.title {
			position: relative;
			top: 60%;
			h2, h3, h4 {
				color: $white;
				font-weight: 400;
			}
			@media only screen and (max-height: 920px) {
				top: 50%;
			}
			@media only screen and (max-height: 600px) {
				top: 40%;
			}
			@media only screen and (max-width: 1230px) {
				h2 {
					font-size: 40px;
					font-size: 4rem;
					line-height: 40px;
					line-height: 4rem;
				}
				h3 {
					font-size: 25px;
					font-size: 2.5rem;
					line-height: 25px;
					line-height: 2.5rem;
				}
			}
			@media only screen and (max-width: 1020px) {
				top: 0;
				padding: 10em 5em 5em;
			}
		}
	}

	&.two, &.three {
		height: 50%;
		background: #333;
		float: left;
		width: 50%;
		.container {
			height: 100%;
			@media only screen and (max-width: 1020px) {
				height: auto;
			}
		}
		.title {
			position: relative;
			top: 18%;
			text-align: center;
			h2, h3, h4 {
				color: #444;
			}
			h2 {
				font-size: 40px;
				font-size: 4rem;
				line-height: 40px;
				line-height: 4rem;
			}
		}	
	}

	&.two {
		background-image: image-url("home/hgraph_large.png");
		background-color: #FFF;
		background-repeat: no-repeat;
		background-position: center -140%;
		transition: background-position 300ms ease;
		&:hover {
			background-position: center -150%;
		}
		.title {
			h2 {
				font-size: 30px;
				font-size: 3.0rem;
				line-height: 30px;
				line-height: 3.0rem;
				font-weight: 400;
			}
			h3 {
				font-size: 20px;
				font-size: 2.0rem;
				line-height: 20px;
				line-height: 2.0rem;
				font-weight: 400;
			}
			@media only screen and (max-width: 1470px) {
				h2 {
					font-size: 22px;
					font-size: 2.2rem;
					line-height: 22px;
					line-height: 2.2rem;
				}
				h3 {
					font-size: 14px;
					font-size: 1.4rem;
					line-height: 14px;
					line-height: 1.4rem;
				}
			}
			.light-button {
				display: inline-block;
				margin-top: 15px;
				padding: 0.65em 0.75em;
				border: 1px solid #FFF;
				border-radius: 5px;
				color: #FFF;
				font-size: 22px;
				text-shadow: 1px 1px 0 #444;
			}
		}
		@media screen and (max-height: 940px) {
			&.infobionic {
				h2 {
					font-size: 22px;
					font-size: 2.2rem;
					line-height: 22px;
					line-height: 2.2rem;
				}
				h3 {
					font-size: 14px;
					font-size: 1.4rem;
					line-height: 14px;
					line-height: 1.4rem;
				}
			}
		}
		@media screen and (max-height: 840px) {
			&.walgreens {
				h2 {
					font-size: 22px;
					font-size: 2.2rem;
					line-height: 22px;
					line-height: 2.2rem;
				}
				h3 {
					font-size: 14px;
					font-size: 1.4rem;
					line-height: 14px;
					line-height: 1.4rem;
				}
			}
		}
		@media only screen and (max-height: 680px) {
			.title {
				top: 15%;
			}
			&.wallgreens, &.infobionic {
				h2 {
					font-size: 18px;
					font-size: 1.8rem;
					line-height: 18px;
					line-height: 1.8rem;
				}
				h3 {
					font-size: 12px;
					font-size: 1.2rem;
					line-height: 12px;
					line-height: 1.2rem;
				}
			}
		}
		@media only screen and (max-width: 1020px) {
			.title {
				top: 0;
				padding: 5em;
			}
		}
	}

	&.three .title {
		h2 {
			font-size: 60px;
			font-size: 6rem;
			line-height: 60px;
			line-height: 6rem;
		}
	}

	&#hot-swap {
		background-position: center;
		background-size: cover;
		transition: none;
		&.three-m {
			background-image: url('../../images/home/3m.jpg');
		}
		&.infobionic {
			background-image: url('../../images/home/ib.jpg');
		}
		&.walgreens {
			background-image: url('../../images/home/hgraph_ipad.jpg');
		}
		.container {
			h2, h3 {
				color: #FFF;
				text-shadow: 1px 1px 0 #888;
			}
		}
	}

	.title {
		width: 100%;
		padding: 0 5em;
		h2 {
			font-size: 55px;
			font-size: 5.5rem;
			line-height: 55px;
			line-height: 5.5rem;
			font-weight: 800;   
		}
		
		h3 {
			margin-top: -2px;
			font-size: 3rem;
			line-height: 3rem;
			font-weight: 800; 
		}
		
		h4 {
			margin-top: 10px;
			font-size: $body-font-size;
			line-height: $body-line-height;
		}
	}

}

#page-wrapper {
	height: 100%;
}

#main-container {
	@include clearfix();
	height: 100%;
	.container {
		position: relative;
		height: 100%;
	}
}

#main-footer {
	position: absolute;
	bottom: 0;
	background: fade-out(#000, 0.1);
	@media only screen and (max-width: 1020px) {
		position: static;
	}
}