img {
  padding: 30px 0;
}

p {
  &.quote {
    padding-left: 50px;
    margin-left: -50px;
    background-image: url(/images/sections/case-studies/quote.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 42px;
  }
}

.similar-project-container {
  border-top: 1px solid #ddd;
}
