@import "base/mixins";
@import "base/colors";

#the-studio {
  .hero {
    background-image: image-url("studio.jpg");
  }
    
  .content {
    padding-bottom:30px;
    margin:0 auto;
  }
}

.social-card {
    cursor: pointer;
    overflow:hidden;
    @include box-shadow(1px 1px 1px transparentize($black, 0.3));
    position:relative;
    margin-top:30px;
    margin-left:10px;
    margin-right:10px;
    width:320px;
    min-width:320px;
    min-height:213px;
    border: 1px solid transparentize($gray, 0.6);
    
    .avatar {
        height: 50px;
        width: 50px;
        border: 1px solid #FFF;
        @include border-radius(25px);
        background-size: cover;
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

   &:hover {
     .caption {
       bottom: 0;
       @include opacity(1.0);
     }
   }
    
    .caption {
        padding: 5px 65px 5px 10px;
        margin-bottom:0px;
        width: 100%;
        color: $white;
        position: absolute;
        bottom: -100px;
        @include opacity(0.0);
        @include transparent-background($black, 0.25);
        @include transition(all 0.5s ease-in-out);
  }
    
    &.photo {
        background-size:cover;
        &.portrait {
            min-height:456px;
        }
        &.landscape {
            min-width:660px;
            
            &.super-long {
                min-width:1000px;   
            }
        }
    
    }
    
    &.soundcloud {
        min-width:660px;
        p.contents {
            padding:10px;
            padding-bottom:20px;
        }
    }
    
    &.tweet, &.github {
        height:auto;
        min-height: 100px;
        p.contents {
            padding:10px;   
            padding-bottom:20px;
            height:auto;
        }
    }
}


