@import "base/mixins";
@import "base/colors";
@import "base/type";

$stats-padding:40px;
$icon-size:25px;
$ethics-padding:30px;

  .hero {
    background-image: url(/images/team/hero.png);
    background-position: center center;
    background-size: cover;
  }

.row.main-content {
    padding: 40px;   
}

.team-cards {
    .team-card {
        background-color:$darkgray;
        background-size:contain;
        height:0px;
        padding-bottom:60%;
        position:relative;
        .stats {
            color:$white;
            padding-left: $stats-padding;
            padding-right:$stats-padding;
            padding-top: $stats-padding;
            
            h3 {
                color: $white;
                font-size:3.2em;
                line-height: .9em;
            }
            
            h4 {
                color:$white;
                font-size:1.4em;
                letter-spacing: .04em;
                line-height: .9em;
            }
            
            .social-icons {
                list-style: none;
                margin-left:0px;
                margin-right:0px;
                padding-left:0px;
                padding-right:0px;
                
                li {
                    display:inline-block;
                    margin-right: 10px;
                    max-width:$icon-size;
                    max-height:$icon-size;
                    vertica-align:center;
                }
            }
            
            .bio {
                width: 42%; 
                font-size:1.4em;
                letter-spacing: .04em;
                line-height: 1.2em;
            }
        }
        
        .character-sheet {
            color:transparentize($white, .3);
            background-color:transparentize($black, .5);
            height: 100px;
            width:100%;
            position:absolute;
            bottom:0;
            
        }
    }
    
}

.sidebar {
    
    .code-of-ethics {
        text-align:center;
        color:$darkgray;
        background-color:transparentize($blue, .97);
        h2, h3 {
            color:$darkgray;
            em {
                font-family: $base-font-italic;  
            }
            line-height: 1.2em;
        }
        
        h2 {
            margin-bottom:$ethics-padding;  
            padding-top:$ethics-padding;
        }
        
        p {
            width: 80%;
            margin: 0 auto;
            margin-bottom:$ethics-padding;
            line-height: 1.2em;
        }
        
        p:last-child {
            padding-bottom: $ethics-padding;       
        }
    }
    
}
