
/************************************
 **  Thank you
 ************************************/

body {
	background-image: url('../../images/background_thanks.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.thank-you-row {
  min-height: 800px;
  padding-top:250px;
}