@import "compass/css3/box-shadow";
@import "compass/css3/transition";
@import "../base/core";

#projects {
	.hero {
		background-image: url('../../images/work/work.jpg');
		background-position: center 65%;
		margin-bottom: 15px;
		h2 {
			@include shadow-headline();
		}
		h3 {
			@include shadow-subline();
		}
	}
	
	.phase-container {
		float: left;
		position: relative;
	}
	
	// probably the only media query outside of queries.css.scss ... it's also for the phase graph that we are not using.
	@media only screen and (min-width: 40.063em) {
		.phase-container {
			height: 150px;
		}
	}
	
	label {
		font-size: 19px;
		line-height: 21px;
		letter-spacing: 0.03rem;
		cursor:text;
	}
	
	.phase {
		position: absolute;
		bottom: 0;
		width: 100%;
	
		.service-areas, .staffing {
			font-size: 12px;
			line-height: 14px;
			letter-spacing:0.03rem;
		}
	}

	select {
		&:focus {
			outline: none;
		}
	}

	.projects-container {
		padding-bottom: 2em;
	}

	.project {
		display: inline-block;
		padding: 1em;
		width: calc(100%/3);
		&:last-child {
			float: left;
		}
		&:hover {
			cursor: pointer;
		}
		.project-info {
			padding: 10px;
		}
		@media screen and (max-width: 940px) {
			width: 100%;
		}
	}
	
	.project h3 {
		font-size: 1.8rem;
		line-height: 1.8rem;
		margin: 0;
		margin-top: 0.5em;
	}
	
	a.button {
		font-size: 19px;
		line-height: 21px;
		letter-spacing: 0.03rem;
	}
	
	.description {
		padding-right: 50px;
		margin-bottom: 0;
	}

	.practice-areas {
		color: #AAA;
		font-size: 19px;
		line-height: 21px;
	}

	.project-image {
		background-size: 100%;
		background-size: cover;
		height: 250px;   
		cursor: pointer;
	}
	
	h3, .practice-areas {
		height: auto;
	}
	
	a.button.read-story {
		background-color: #43597b;
		color: $white;
	}

	a.button.read-story:hover {
		background-color: rgba(67, 89, 123, 0.8);
		color: $white;
	}
}
