@import "../base/core";

html,
body {
	@include font-size-map($font-size-body-new-pages);
}

#article-header {
	background-color: #f9f9f9;
	position: relative;

	.header-image {
		margin: 0 auto;
	}

	.title {
		text-align: center;
		margin: 0 auto;
		padding: 50px 25px 20px 25px;
	}

	.button-h {
		display: inline-block;
		position: absolute;
		bottom: 40px;
		left: 50%;
		padding: 8px 20px 6px 20px;
		color: $black;
		border-radius: 3px;
		border: 1px solid $black;
		transform: translateX(-50%);
		transition: 300ms ease-in-out;
		cursor: pointer;

		&:hover {
			background-color: rgba(249, 249, 249, .6);
		}

		@media only screen and (max-width: 600px) {
			bottom: 25px;
		}
		@media only screen and (max-width: 400px) {
			bottom: 15px;
		}

	}
}

.projects-row {
	display: flex;
	flex-wrap: wrap;
  justify-content: center;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0px 5px;

	.project {
		flex: 0 0 33%;
		max-width: 410px;
		padding: 0px 5px;
		cursor: pointer;
		color: black;
		margin: 1rem auto;

		.top-description {
			font-weight: $font-weight-bold;
			text-align: center;
			padding-bottom: 10px;
			vertical-align: text-bottom;
		}

		.image-wrapper {
			max-height: 264px;
			overflow: hidden;

			img {
				transform: scale(1,1);
				transition: 300ms ease-in-out;
			}
		}

		.bottom-description,
		.company-name {
			padding: 5px 15px;
		}

		.bottom-description {
			padding-top: 20px;
		}

		.company-name {
			color: #C8C8C8;
		}

		&:hover {
			.image-wrapper img {
				transform: scale(1.03, 1.03);
			}
		}

		@media only screen and (max-width: 640px) {
			flex: 0 0 100%;
		}

	}

	&.impact {
    padding: 5px;

		.project {
      flex: 0 0 98%;
      margin: 5px;
      padding: 30px;
			text-align: center;
      background: rgb(235,235,235);
      cursor: default;

			.project-title {
				font-size: 32px;
				padding: 20px;
			}
		}
	}

	&.margin-bottom {
		margin-bottom: 100px;
		@media only screen and (max-width: 640px) {
			margin-bottom: 0px;
		}
	}
	&.bottom-margin-2 {
		margin-bottom: 12px;
	}

}

.bottom-margin {
	margin-bottom: 4em;

	&.large-margin {
		margin-bottom: 8em;
	}
}

.top-margin {
	margin-top: 4em;
}

.dataxu-container {
	width: 100%;
	background-color: #A9CAE5;
	border-bottom: 1px solid #A9CAE5;
	height: 520px;
	overflow: hidden;

	@media only screen and (max-width: 820px) {
		height: auto;
	}

	.dataxu-wrapper {
		position:relative;
		margin: 0 auto;
		max-width: 1280px;
	}

	.left-content {
		position: absolute;
		width: calc(100% - 400px);
		left: 0;
		top: 0;
		padding: 40px 20px 0px 60px;

		@media only screen and (max-width: 820px) {
				display:none
		}

		.image-container {
			height: 500px;
			width: 100%;
			max-width: 840px;
			background-image: image-url('enterprise/dx-full.png');
			background-size: contain;
			background-repeat: no-repeat;
			background-position: bottom;
			margin-top: -15px;

			@media only screen and (max-width: 1075px) {
				background-position: center;
			}


		}
	}

	.right-content {
		position: absolute;
		right:0;
		top: 0;
		width: 400px;
		padding: 40px 20px 40px 0px;

		@media only screen and (max-width: 820px) {
			position: static;
			width: 100%;
			padding: 40px;
		}

		.button {
			font-size: 23px;
			line-height: 28px;
			border: 1px solid black;
			border-radius: 3px;
			width: auto;
			display: inline-block;
			padding: 5px 15px;
			cursor: pointer;
			background-color: transparent;
			transition: 300ms ease-in-out;
			margin-bottom: 10px;
			margin-top: 30px;
			color: black;
			text-align: center;

			&:hover {
				background-color: rgba(255, 255, 255, .1);
			}

			@media  only screen and (max-width: 1000px) {
				font-size: 18px;
				line-height: 22px;
				width: 80%;
			}
		}
	}

	.logo {
		width: 126px;
		height: 28px;
		background-image: image-url('enterprise/partners/dataxu.png');
		margin-bottom: 15px;
	}

}

.mountsinai-container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	background-color: #F6F7F6;

	.left-content {
		width: 100%;
		padding: 20px 40px;

		@include breakpoint(1000px) {
			width: 50%;
		}


		.button {
			color: black;
			border: 1px solid black;
			border-radius: 3px;
			width: auto;
			display: inline-block;
			padding: 5px 15px;
			cursor: pointer;
			margin-top: 20px;
			text-align: center;
			transition: background-color 250ms;

			&:hover {
				background-color: rgba(255,255,255, 0.5);
			}
		}

		.quote {
				padding: 0;
				margin: 0;
				padding-top: 10px;
				max-width: 85%;
				@media only screen and (max-width: 750px) {
					margin: 0 auto;
					max-width: 100%;
				}
		}
	}

	.right-content {
		width: 100%;
		height: 300px;
		padding-top: 30px;
		overflow: hidden;

		@include breakpoint(1000px) {
			width: 50%;
			height: auto;
		}

		.image-container {
			position: relative;
			width: 100%;
			height: 100%;
			margin-top: 0px;
			background-image: image-url('healthcare/res_proj.png');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: top left;

		}
		.ted-container {
			bottom: 0;
			right: 0;
			width: 80%;
			height: 100px;
			transition: 300ms ease-in-out;
			position: absolute;

			@include breakpoint(650px) {
				width: 50%;
			}

			img {
				width: 100%;
				height: auto;
				position: absolute;
				bottom: 0px;
				left: 0px;
			}

		}
	}
}

.office-hours {
	h2:first-of-type {
		color: $white;
	}
	h2:nth-of-type(2) {
		color: #A1BAD8;

		a, a:visited {
			color: #A1BAD8;
			text-decoration: underline;

			&:hover {
				color: $white;
			}
		}
	}
}

.partners {
	background-color: #F9F9F9;
	text-align: center;
	padding-bottom: 30px;
	color: #9B9B9B;

	h2 {
		margin-bottom: 30px;
		padding-top: 60px;
	}


	ul {
		display: flex;
		flex-wrap: wrap;
		list-style: none;

		li {
			flex: 1 1 200px;
			margin-bottom: 40px;
			text-align: center;

			a {
				display: flex;
				flex-direction: column;
				justify-content: center;
				width: 100%;
				height: 100%;
			}
			img {
				margin: 0 auto;
			}
		}
	}

}


.office-hours {
	width: 100%;
	background-color: #3B6FA8;
	text-align: center;
	padding: 35px 10px;

	.small-title {
		font-weight: 100;
		@media only screen and (max-width: 615px) {
			font-size: 28px;
			line-height: 34px;
		}
		@media only screen and (max-width: 520px) {
			font-size: 24px;
			line-height: 28px;
		}
		@media only screen and (max-width: 449px) {
			font-size: 22px;
			line-height: 28px;
		}
	}

}

.enterprise-banner {
	color: #9B9B9B;
	background: radial-gradient(100% 80% at bottom, #8DA1B7, #F9F9F9);
	text-align: center;
	max-height: 360px;
	padding-top: 30px;
	overflow: hidden;

	img {
		margin: 0 auto;
		width: 80%;
		max-width: 950px;
	}

	.button {
		display: inline-block;
		margin: 10px auto;
		color: #9B9B9B;
		border-radius: 3px;
		border: 1px solid #9B9B9B;
		cursor: pointer;
    transition: background-color 250ms;

    &:hover {
      background-color: transparentize(#9B9B9B, .95);
    }
	}
}

.hero-video-container {
	width: 100%;
	background-color: black;
	position: relative;
	.video-player {
		margin: 0 auto;
		width: 894px;
		display: none;
		padding: 20px 20px;
		@media only screen and (max-width: 894px) {
			width: auto;
		}
	}
	.video-banner {
		width: 100%;
		min-height: 520px;
		position: relative;
		opacity: 1;
		transition: opacity 300ms ease-in-out;

		.video-background {
			background-size: cover;
			width: 100%;
			min-height: 520px;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1;

			@media only screen and (max-width: 760px) {
				top: 500px;
				background-position-x: center;
			}

			@media only screen and (min-width: 1780px) {
				background-position-y: center;
			}
		}

		&#res-proj .video-background{
			background-image: image-url('healthcare/res-video-image.png');
		}

		&#juhan-vid .video-background {
			background-image: image-url('healthcare/juhan_vid.png');
		}

		.video-text {
			z-index: 20;
			color: white;
			max-width: 40%;
			position: absolute;
			left: 60px;
			top: 40px;

			@media only screen and (max-width: 760px) {
				max-width: calc(100% - 40px);
				left: 20px;
			}

			.video-title {
				z-index: 20;
				font-size: 50px;
				line-height: 55px;
				min-width: 460px;
				margin-bottom: 20px;
				@media only screen and (max-width: 760px) {
					min-width: 0px;
					padding-right: 20px;
				}
			}
			.video-summary {
				z-index: 20;
				min-width: 329px;
				width: 70%;
				@media only screen and (max-width: 750px) {
					width: calc(100%);
					min-width: 0px;
				}
				p {
					font-size: 22px;
					line-height: 30px;
					font-weight: 100;
				}
			}
		}

		.video-control-button {
			z-index: 10;
			width: 100px;
			height: 100px;
			cursor: pointer;
			transition: 300ms ease-in-out;
			position: absolute;
			left: 60%;
			bottom: 210px;

			@media only screen and (max-width: 940px) {
				left: 75%;
			}

			@media only screen and (max-width: 760px) {
				left: calc(50% - 50px);
				bottom: -375px;
			}

			.play {
				width: 100%;
				height: 100%;
				background: image-url('play_button.png');
			}
		}
	}
}


#products {
	#article-header {
		height: 450px;
		background-image: image-url('products/hero.png');
		background-size: cover;
		background-repeat:none;

		h1.title {
			margin: 0px;
			margin-left: 60px;
			padding-top: 50px;
			color: $white;
			text-align: left;
		}
		a {
			display: inline-block;
			margin-left: 25px;

			@include breakpoint(651px) {
				margin-left: 85px;
			}
		}
		.button-h {
			display: inline-block;
			position: relative;
			bottom: auto;
			left: auto;
			color: $white;
			border-color: $white;
			transform: none;
		}

		@media only screen and (max-width: 1170px) {
			h1.title {
				font-size: 50px;
			}
		}

		@media only screen and (max-width: 950px) {
			h1.title {
				width: 600px;
			}
		}

		@media only screen and (max-width: 650px) {
			h1.title {
				padding-right: 20px;
				padding-left: 20px;
				margin-left: 0px;
				margin: 0 auto;
				font-size: 40px;
			}
			.button-h {
				width: 100%;
				margin: 0 auto;
				text-align: center;
			}
		}
	}

}

#enterprise {
	#article-header {
		padding-bottom: 40px;
		margin-bottom: 100px;
	}

	.projects-row .project-item {
		.top-description {
			@media only screen and (max-width: 1194px) and (min-width: 654px) {
				min-height: 74px;
			}
			@media only screen and (max-width: 654px) and (min-width: 640px) {
				min-height: 79px;
			}
		}
	}

}

#healthcare {
	.projects-row .project-item {
		.top-description {
			@media only screen and (max-width: 674px) and (min-width: 640px) {
				min-height: 56px !important;
			}
		}
	}
}

.design-med-wrapper {
	width: 100%;
	padding: 40px;
	background-image: image-url('products/design-med.png');
	background-size: cover;
	background-position: top;
	.content {
		width: 45%;
		color: $white;
		margin-bottom: 40px;
		min-height: 400px;

		p {
			width:87%;
		}

		@media only screen and (max-width: 850px) {
			width: 80%;
		}
		@media only screen and (max-width: 650px) {
			width: 100%;
		}
	}
}

.open-source-projects {
	width: 100%;
	padding: 40px 0px;
	padding-top: 50px;
	margin: 40px 0px;
	margin-bottom: 190px;
	background-color: rgba(156, 174, 189, 0.05);

	h2 {
		text-align: center;
		margin-bottom: 50px;
	}

	.open-source-row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
		max-width: 1280px;
		padding-top: 40px;

		@media only screen and (max-width: 740px) {
			padding-top: 0px;
		}

		.open-source-project {
			flex: 1 1 400px;
			padding: 10px 10px 20px 10px;

			> a .icon {
				transition: 400ms ease-in-out;
			}

			&:hover {
				 > a .icon {
					transform: scale(1.15, 1.15);
				 }
			}

			&#open-paintrackr {
				> a .icon {
					background-image: image-url('products/open-source/paintrackr.png');
					background-size: cover;
					background-repeat: no-repeat;
					background-position: 0px;
				}
			}

			&#open-playbook {
				> a .icon {
					background-image: image-url('products/open-source/playbook.png');
					background-size: cover;
					background-repeat: no-repeat;
					background-position: 0px;
				}
			}

			&#open-determinants-of-health {
				> a .icon {
					background-image: image-url('products/determinants-of-health.png');
					background-size: cover;
					background-repeat: no-repeat;
					background-position: -53px;
				}
			}

			&#open-runnan {
				> a .icon {
					background-image: image-url('products/open-source/runnan.png');
					background-size: 113%;
					background-repeat: no-repeat;
					background-position: -4px -10px;
				}
			}

			&#open-pophealth {
				> a .icon {
					background-image: image-url('products/open-source/pop_health.svg');
					background-size: 137%;
					background-repeat: no-repeat;
					background-position: -18px -3px;

					@media only screen and (max-width: 960px) and (min-width: 790px){
						background-position: -14px -3px;
					}
					@media only screen and (max-width: 790px) and (min-width: 740px){
						background-position: -9px -2px;
					}
				}
			}

			&#open-pearl {
				> a .icon {
					background-image: image-url('products/open-source/pearl.png');
					background-size: 120%;
					background-repeat: no-repeat;
					background-position: -10px -8px;
				}
			}

			&#open-inspired-ehrs {
				> a .icon {
					background-image: image-url('products/open-source/ehr.svg');
					background-size: 130%;
					background-position-x: -15px;
					background-position-y: -15px;
					background-color: white;
				}
			}

			&#open-visual-government {
				> a .icon {
					background-image: image-url('products/open-source/visual_budget.svg');
					background-size: 130%;
					background-position: -15px;

					@media only screen and (max-width: 790px) and (min-width: 740px){
						background-position: -9px;
					}
				}
			}

			&#open-hmixer {
				> a .icon {
					background-image: image-url('products/open-source/hmixer.svg');
					background-size: 102%;
				}
			}

			&#open-hgraph {
				> a .icon {
					background-image: image-url('products/open-source/hgraph.svg');
					background-size: 115%;
					background-position: -7px -5px;

					@media only screen and (max-width: 790px) and (min-width: 740px) {
						background-position: -4px -2px;
					}
				}
			}

			&#open-care-cards {
				> a .icon {
					background-image: image-url('products/open-source/health.png');
					background-size: contain;
				}
			}

			&#open-design-axioms {
				> a .icon {
					background-image: image-url('products/open-source/design.png');
					background-size: 174%;
					background-position-y: 35%;
					background-position-x: 18%;
				}
			}

			> a .icon {
				&:hover {
					transform: scale(1.2, 1.2);
				}
			}


			.icon, .info {
				display: inline-block;
				vertical-align: top;
			}
			.icon {
				width: 100px;
				height: 100px;
				background-color: none;
				border-radius: 100px;
				box-shadow: 0px 2px 5px #888888;

				@media only screen and (max-width: 960px) {
					width: 75px;
					height: 75px;
					border-radius: 75px;
				}

				@media only screen and (max-width: 790px) {
					width: 50px;
					height: 50px;
					border-radius: 50px;
				}
				@media only screen and (max-width: 740px) {
					width: 100px;
					height: 100px;
					border-radius: 100px;
				}
			}
			.info {
				width: calc(100% - 105px);
				padding-left: 15px;

				@media only screen and (max-width: 960px) {
					width: calc(100% - 80px);
				}
				@media only screen and (max-width: 790px) {
					width: calc(100% - 55px);
				}
				@media only screen and (max-width: 740px) {
					width: calc(100% - 105px);
				}

				.title {
					font-size: 2em;
					display:block;
					color: black;

					&:hover {
						text-decoration: underline;
					}
				}

				.description {
					margin-top: 2px;
          margin-bottom: 10px;
				}
			}

		}
	}

}

.runnan-video {
	width: 100%;
	height: 450px;
	position: relative;
	cursor: pointer;

	@media only screen and (min-width: 1600px) {
		height: 750px;
		video {
			top: 60px !important;
		}
	}

	@media only screen and (min-width: 1280px) and (max-width: 1600px) {
		height: 650px;
	}

	@media only screen and (min-width: 1040px) and (max-width: 1280px) {
		height: 550px;
	}

	@media only screen and (min-width: 760px) and (max-width: 1040px) {
		height: 450px;
	}

	@media only screen and (min-width: 490px) and (max-width: 760px) {
		height: 350px;
	}

	@media only screen and (max-width: 490px) {
		height: 350px;
	}

	.button {
		position: absolute;
		bottom: 10%;
		left: 5%;

		@media only screen and (max-width: 1280px) {
			top: 10%;
			bottom: auto;
		}

		@media only screen and (max-width: 742px) and (min-width: 626px) {
			left: calc(50% - 180px);
		}

		@media only screen and (max-width: 626px) and (min-width: 538px) {
			left: calc(50% - 155px);
		}

		@media only screen and (max-width: 538px) and (min-width: 0px) {
			left: calc(50% - 25%);
		}

		z-index:10;
		max-width: 50%;
		font-size: 30px;
		line-height: 36px;

		border: 1px solid black;
		border-radius: 3px;
		width: auto;
		display: inline-block;
		padding: 5px 15px;
		cursor: pointer;
		transition: 300ms ease-in-out;
		color: black;
		text-align: center;
		background-color: rgba(255,255,255,.4);

		&:hover {
			background-color: rgba(255,255,255,.6);
		}
	}

	//Video
	#video-bg {
	  position: absolute;
	  top: 0; right: 0; bottom: 0; left: 0;
	  overflow: hidden;
	  z-index: 5;
	}
	#video-bg > video {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	}
	/* 1. No object-fit support: */
	@media (min-aspect-ratio: 16/9) {
	  #video-bg > video {  width: 100%; height: auto; left: 0; bottom: 0; top: auto; }
	}
	@media (max-aspect-ratio: 16/9) {
	  #video-bg > video { width: 100%; height: auto; left: 0; bottom: 0; top: auto; }
	}
	/* 2. If supporting object-fit, overriding (1): */
	@supports (object-fit: cover) {
	  #video-bg > video {
		top: 0; left: 0;
		width: 100%; height: 100%;
		object-fit: cover;
	  }
	}

	@media screen and (-webkit-min-device-pixel-ratio:0) {
		#video-bg > video {
			top: 0; left: 0;
			width: 100%; height: 100%;
			object-fit: cover;
	  }
	}
}

.micro-hs-form {
	background: #232323;
	width: auto;
	margin: 0 auto;
	padding: 30px 30px;
	text-align: center;

	h2 {
		color: white;
		margin-bottom: 15px;
	}
}

.hbspt-form {
	margin: 0 auto;
	max-width: 1280px;
}

#hsForm_7ed4769c-d25a-4da4-b741-5c77055470ec {

	fieldset {
		max-width: none;
	}

	.hs-input {
		border: 2px solid #a3a3a4;
	}
}
