- content_for(:title) do
  	= "Learning"
- content_for(:page_head) do
	= stylesheet_link_tag "sections/process"
	%meta{:name => "description", :content => "Involution Studios is a user interface and software design firm located in Boston. We create great user experiences for deskop, mobile, and web applications."}/
  	%meta{:name => "keywords", :content => "boston user interface design, boston ui design, boston web application design, boston application design, boston mobile design, boston mobile application design, boston software design"}/

.row
	%header.nav-menu
		%nav
			%a.nav-link{:href => asset_url('work/process')} Intro
			%a.nav-link.current{:href => asset_url('work/process/learning')} 1. Learning
			%a.nav-link{:href => asset_url('work/process/envision')} 2. Envision
			%a.nav-link{:href => asset_url('work/process/blueprint')} 3. Blueprint
			%a.nav-link{:href => asset_url('work/process/craft')} 4. Craft
			%a.nav-link{:href => asset_url('work/process/build')} 5. Build
			%a.nav-link{:href => asset_url('work/process/support')} 6. Support
			%a.nav-link{:href => asset_url('work/process/communication')} Communication
			%a.nav-link{:href => asset_url('work/process/training')} Training
%section.process-section.learning
	= image_tag('process/jpg/process1.jpg')
	%header.section-header
		%h1 1. Learning
		%h2 The deeper our understanding, the more transformative our service to you.
	.section-content
		%h3 Great preparation breeds great success.
		%p Each conversation we have with you, we&rsquo;re learning.
		%p Each time we look at the digital solutions of your competitors, we&rsquo;re learning.
		%p Each strategic document we read or discuss with you, we&rsquo;re learning.
		%p Each user we talk to, we&rsquo;re learning.
		%p Needless to say, we spend a lot of time learning. Some of that is actual research that is an explicit part of our work together. Some is a natural byproduct of other activities that is organic and not research-intensive. But one way or another, learning provides the foundation to whatever we do for you.

		%h3 The value of including research.
		%p In our experience, clients looking for consulting or software design often see research as a superfluous part of the project. They want their money going toward face time with our leadership, or more hours of our designers and engineers making their magic. While this is understandable it is also short-sighted. Research provides clarity. It makes everything we do after the learning smarter, better informed and more precise. Each dollar you spend is that much more effective.
		%p Our recommendation is for 20% of any project budget to go toward research. Most clients aren&rsquo;t up for that. The ones that are - market leaders like xxx, xxx and xxx - have no complaints about how that spend worked out. If you just aren&rsquo;t seeing it, that&rsquo;s alright. We do outstanding work with ideal, some or no formal research. But it is an absolute truth that more research makes our work for you better. The value is there.

		%h3 Research as an integrated activity.
		%p Most of our research is being done by the people doing the rest of the work. That means our leadership, designers and engineers. We also encourage your key stakeholders to be core to the process as well. This is because we believe in experiential research: seeing it all for yourself. This flies in the face of more typical, formal approaches to research, where formal researchers and specialists &ldquo;go off&rdquo; and take care of that part. Instead, we hire or train designers and engineers with hardcore research in their personal toolbox. Sometimes we&rsquo;ll augment the team with one specific research expert, but we want the knowledge to be best captured by those who are going to be with you.
		%p Here are the research methods in our toolbox:

		%h3 User research.
		%p This is where the gems come from. The unexpected. The surprisingly simple. The &ldquo;we-never-thought-of-that!&rdquo;. It also reinforces or invalidates things you think you already know. We prefer face-to-face interviews with someone from your team and ours being physically there. Sure, we can do the audio and video recordings that are so popular, but our recommendation is to get your key stakeholders in some of these to see it all for themselves, then deliver a nimble report for broader socialization in our organizations.

		%h3 Competitive research.
		%p We know great software. We&rsquo;re also familiar with bad software. What we may not be familiar with is the software of your competitors. In order to baseline the software you are competing against, and to gain insights into different ways people are trying to solve the same problems you are, we strongly recommend a healthy dose of competitive research. It synthesizes our expertise in general software with the software landscape you live in. This activity is accompanied by an in-depth report dissecting the software we are able to review.

		%h3 Industry research.
		%p In providing digital leadership for more than 200 different customers we&rsquo;ve worked in most industries. In case we are not already conversant in yours getting a deep dive of knowledge is pretty important. This might be something you can easily communicate to us with documents and research you&rsquo;ve done. It might come as part of our conducting stakeholder research. Or we can take this research on ourselves and delivery a lovely report.

		%h3 Stakeholder research.
		%p Nobody knows more about your situation than your people. Identifying and interviewing the key individuals who can provide insight into the dynamic we are being hired to impact is the unsexy blocking and tackling of the learning process. Depending on the project this could be just a few people, or more than a dozen. We document the interviews and summarize our findings in a short report.

		%h3 Our Learn activities provide fresh perspectives on vital aspects of your business:
		%ul
			%li Company and market strategy
			%li Your stakeholders&rsquo; beliefs and perspectives
			%li Objective analysis of competitive UX landscape
			%li Deep insight into your/potential users
		%p Beyond just informing the consulting and/or design work we do for you, this data has broad uses among your executive team, product professionals and marketing organization.
%a{:href => asset_url('work/process/envision')}
	%section.process-section.next-section
		%h3 Next step:
		%h1 Envision
