- content_for(:title) do
	= "Healthcare"
- content_for(:page_head) do
	= stylesheet_link_tag "sections/workpages"
	= javascript_include_tag "video.js"
	= javascript_include_tag "fitvids.js"
	%meta{:name => "description", :content => ""}/
	%meta{:name => "keywords", :content => ""}/

%article#healthcare
	%header#article-header
		%h1.title hGraph: Your health in one picture
		%img.header-image{:src => '/images/healthcare/ipad_hero.png'}
		%a{:href => "/healthcare/hgraph/"}
			.button-h Read Case Study
	.small-quote We help healthcare organizations make clinical strength software for high-test, high stress environments.
	.projects-row
		%a{:href => "/healthcare/3m"}
			.project-item
				.top-description Processing $4B/year
				.image-wrapper
					%img{:src => "/images/healthcare/3m_card.png"} 
				.bottom-description How our skunkworks for an ambitious start-up led to a $150M exit.
				.company-name CodeRyte (3M acquisition)
		%a{:href => "/healthcare/inspired-ehrs"}
			.project-item
				.top-description Influencing US Policy
				.image-wrapper
					%img{:src => "/images/healthcare/ehr_card.jpg"} 
				.bottom-description Evidence-based and clinically relevant graphic techniques for medical records.
				.company-name National Institute of Health and University of Missouri
		%a{:href => "/healthcare/tabeeb/"}
			.project-item
				.top-description Global Telemedicine
				.image-wrapper
					%img{:src => "/images/healthcare/tabeeb_card.png"} 
				.bottom-description A phone in your pocket connects physicians around the planet.
				.company-name Tabeeb	
	.very-large-quote 
		.quote-content “Invo beautifully helped shape our next generation clinician and patient experience."
		.quote-author Igor Gershfang, Walgreens Emerging Tech Director
	.hero-video-container
		.video-banner#res-proj
			.video-text
				.video-title A search for unexpected genetic heroes.
				.video-summary
					%p What can we learn from people with the genetics to get sick — who don’t? With most inherited diseases, only some family members will develop the disease, while others who carry the same genetic risks dodge it.
					%p Watch Stephen Friend at TED 2014 launch The Resilience Project. 
			.video-control-button
				.play{:datavideo => "res-proj"}
			.video-background
		.video-player
	.mountsinai-container
		.left-content
			%a{:href => "/healthcare/mount-sinai/"}
				.button See how Invo designed genetic reporting
			.medium-quote
				.quote-content Genomics is brutally complicated. Patients struggle. Doctors flounder. Invo made them all smile.“
				.quote-author Elissa Levin, Director of Genomics, Mount Sinai Hospital, New York
		.right-content
			.image-container
	.very-large-quote 
		.quote-content “With Invo, design wasn’t just design. It impacted our IP portfolio. It changed our business.”
		.quote-author Serban Georgescu MD, Infobionic Director of Clinical Development
	.projects-row.margin-bottom
		%a{:href => "/healthcare/personal-genome-project/"}
			.project-item
				.top-description Open Source Genomics
				.image-wrapper
					%img{:src => "/images/healthcare/pgp.jpg"} 
				.bottom-description The mission is to sequence and publicize 100,000 volunteers’ genomes in hope personal genomes will be used to improve the management of human health and disease.
				.company-name Personal Genome Project
		%a{:href => "/healthcare/health-axioms"}
			.project-item
				.top-description Healthy Habits
				.image-wrapper
					%img{:src => "/images/healthcare/health-axioms.jpg"} 
				.bottom-description Health Axioms put you in touch with habits to improve your health, life, and well-being. Our sometimes surprising, always practical axioms nudge you toward the healthiest life possible. 
				.company-name Health Axioms
		%a{:href => "/healthcare/partners-gene-insight"}
			.project-item
				.top-description Genetic Interpretation
				.image-wrapper
					%img{:src => "/images/healthcare/geneinsight.png"} 
				.bottom-description GeneInsight is an IT platform used to streamline the analytics, interpretation and reporting of complex genetic test results.
				.company-name Partners GeneInsight
	.projects-row
		%a{:href => "/healthcare/numera/"}
			.project-item
				.top-description Social Behavior Change
				.image-wrapper
					%img{:src => "/images/healthcare/numera.jpg"} 
				.bottom-description Behavioral data with rich visualizations and lifestyle recommendations.
				.company-name Numera Health
	.very-large-quote 
		.quote-content “We needed to make sure we could do this. Invo proved we could. We needed to make sure we could sell this. Invo gave us the tools to do that, too.”
		.quote-author George Moon, VP of Product, CodeRyte Inc.
	.hero-video-container
		.video-banner#juhan-vid
			.video-text
				.video-title Hacking Your Health
				.video-summary
					%p Watch Juhan walk through his health design journey at NextGen Health Conference in NYC.
			.video-control-button
				.play{:datavideo => "juhan-vid"}
			.video-background
		.video-player
	.partners
		.small-title A Few of Our Healthcare Partners
		%ul.mobile
			%li
				%img{:src => "/images/healthcare/partners/3m.png"}
			%li
				%img{:src => "/images/healthcare/partners/hms.png"}
			%li
				%img{:src => "/images/healthcare/partners/infob.png"}
			%li
				%img{:src => "/images/healthcare/partners/pmed.png"}
			%li
				%img{:src => "/images/healthcare/partners/micro.png"}
			%li
				%img{:src => "/images/healthcare/partners/mtsinai.png"}
			%li
				%img{:src => "/images/healthcare/partners/nih.png"}
			%li
				%img{:src => "/images/healthcare/partners/nsf.png"}
			%li
				%img{:src => "/images/healthcare/partners/mhealth.png"}
			%li
				%img{:src => "/images/healthcare/partners/partners.png"}
			%li
				%img{:src => "/images/healthcare/partners/pgp.png"}
			%li
				%img{:src => "/images/healthcare/partners/wallgreen.png"}
		%table.non-mobile
			%tbody
				%tr
					%td
						%img{:src => "/images/healthcare/partners/3m.png"}
					%td
						%img{:src => "/images/healthcare/partners/hms.png"}
					%td
						%img{:src => "/images/healthcare/partners/infob.png"}
					%td
						%img{:src => "/images/healthcare/partners/pmed.png"}
					%td
						%img{:src => "/images/healthcare/partners/micro.png"}
					%td
						%img{:src => "/images/healthcare/partners/mtsinai.png"}
				%tr
					%td
						%img{:src => "/images/healthcare/partners/nih.png"}
					%td
						%img{:src => "/images/healthcare/partners/nsf.png"}
					%td
						%img{:src => "/images/healthcare/partners/mhealth.png"}
					%td
						%img{:src => "/images/healthcare/partners/partners.png"}
					%td
						%img{:src => "/images/healthcare/partners/pgp.png"}
					%td
						%img{:src => "/images/healthcare/partners/wallgreen.png"}
	.office-hours
		.small-title.white Want honest design feedback on your product?
		.small-title.blue Visit our studio for Open Office hours every Thursday 4-6p.
			