.hero {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

img {
	max-width: 100%;
	display: block;
}

hr {
	border: 0;
	border-top: 1px solid #dddddd;
}

.video-box {
	position: relative;
	padding-bottom: 1.5em;
}
