/************************************
 **  Main Menu
 ************************************/
@import "base/colors";
@import "base/type";

#site-overlay {
	width:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:3000;

}

body.work #main-header #nav-buttons .work,
body.studio #main-header #nav-buttons .studio,
body.team #main-header #nav-buttons .team,
body.careers #main-header #nav-buttons .careers,
body.contact #main-header #nav-buttons .contact, 
body.healthcare #main-header #nav-buttons .healthcare,
body.enterprise #main-header #nav-buttons .enterprise,
body.products #main-header #nav-buttons .products{
	color: $white;
	&:hover {
		color: #C9C9C9;
	}
}

#main-header {
	height: 55px;
	background: rgba(18,18,18,.92);
	padding: 15px 2.125em 0;
	transition: background .3s ease;
	//Fix for OSX Font Rendering on Dark BG's
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	img {
		display: inline-block;
	}
	a {
		text-decoration: none;
	}
	#nav-buttons, #nav-buttons-mobile {
		display: inline-block;
		padding-top: 5px;
		vertical-align: middle;
		right: 0;
		float: right;
		font-size: 1.375em;
	    letter-spacing: 1px;
		a {
			padding-left: 20px;
			color: #AAA;
			&:hover {
				color: #DDD;
			}
		}
	}

	#mobile-hamburger {
		cursor:pointer;
		position:absolute;
		top: 17px;
		right:31px;
		display:none;
	}

	#nav-buttons-mobile {
		position: absolute;
		display: none;
		background: rgba(18,18,18,.92);
		padding-top: 0;
		top: 55px;
		left: 0;
		z-index: 10;
		.nav-button {
			display: block;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-right: 10px;
			padding-left: 31px;
			border-width: 0px;
			border-bottom-width: 1px;
			border-style: solid;
			border-color: $gray;
			&:first-child {
				border-top-width: 1px;
				}
			a span.underline {
				border-bottom-width: 0px;
			}
		}
	}
}

.header-content {
	margin: 0 auto;
	padding-left: 1em;
	padding-right: 1em;
	.tag-line {
		margin: 0;
		font-size: 1em;
		display:inline-block;
		color: #EEE;
		margin-left: 10px;
		vertical-align: bottom;
		padding-bottom: 5px;
	}
}
