@import "base/colors";
@import "base/type";

$footer-color: transparentize($white, .3);
$outer-sidebar-padding:20px;
$sidebar-padding:20px;
$border-radius: 4px;

$body-font-size:22px;
$body-line-height:26px;
$body-letter-spacing:0.03em;
$section-header-font-size:3.2rem;

$sidebar-font-size:19px;
$sidebar-line-height:21px;
$sidebar-letter-spacing:0.03rem;

/************************************
 **  Main Layout
 ************************************/


#page-wrapper {
	min-height:100%;
	position:relative;
	padding-bottom:60px;
}

header#site-header {
<<<<<<< HEAD
<<<<<<< HEAD
    padding-top:6px;
    
    div.tag-line {
        display:inline-block;
        color: $footer-color;
        margin-left:5px;
        vertical-align: bottom;
        padding-bottom:2px;
    }
=======
=======
>>>>>>> FETCH_HEAD
	padding-top:6px;
	
	div.tag-line {
		display:inline-block;
		color:$white;
		margin-left:5px;
		vertical-align: bottom;
		padding-bottom:2px;
	}
<<<<<<< HEAD
>>>>>>> FETCH_HEAD
=======
>>>>>>> FETCH_HEAD
}

body {
	p, .social-card a.social-handle, .social-card .social-handle a, .team-cards h4, #main-footer p, #main-footer a, #main-header #nav-buttons .nav-button a, #nav-buttons-mobile, #nav-buttons-mobile a {
		font-size: $body-font-size;
		letter-spacing: $body-letter-spacing;
		line-height: $body-line-height;
		word-spacing: 0rem;
	}   
}

.project {
	
	.project-image {
		height:250px;   
		cursor:pointer;
	}
	
	h3, .practice-areas {
		display: inline-block;   
		margin-bottom:0px;
		height:auto;
	}
	
	a.button.read-story {
		background-color: #43597b;
		color: $white;
	}

	a.button.read-story:hover {
		background-color: rgba(67, 89, 123, 0.8);
		color: $white;
	}
}


div.feature-article-section {
	width:100%;
	min-height:150px;
	background-size:cover;
	padding-top:20px;
	background-color: $black;
	position:relative;
	
	#view-work {
		float:right;
		display:inline-block;
		
		border-radius: $border-radius;
		margin-left:10px;
		margin-right:20px;
		padding:20px 50px;
		
		color: $black;
		font-size: 19px;
		line-height: 21px;
		letter-spacing: $sidebar-letter-spacing;
		
		background-color:$white;
		
		&:hover {
			background-color: rgba(247, 247, 247, 0.6);
		}
	}
	
	.title {
		width:100%;
		
		h3, h2 {
			text-align:left;
			margin:0 auto;  
			color: $white;
			letter-spacing: $body-letter-spacing;
		}
		
		h2 {
			font-family: "Jenson Pro Bold";
			font-size: 3rem;
			line-height: 3rem;
			font-weight: 800;    
			margin-bottom:10px;
		}
		
		h3 {
			font-size: 1.8rem;
			font-family: "Jenson Pro Light";
			line-height: 1.8rem;   
		}
		
		.feature-image {
			display:inline-block;
			cursor:pointer;
			margin-top:5px;
			height:75px;
			width:500px;
			
			&.second {
				margin-left:50px;
			}   
		}
	}

}


.image-container {
	height:200px;   
	margin-top:9px;
	border-radius: 3px;
}

.image-container#client3M, .image-container#clientMcAfee, .image-container#clientNumera {
	margin-top:35px;   
}

.hero {
	max-height: 460px;
	min-height:300px;
	padding-top:35%;
	position:relative;  
	z-index: -1;
	
	.title {
		position:absolute;
		bottom: 10%;
		width:100%;
		padding-bottom:25px;
	}

	h2, h3 {
		text-align:center;
		margin: 0 auto;
		color: $white;
		letter-spacing:.06rem;
		padding-left:5px;
		padding-right:5px;
	}

	h2 {
		font-family: $base-font-bold;
		font-size:6.5rem; 
		line-height:6.5rem;
		font-weight:800;
	}

	h3 {
		max-width: 600px;
		font-size:1.8rem;
		font-family: $base-font-light;
		line-height:1.8rem;
		margin-bottom:20px;

	}
}

#main-footer {
	background-color: $black;
	color: $footer-color;
	padding:10px;
	padding-bottom:10px;
	position:absolute;
	bottom:0;
	width:100%;
	
	.hs-button.primary.large {
		padding-right:20px;
		padding-left:20px;
		padding-top:10px;
		padding-bottom:8px;
		margin-left: 5px;
	}
	
	.row {
		&.footerlogo, &.footerContent .large-hide { 
			padding-top:20px;
			text-transform:uppercase;
			color:inherit;
		}
		
		&.footerContent .large-hide {
			margin-bottom:5px;   
		}
	}
	
	h1,h2,h3,h4,h5,h6, a, .logocol, .row.footerlogo div, .subcol, .row.footerContent .large-hide{
		color: $footer-color;
	}
	
	a:hover {
		color: $white;   
	}
	
	.hs_email.field.hs-form-field.smart-field 
	{
		width: calc(100% - 140px);   
		display:inline-block;
	}
	
	div.hs_submit {
		width:auto;
		display:inline-block;
	}
	
	#news-letter-input, #email-50d88d90-87a2-48ed-94a9-a141da52c545{
		width:100%;
		display:inline-block;
		padding-top:22px;
		padding-bottom:20px;
		margin-bottom:10px;
	}
	
	p.news-letter {
		margin-bottom:2px;
	}

	div.hs_email.field.hs-form-field.smart-field {
		
		label {
			display:none;   
		}
	}

	.addrcol {
		text-align:right;
	 
		p.address {
			margin-top:0px;
			margin-bottom:0px;
			//margin-top:10px;
			//display:inline-block;  
		}
	 
		p.address, #phoneNum, p.mail, p.twitter {
			display:inline-block;   
			margin-right:10px;
		}
	}
	
  #phoneNum {
	margin-top:0px;
	margin-bottom:0px;  
  }
	
	
  .addrcol, .linkscol {
	  p {
		margin-bottom:0px;  
	  } 
	 
  }
	
  p.mobile-hide.about-us {
	  margin-bottom:0px;
  }   
	
  .social-links-contain {
	   display:inline-block; 
	   margin-right:20px;
   }
	
   .medium-1.columns.sidebar.social-links {
		min-width:80px;   
	}
	
	#footer-social-links {
		margin:0px;
		display:inline-block;
		min-width:62px;
		margin-right:5px;
		&.two {
			display:block;   
		}
		li {
			display:inline-block;
			padding-right:2px;
			
			img {
				padding:0px;   
			}
		}
		
		li a:hover img{
			fill:white;   
		}
	}
	
	#footer-social-links.large-hide {
		li {
			padding-top:20px;   
		}
	}
}



  .sidebar {
	  padding-right:$outer-sidebar-padding;
	  padding-left:$outer-sidebar-padding;
	  font-size: $sidebar-font-size;
	  letter-spacing:$sidebar-letter-spacing;
	  line-height:$sidebar-line-height;
	  word-spacing:0.1rem;
	  color: transparentize($darkgray, .1);
	  
	  .photo, .video {
		  border-radius: $border-radius;
		  font-size:inherit;
		  background-color:transparentize($sidebar_color, .4);
		  
		  img {
			width:100%;
			border-top-left-radius: $border-radius;
			border-top-right-radius: $border-radius;
		  }
		  
		  iframe {
			border-radius: $border-radius;
			width:100%;
			height:165px;
		  }
		  h3 {
			padding-top: $sidebar-padding;
			padding-left: $sidebar-padding;
			padding-right: $sidebar-padding;
			line-height:inherit;
			font-size:inherit;
			font-weight:500;
			color:inherit;
		  }
		  h3.quote {
			text-indent: -0.45rem;   
		  }
		  p.caption {
			padding-bottom: $sidebar-padding;
			padding-left: $sidebar-padding;
			padding-right: $sidebar-padding;
			font-size:inherit;    
			line-height:inherit;
			letter-spacing: inherit;
			line-height: inherit;
			
		  } 
	  }
  }

.form-title {
	font-size :$section-header-font-size;
	line-height: 4.8rem;    
	margin-top:5%;
}

form {
	font-size: $body-font-size;
	letter-spacing: $body-letter-spacing;
	line-height: $body-line-height;
	
	input[type=text], input[type=email], textarea, button, input[type=submit], #email-50d88d90-87a2-48ed-94a9-a141da52c545, #email-dd49f7c5-9cae-4ca9-bdb0-0600abeaa95b {
		font-size: inherit;
		letter-spacing: inherit;
		line-height: inherit;
		font-weight: inherit; 
		font-family:inherit;
		border-radius:2px;
	}
	
	input[type=text], input[type=email]{
		padding: 27px 20px;
	   
	}
	
	#email_content2-02f6d985-bc3d-40a0-9bff-c8610111844b,  #email_content2-dd49f7c5-9cae-4ca9-bdb0-0600abeaa95b {
		height:274px;   
	}
	
	textarea  {
		padding:3%;   
		resize: none;
	}
	
	button, input[type=submit]{
		padding-top:11px;
		padding-bottom:9px;
		padding-right:24px;
		padding-left:24px;
		border-width:0px;
		cursor:pointer;
		background-color: transparentize($navy, 0.0);
		color: transparentize($white, 0.0);
	}
	
	input[type=submit] {
		margin:0px;
	}
	
	button:hover, input[type=submit]:hover {
		background-color: transparentize($navy, 0.2);
		color: transparentize($white, 0.0);
	}
	
	button.attachb {
		margin-right:19px;
		background-color: transparentize($gray, .7);
		color: transparentize($gray, .2);
	}
	
	button.attach:hover {
		background-color: transparentize($gray, .5);
		color: transparentize($gray, 0);
	}
}

span.hs-form-required {
	display:none;   
}

#send, .hs-button.primary.large {
		padding-right:50px;
		padding-left:50px;
		padding-top:15px;
		width:auto;
		position: absolute;
		right: 20px;
	}

#hsForm_50d88d90-87a2-48ed-94a9-a141da52c545 input.hs-button.primary.large {
	position:inherit;   
}

#hsForm_02f6d985-bc3d-40a0-9bff-c8610111844b input.hs-button.primary.large {
	right:90px;   
}

#hsForm_dd49f7c5-9cae-4ca9-bdb0-0600abeaa95b input.hs-button.primary.large{
	right:89px;   
}

#hsForm_dd49f7c5-9cae-4ca9-bdb0-0600abeaa95b {
	margin-bottom:100px;   
}

.expandedcards {
	display:none;   
}

.large-hide {
	display:none;   
}

div.hsformerror {
	background-image:none;
	background-color: #FFF;
	border-width:0px;
	margin-top:10px;  
	
	p, div.close-form-error {
		color: $black!important;
		font-size: $body-font-size;
		letter-spacing: $body-letter-spacing;
		line-height: $body-line-height;
		font-family: $base-font-regular;   
	}
	
	em {
		display:none;   
	}
}


div.value {
	padding-top:7px;
	font-size:20px; 
}
