@import "base/colors";
@import "base/type";

$footer-color: transparentize($white, .3);
$outer-sidebar-padding:20px;
$sidebar-padding:20px;
$border-radius: 4px;

$body-font-size:1.3rem;
$body-line-height:1.5rem;
$body-letter-spacing:0.09rem;
$section-header-font-size:3.2rem;

$sidebar-font-size:1.1rem;
$sidebar-line-height:1.3rem;
$sidebar-letter-spacing:0.04rem;

/************************************
 **  Main Layout
 ************************************/

body {
    p, .social-card a.social-handle, .social-card .social-handle a {
        font-size: $body-font-size;
        letter-spacing: $body-letter-spacing;
        line-height: $body-line-height;
    }   
}

.hero {
    background-image: url(/images/careers/hero.jpg);
    background-position: center center;
    background-size: cover;
    max-height: 460px;
    min-height:300px;
    padding-top:35%;
    position:relative;  
    z-index: -1;
    .title {
        position:absolute;
        bottom:0;
        width:100%;
        padding-bottom:25px;
    }

    h2, h3 {
        text-align:center;
        margin: 0 auto;
        color: $white;
        letter-spacing:.06rem;
        padding-left:5px;
        padding-right:5px;
    }

    h2 {
        font-family: $base-font-bold;
        font-size:6.5rem; 
        line-height:6.5rem;
        font-weight:800;
    }

    h3 {
        max-width: 600px;
        font-size:1.8rem;
        font-family: $base-font-light;
        line-height:1.8rem;
        margin-bottom:20px;

    }
}

#main-footer {
  background-color: $black;
  color: $footer-color;
  padding:40px;
  padding-top:0px;
    
  .row.footerlogo, .row.footerContent .large-hide { 
    padding-top:20px;
    text-transform:uppercase;
    color:inherit;
  }
    
  h1,h2,h3,h4,h5,h6,a, .logocol,  .row.footerlogo div, .subcol, .row.footerContent .large-hide{
    color: $footer-color;
  }
    
  .row.footerContent .large-hide {
    margin-bottom:5px;   
  }
    
  #news-letter-input {
    width: calc(100% - 140px);   
    display:inline-block;
    padding-top:22px;
    padding-bottom:20px;
  }
  
  #phoneNum {
    margin-bottom:0px;  
  }
    
  .addrcol, .linkscol {
      
    p {
        margin-bottom:1.2rem;  
    } 
     
  }
    
    #footer-social-links {
        margin-left:0px;
        padding-top:10px;
        li {
            display:inline-block;
            padding-right:15px;
        }
    }
    
    #footer-social-links.large-hide {
        li {
            padding-top:20px;   
        }
    }
    
    p {
        font-size: 1.2rem;
        line-height: 1.4rem;
        letter-spacing: 0.03rem;
    }
}



  .sidebar {
      padding-right:$outer-sidebar-padding;
      padding-left:$outer-sidebar-padding;
      font-size: $sidebar-font-size;
      letter-spacing:$sidebar-letter-spacing;
      line-height:$sidebar-line-height;
      color: transparentize($darkgray, .1);
      .photo, .video {
          border-radius: $border-radius;
          font-size:inherit;
          background-color:transparentize($blue, .94);
          
          img {
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
          }
          h3 {
            padding-top: $sidebar-padding;
            padding-left: $sidebar-padding;
            padding-right: $sidebar-padding;
            line-height:inherit;
            font-size:inherit;
            font-weight:500;
            color:inherit;
          }
          h3.quote {
            text-indent: -0.45rem;   
          }
          p.caption {
            padding-bottom: $sidebar-padding;
            padding-left: $sidebar-padding;
            padding-right: $sidebar-padding;
            font-size:inherit;    
            line-height:inherit;
            letter-spacing: inherit;
            line-height: inherit;
            
          } 
      }
  }


form {
    font-size: $body-font-size;
    letter-spacing: $body-letter-spacing;
    line-height: $body-line-height;
    .form-title {
        font-size :$section-header-font-size;
        line-height: 4.8rem;    
    }
    
    input[type=text], input[type=email], textarea, button {
        font-size: inherit;
        letter-spacing: inherit;
        line-height: inherit;
        font-weight: inherit; 
        border-radius:2px;
    }
    
    input[type=text], input[type=email]{
        padding:5%;
        padding-left:3%;
        padding-right:3%;
    }
    
    textarea  {
        padding:3%;   
        resize: none;
    }
    
    button {
        padding-top:11px;
        padding-bottom:9px;
        padding-right:24px;
        padding-left:24px;
        
        background-color: transparentize($navy, 0.0);
        color: transparentize($white, 0.0);
    }
    
    button:hover {
        background-color: transparentize($navy, 0.2);
        color: transparentize($white, 0.0);
    }
    
    
    button.attach {
        margin-right:19px;
        background-color: transparentize($gray, .7);
        color: transparentize($gray, .2);
    }
    
    button.attach:hover {
        background-color: transparentize($gray, .5);
        color: transparentize($gray, 0);
    }
}

#contact {
    background-image:url("../images/google_map.png");
    background-position: center center;
    background-size: cover;
}

#contactForm {
    padding-top:100px;
    padding-bottom:80px;
    .form-title {
        h3, h4 {
            margin-top:0px;
            margin-bottom:0px;   
        }
        h3 {
            font-size: 3.2rem;
            line-height: 1rem;
            font-weight:800;
            padding-top:20px;
        }
        h4 {
            display:inline-block;
            font-size: 2rem;
            line-height: 1rem;
        }
        
        h4.phoneNumber a{
            color: $black; 
            letter-spacing:0rem;
        }
    }
    
    input, textarea {
        padding-top:calc(5% + 7px);
        font-size:2rem;
        line-height:2.2rem;
    }
    
    #send, div.check-label {
        font-size:2rem;
        line-height:2rem;
    }
    
    div.check-label {
        display:inline-block;
        color:$gray;
        padding-left:10px;
        vertical-align: middle;
        width: calc(100% - 181px);
    }
    
    #send {
        padding-right:50px;
        padding-left:50px;
        padding-top:15px;
    }
}


.expandedcards {
    display:none;   
}

.large-hide {
    display:none;   
}
