@import "compass/css3/box-shadow";

#main-container {
  margin-top: 40px;
}

#projects {
  
  & > .row {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
  }
  
  .phase-container {
    float: left;
    position: relative;
    height: 150px;
  }
  
  .phase {
    position: absolute;
    bottom: 0;
    width: 100%;
    
    .service-areas, .staffing {
      font-size: 10px;
      line-height: 12px;
    }
  }
  
  .project > h3 {
    font-size: 24px;
    margin: 0;
  }
  
  .practice-areas {
    font-size: 14px;
    
    a {
      color: #ccc;
    }
  }
  
  .description {
    padding-right: 50px;
  }
}
