
/************************************
 **  Media Queries
 ************************************/

@media only screen and (min-width:1280px) {
    header.hero {
        padding-top:460px;   
    }
}

@media only screen and (max-width:1019px) {
    button#dbutton, button#abutton, button#dbutton2, button#abutton2{
        width:100%;
    }   
}

//changes that should always happen -1105px
@media only screen and (max-width:1105px) {
       
     div.main-content .expandedcards {
        display:inherit; 
    }
    
    .contractedcards {
        display: none;
    }
}

@media only screen and (max-width:1020px) {
    div.social-card.photo.landscape.super-long {
        min-width: 660px;  
    }
}

//changes only present from 924px <-> 750px
@media only screen and (max-width:924px) and (min-width:750px) {
    #main-footer #footer-social-links li:last-child, #main-footer #footer-social-links li:nth-child(2) {
        padding-top:15px;
    }
}

//changes only present from 924px <-> 750px
@media only screen and (max-width:924px) and (min-width:819px) {
     #main-footer #footer-social-links li:nth-child(2) {
         padding-right:75px;
     }
}

@media only screen and (max-width:819px) and (min-width:750px) {
    #main-footer #footer-social-links li:nth-child(2) {
         padding-right:35px;
     }
}

//changes that shold always happen -980px
@media only screen and (max-width: 980px) {
    section.centerContent ul#choose-your-adventure li {      
        font-size:2.5rem;
        line-height: 2.7rem;
     }
     #careers #mainContent section.centerContent ul#choose-your-adventure li:first-child {
            padding-right:.6rem; 
        }
    #careers #mainContent section.centerContent ul#choose-your-adventure li:last-child {
            padding-left:.3rem;    
        }
    
    .sidebar.omega {
        padding-left:10px;
        padding-right:10px;
    }
}

//changes that shold always happen -800px
@media only screen and (max-width: 800px) {
    .sidebar.omega {
        padding-left:5px;
        padding-right:5px;
    }
}



@media only screen and (max-width:749px) {
     section.centerContent ul#choose-your-adventure li {      
        font-size:3.2rem;
        line-height: 3.5rem;
     }
    
    #careers #mainContent section.centerContent ul#choose-your-adventure li:first-child {
            padding-right:.7rem; 
        }
    #careers #mainContent section.centerContent ul#choose-your-adventure li:last-child {
            padding-left:.4rem;    
        }
    
    //hide everything that should be hidden (class: mobile-hide)
    div.sidebar.mobile-hide, section.timeline.mobile-hide, .mobile-hide {
        display:none;
    }   
    
    p.large-hide, br.large-hide, ul.large-hide {
        display:inherit;   
    }
    
    .hero .title h2 {
        font-size:4.5rem;
        line-height: 4.5rem;
    }
    
    
    #careers section.centerContent {
        padding-left:0px;
        padding-right:0px;
    }
    
    div.career-content {
        padding-left:5px;
        padding-right:5px;
    }
}


@media only screen and (max-width:667px) {
    div.social-card.photo.landscape.super-long, div.social-card.photo.landscape, div.social-card.soundcloud, div.social-card {
        min-width:95%;
    }
}

@media only screen and (max-width:649px) {  
    //hide everything that should be hidden (class: mobile-hide)
    div.sidebar.mobile-hide, section.timeline.mobile-hide {
        display:none;
    }   
    
    .hero .title h2 {
        font-size:3.5rem;
        line-height: 3.5rem;
    }
    
    .hero .title h3 {
       font-size: 1.3rem;
       letter-spacing: 0.09rem;
       line-height: 1.5rem;
        padding-lef:10px;
        padding-right:10px;
    }   
}


@media only screen and (max-width:484px) {
    .expandedcards .team-card-info h3 {
        line-height:3.4rem;   
    }
}





