
/************************************
 **  Media Queries
 **
 *** This is where we put all (well most) of the media queries.
 *** I tend to go by the philosophy of updating elements when they
 *** stop looking good instead of updating elements based on common
 *** screen sizes.
 ************************************/

@media only screen and (max-width: 1130px) {
	#site-header {
		padding-left: 0;
		padding-right: 0;
	}
}

@media only screen and (max-width: 1105px) {
	#content-area .expandedcards {
		display: block;
	}

	#content-area .contractedcards {
		display: none;
	}
}

@media only screen and (max-width: 1080px) {
	div.feature-article-section .title .feature-image.second{
		display:none;
	}

	div.feature-article-section .title .feature-image{
		display:block;
	}
	#main-container .homepage-header .title, #main-footer .footerContent {
		padding-left: 2em;
		padding-right: 2em;
	}
}

@media only screen and (max-width: 1020px) {
	#site-header .tag-line {
		display: none;
	}

	div.social-card.photo.landscape.super-long {
		min-width: 660px;
	}

	#main-container .homepage-header {
		&.one .title{
			h2 {
				font-size: 45px;
				font-size: 4.5rem;
				line-height: 45px;
				line-height: 4.5rem;
			}
		}
		&.two, &.three {
			width: 100%;
		}
		#main-footer {
			position: relative;
		}
	}

}

@media only screen and (max-width: 1019px) {
	button#dbutton, button#abutton, button#dbutton2, button#abutton2{
		width:100%;
	}
}

@media only screen and (max-width: 980px) {
	section.centerContent ul#choose-your-adventure li {
		font-size:2.5rem;
		line-height: 2.7rem;
	 }

	#careers #mainContent section.centerContent ul#choose-your-adventure li:first-child {
		padding-right:.6rem;
	}

	#careers #mainContent section.centerContent ul#choose-your-adventure li:last-child {
		padding-left:.3rem;
	}

	#content-area .expandedcards {
		width: 100%;
	}

	.sidebar.omega {
		width: 100%;
		padding: 0;
	}

	//Is this for the current footer?
	div.footerContent .medium-4.columns.addrcol.sidebar{
		padding-right:0px;
		padding-left:0px;
		max-width:240px;
	}

	div.footerContent div.medium-1.columns.social-links {
		padding-left:0px;
	}

	div.careers {
		aside.left, .centerContent, aside.right {
			padding: 0;
		}
		aside.left {
			display: none;
		}
		.centerContent, aside.right {
			width: 100%;
		}
		.hs-form fieldset {
			max-width: 100%;
		}
	}
}

@media only screen and (max-width: 800px) {
	.sidebar.omega {
		padding-left:5px;
		padding-right:5px;
	}
}

@media only screen and (max-width: 749px) {
	//videos in the sidebar need a specific height.
	.sidebar.omega div.video iframe {
		height:400px;
	}

	section.centerContent ul#choose-your-adventure li {
		font-size:3.2rem;
		line-height: 3.5rem;
	}

	#careers #mainContent section.centerContent ul#choose-your-adventure li:first-child {
		padding-right:.7rem;
	}

	#careers #mainContent section.centerContent ul#choose-your-adventure li:last-child {
		padding-left:.4rem;
	}

	//hide everything that should be hidden (class: mobile-hide)
	div.sidebar.mobile-hide, section.timeline.mobile-hide, .mobile-hide {
		display:none;
	}

	p.large-hide, br.large-hide, ul.large-hide {
		display:inherit;
	}

	.hero .title h2 {
		font-size:4.5rem;
		line-height: 4.5rem;
	}

	#careers section.centerContent, section.team-cards.twelve.columns {
		padding-left:0px;
		padding-right:0px;
	}

	div.career-content {
		padding-left:5px;
		padding-right:5px;
	}
}

@media only screen and (max-width: 667px) {
	div.social-card.photo.landscape.super-long, div.social-card.photo.landscape, div.social-card.soundcloud, div.social-card {
		min-width:0;

	}
}

@media only screen and (max-width: 649px) {
	//hide everything that should be hidden (some elements of class: mobile-hide)
	div.sidebar.mobile-hide, section.timeline.mobile-hide {
		display:none;
	}

	.hero .title h2 {
		font-size:3.5rem;
		line-height: 3.5rem;
	}

	.hero .title h3 {
		font-size: 1.3rem;
		letter-spacing: 0.09rem;
		line-height: 1.5rem;
		padding-lef:10px;
		padding-right:10px;
	}

	//lets see that hamburger
	header#main-header #mobile-hamburger {
		display:block;
	}

	header#main-header #nav-buttons {
		display: none;
	}

	// Bring back that tagline
	#site-header .tag-line {
		display: inline-block;
	}
	#main-container .homepage-header {
		&.one .title{
			h2 {
				font-size: 35px;
				font-size: 3.5rem;
				line-height: 35px;
				line-height: 3.5rem;
			}
			h3 {
				font-size: 28px;
				font-size: 2.8rem;
				line-height: 28px;
				line-height: 2.8rem;
			}
		}
	}
}

@media only screen and (min-width: 649px) {
	#main-header #site-header #nav-buttons-mobile {
		display: none !important;
	}
}

@media only screen and (max-width: 540px) {
	#site-header .tag-line {
		display: none;
	}
	#main-footer p {
		font-size: 14px;
	}
}

@media only screen and (max-width: 484px) {
	.expandedcards .team-card-info h3 {
		line-height:3.4rem;
	}
}
