
/************************************
 **  Media Queries
 ************************************/

@media only screen and (min-width:1280px) {
    header.hero {
        padding-top:460px;   
    }
}


//changes that should always happen -1105px
@media only screen and (max-width:1105px) {
    #careers #mainContent section.centerContent ul#choose-your-adventure li:first-child {
            padding-right:1.4rem; 
        }
    #careers #mainContent section.centerContent ul#choose-your-adventure li:last-child {
            padding-left:1.2rem;    
        }
    
     .medium-9.columns.expandedcards {
        display: inherit;   
    }
    
    .medium-9.columns.contractedcards {
        display: none;
    }
}


//changes that shold always happen -980px
@media only screen and (max-width: 980px) {
    section.centerContent ul#choose-your-adventure li {      
        font-size:2.2rem;
        line-height: 2.5rem;
     }
    
    .sidebar.omega {
        padding-left:10px;
        padding-right:10px;
    }
    
   
}

//changes that shold always happen -800px
@media only screen and (max-width: 800px) {
    .sidebar.omega {
        padding-left:5px;
        padding-right:5px;
    }
}

//changes that shold always happen -980px
@media only screen and (max-width: 770px) {
    #careers #mainContent section.centerContent ul#choose-your-adventure li:first-child {
            padding-right:1rem; 
        }
    #careers #mainContent section.centerContent ul#choose-your-adventure li:last-child {
            padding-left:.8rem;    
        }
}

@media only screen and (max-width:749px) {
    section.centerContent ul#choose-your-adventure li {      
        font-size:1.8rem;
        line-height: 2.0rem;
     }
    
    #careers #mainContent section.centerContent ul#choose-your-adventure li:first-child {
            padding-right:.7rem; 
        }
    #careers #mainContent section.centerContent ul#choose-your-adventure li:last-child {
            padding-left:.4rem;    
        }
    
    //hide everything that should be hidden (class: mobile-hide)
    div.sidebar.mobile-hide, section.timeline.mobile-hide {
        display:none;
    }   
    
    .hero .title h2 {
        font-size:4.5rem;
        line-height: 4.5rem;
    }
    
}

@media only screen and (max-width:649px) {  
    //hide everything that should be hidden (class: mobile-hide)
    div.sidebar.mobile-hide, section.timeline.mobile-hide {
        display:none;
    }   
    
    .hero .title h2 {
        font-size:3.5rem;
        line-height: 3.5rem;
    }
    
    .hero .title h3 {
       font-size: 1.3rem;
       letter-spacing: 0.09rem;
       line-height: 1.5rem;
        padding-lef:10px;
        padding-right:10px;
    }   
    

    
}






