- content_for(:page_head) do
	= stylesheet_link_tag "sections/complex-case-studies"
	= javascript_include_tag 'worknav'
- client = client_for_name("Oracle")

%article#complex-case.oracle
	%header.hero
		.row
			.medium-6.small-12.small-centered.columns
				.title
					%p <img src = "../../images/client_logos/oracle.png" width="300" height="37">
					%h2 Users take 50% less time to complete core tasks after the Involution redesign
	.row#mainContent
		.medium-6.small-12.small-centered.columns
			%p Product Lifecycle Management (PLM) is arguably the most complex enterprise software there is. It tracks every single piece and part in the products a company makes, all the way from initial planning to end-of-life. For example, if you blow up a laptop computer there are literally thousands of individual components that go into making it. For each of those there are multiple other components and configurations that were considered instead of what was actually used. Thus for each product there are tens of thousands of parts that are in different phases of use or consideration. For many Oracle customers virtually every knowledge worker uses Agile PLM. Some might use it once a week for a few minutes; others spend their whole day in it. The use cases run in the hundreds or thousands. Each user expects the software to work for them, ranging from needing great complexity and power to pure simplicity and clarity. It is a knotty design challenge.

			%p Oracle already had a good thing: Agile had been a market leader in PLM for over a decade. However, like many software companies that became successful thanks to their technology, the UI design languished and eventually became a liability. In 2005, when looking at the opportunities and threats for Agile PLM, a major upgrade to the user experience became a top strategic goal. They realized that the process of turning that liability into an ongoing advantage required not just a redesign of the product, but a re-thinking of the product organization. To help on both fronts they chose Involution.

			%p Over two years Involution deeply engaged the Oracle Agile PLM team, from the top executive levels down to the junior contributors. We worked with their executive and management teams to lead organizational change and create transparency. We contributed to the replacement of their waterfall process with agile methodologies. We helped them build a best-of-breed 20 person user experience team from scratch. And of course we also completely re-designed the application.

			.center-image-content
				.video-box
					%iframe{:src => "//player.vimeo.com/video/51097938?portrait=0", :width => "640", :height => "360", :frameborder => "0", :webkitallowfullscreen => "", :mozallowfullscreen => "", :allowfullscreen => ""}

	.row#quote
		.small-centered.columns
			%h2.quote#bigQuote &ldquo;We didn&rsquo;t bring in Involution to redesign our product, which they did. We chose Involution to help us take our two user experience people and build an outstanding team. By the time we were done working together we had a large cross-functional team and a completely new and effective way to design and develop an exceptional next generation product suite.&rdquo;
			%p.quote-author &mdash; Steve Van Lare, Oracle, VP Engineering
	.row#mainContent2
		.medium-6.small-12.small-centered.columns
			.center-image-content.large
				%img{:src => "../../images/clients/oracle/oracle-agile-plm-old-user-interface.jpg"}
				.caption Oracle&rsquo;s old design evoked desktop software of the 1990&rsquo;s in both function and feel.
	.row#quote
		.small-centered.columns
			%h2.quote &ldquo;Results showed that, on average, it took users 50% less time to complete a subset of core tasks on Agile 9.3.&rdquo;
			%p.quote-author &mdash; Joel Nave, Oracle, Senior Manager, Applications User Experience
	.row#mainContent2
		.medium-6.small-12.small-centered.columns
			.center-image-content.large
				%img{:src => "../../images/clients/oracle/oracle-agile-plm-ui-design-early-prototype.jpg"}
				.caption To discover the right approach to this complicated application we created an initial &ldquo;concept car&rdquo;, and used it extensively with Oracle customers.
			.center-image-content.large
				%img{:src => "../../images/clients/oracle/oracle-agile-plm-ui-design-pixel-perfect-mockups.jpg"}
				.caption Once the interaction model is settled we jump right into high-fidelity mock-ups which fast-tracks communication around and understanding of the design.
	.row#quote
		.small-centered.columns
			%h2.quote &ldquo;With 9.3 we can already see an improved level of usability and productivity.&rdquo;
			%p.quote-author &mdash; Hardeep Gulati, Oracle, VP, PLM Product Strategy
	.row#mainContent2
		.medium-6.small-12.small-centered.columns
			.center-image-content.large
				%img{:src => "../../images/clients/oracle/oracle-plm-ui-design-code-engineering-development.jpg"}
				.caption Great code is a staple of everything we do. We&rsquo;ve had a number of engineering &ldquo;firsts&rdquo; in a browser: with Oracle, we enabled multi-modal browser windows to share state and information in ways that had never been publicly done before.
			.center-image-content.large
				%img{:src => "../../images/clients/oracle/oracle-agile-plm-ui-design-development.jpg"}
				.caption By the end of the project the Oracle team sometimes couldn&rsquo;t tell the difference between the high-quality design prototype we created and their own production stack.
	.row#quote
		.small-centered.columns
			%p.block-header Results
			%h2.quote#bigQuote Playtex enjoyed $2.7 million in labor efficiency improvement and 15% packaging development cost savings with Agile 9.3.
			%h2.quote#bigQuote Johnson & Johnson reduced cycle change time by 52%, administrative cost by 25%, reduced scrap and re-work by $2 million, and passed regulatory audits with minimal costs with Agile 9.3.
.row#next-project
	.medium-6.small-12.small-centered.columns
		.next-title
			Next Project:
			%span#next
