<div class="partners">
	<h2 class="font-thin"><%= title %></h2>
	<ul>
		<% partners.each do |partner| %>
			<li>
				<a href="<%= partner.url %>">
					<img src="<%= partner.icon %>"/>
				</a>
			</li>
		<% end %>
	</ul>
</div>
