- content_for(:page_head) do
	= stylesheet_link_tag "sections/process"
.row
	%header.nav-menu
		%nav
			%a.nav-link{:href => asset_url('work/process')} Intro
			%a.nav-link{:href => asset_url('work/process/learning')} 1. Learning
			%a.nav-link{:href => asset_url('work/process/envision')} 2. Envision
			%a.nav-link.current{:href => asset_url('work/process/blueprint')} 3. Blueprint
			%a.nav-link{:href => asset_url('work/process/craft')} 4. Craft
			%a.nav-link{:href => asset_url('work/process/build')} 5. Build
			%a.nav-link{:href => asset_url('work/process/support')} 6. Support
			%a.nav-link{:href => asset_url('work/process/communication')} Communication
			%a.nav-link{:href => asset_url('work/process/training')} Training
%section.process-section.blueprint
	= image_tag('process/jpg/process3.jpg')
	%header.section-header
		%h1 3. Blueprint
		%h2 Creating your digital experiences begins with the structure.
	.section-content
		%h3 Architecture bring ideas and strategy to life.
		%p There&rsquo;s a long path from the right idea and strategy to exceptional outcomes that realize their potential. The complexity of digital ecosystems and the experiences within them demand not just careful planning, but smart mapping. Relationships, behaviors, and experiences must be juxtaposed for usefulness, usability and desirability.
		%p The blueprint process itself is not sexy: Pattern design and identifying system relationships. Lightweight documentation. Review, revise, rinse, repeat.
		%p It is challenging enough doing this well for your feisty, garden variety startup. But when you&rsquo;re redesigning one of Oracle&rsquo;s largest enterprise apps, or Medicare.gov, or McAfee&rsquo;s flagship Total Protection Suite, it is a design challenge of the greatest magnitude. Our clients come to us because we&rsquo;ve done it before many, many times. And they want us to do it again.
		%p Our architecture process consists of:

		%h4 Content Review.
		%p Reviewing anything and everything we have access to that pertains to your solution. When this work starts we need everything in mind, and we need our mind to be fresh. We need to see the holistic view so our solutions can be properly ambitious.

		%h4 Content Inventory.
		%p In order to create we need to have a comprehensive list of all the workflows, interactions and outputs your solution requires. This happens to varying degrees in the learning and envisioning phases, culminating here with great specificity in the early design. These are captured in giant format for our team and yours to validate.

		%h4 Flows.
		%p The main event: crafting all of the intended content into a system will serve as the blueprint for all of the creation to come after.

		%h3 Our Blueprint activities work provides compelling schematics that enable:
		%ul
			%li Early schematics for your engineering team to work with
			%li Open process to get input from within and beyond your team
			%li Public sharing and socialization of our work together
		%p In addition to providing architecture for the things we create the blueprint phase galvanizes your team around the structure and visualization of your most important digital experiences.
%a{:href => asset_url('work/process/craft')}
	%section.process-section.next-section
		%h3 Next step:
		%h1 Craft
