- content_for(:page_head) do
	- stylesheet_link_tag('sections/process')

.row
	-# %header.nav-menu
	-# 	%nav
	-# 		%a.nav-link{:href => asset_url('work/process')} Intro
	-# 		%a.nav-link{:href => asset_url('work/process/learning')} 1. Learning
	-# 		%a.nav-link{:href => asset_url('work/process/envision')} 2. Envision
	-# 		%a.nav-link{:href => asset_url('work/process/blueprint')} 3. Blueprint
	-# 		%a.nav-link{:href => asset_url('work/process/craft')} 4. Craft
	-# 		%a.nav-link{:href => asset_url('work/process/build')} 5. Build
	-# 		%a.nav-link{:href => asset_url('work/process/support')} 6. Support
	-# 		%a.nav-link{:href => asset_url('work/process/communication')} Communication
	-# 		%a.nav-link{:href => asset_url('work/process/training')} Training
%section.pricing-section.intro
	%header.section-header
		%h1 $100&ndash;$200K
		%h2 The sweet spot of software design.
	.section-content
		%h3 Empirix
		%p
			%em Require Graphic: Process, w/ Individual States
		%p
			%em Require Logo: Empirix
		%p
			%em Require Formatting for Following:
		
		%h4 Industry
		%p
			%em Enterprise software, IT

		%h4 About
		%p
			%em IT performance suite

		%h4 Project Type
		%p
			%em Software Strategy &amp; Design

		%h4 Details
		%ul
			%li Deep research component illuminated the strategic situation
			%li Audacious vision to shake up the market
			%li Conceptual design and prototyping of core system
			%li More than three months of parallel work
		%p
			%em Require results
		%p
			%em Require sidebar: quote + photograph

		%p
			%em Require results
		%p
			%em Require sidebar: quote + photograph

		%h3 Numera
		%p
			%em Require Graphic: Process, w/ Individual States
		%p
			%em Require Logo: Numera
		%p
			%em Require Formatting for Following:
		%h4 Industry
		%p
			%em Healthcare, Social

		%h4 About
		%p
			%em Behavioural data with rich visualizations and lifestyle recommendations

		%h4 Project Type
		%p
			%em UX Strategy, Design &amp; Engineering

		%h4 Details
		%ul
			%li System design that incorporates various digital hardware and interfaces
			%li Creation of the dozens of necessary screens for the software
			%li Prototyped with code written to be leveraged by the Numera engineers
			%li 18 weeks of our project lead working closely with their team

		%p
			%em Require results
		%p
			%em Require sidebar: quote + photograph

		%h3 College Board
		%p
			%em Require Graphic: Process, w/ Individual States
		%p
			%em Require Logo: College Board
		%p
			%em Require Formatting for Following:
		
		%h4 Industry
		%p
			%em Education

		%h4 About
		%p
			%em Connect students to colleges and universities

		%h4 Project Type
		%p
			%em UX Strategy &amp; Design

		%h4 Details
		%ul
			%li Deep research component illuminated the strategic situation
			%li Audacious vision to shake up the market
			%li Conceptual design and prototyping of core system
			%li More than three months of parallel work

		%p
			%em Require results
		%p
			%em Require sidebar: quote + photograph

		%h3 Scholastic
		%p
			%em Require Graphic: Process, w/ Individual States
		%p
			%em Require Logo: Scholastic
		%p
			%em Require Formatting for Following:
		%h4 Industry
		%p
			%em Education

		%h4 About
		%p
			%em Tools for teachers, parents and children

		%h4 Project Type
		%p
			%em Product Strategy

		%h4 Details
		%ul
			%li Deep 360 research on numerous user types and use cases
			%li Challenging core Scholastic assumptions and re-thinking the problem
			%li System architecture and some initial software design
			%li 16 weeks of our and Scholastic&rsquo;s teams working together

		%p
			%em Require results
		%p
			%em Require sidebar: quote + photograph