%article#contact
  .row.get-in-touch
    .small-11.small-centered.medium-7.medium-centered.columns
      %form#contactForm
        .form-title
          %h3 Get in touch!
          %h4.phoneNumber
            %a{href: "tel:6178037043"}  617-803-7043
          %h4.mailTo
            = mail_to "info@goinvo.com"
        %input{:type => "text", :placeholder => "Your name"}
        %input{:type => "email", :placeholder => "Email"}
        %textarea{:placeholder => "What can we do for you?", :rows => "10"}
        %input#subscribe{:type => "checkbox"} <div class = "check-label">Subscribe <br class = "large-hide">to our newsletter</div>
        %button#send{:type => "button"}Send