.hero {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: inset 0 -20px 30px -30px #000;
}

img {
	max-width: 100%;
	display: block;
}

hr {
	border: 0;
	border-top: 1px solid #dddddd;
}

.video-box {
	position: relative;
	padding-bottom: 1.5em;
}

.slider {
	position: relative;
	overflow: auto;
	li {
		list-style: none;
		padding: 0 100px;
	}
	ul li {
		float: left;
	}
	.unslider-arrow {
		position: absolute;
		z-index: 10;
		height: 0;
		width: 0;
		top: 45%;
		border-top: 60px solid transparent;
		border-bottom: 60px solid transparent;
		color: transparent;
		&.prev {
			border-right: 15px solid #AAA;
			border-left: 0;
			left: 40px;
		}
		&.next {
			border-left: 15px solid #AAA;
			border-right: 0;
			right: 40px;
		}
	}
}
.quote {
	position: relative;
	width: auto;
	max-width: 827px;
	margin: 0 auto;
	padding: 6rem 10px;
	text-align: center;

	.quote-author {
		padding-top: 10px;
	}

	&.small-bottom-padding {
		padding-bottom: 2rem;
	}
	&.no-top-padding {
		padding-top: 0px;
	}
	&.justified {
		text-align: left;
		.quote-content {
			position: relative;
			&:before {
				content: "\201C";
				position: absolute;
				left: -19px;
				top: 0;
			}
		}
	}
}
