@import "../base/core";

$orange: #bc743e;
$red: #d65f4d;
$teal: #9ec2b7;
$green: #7f8732;
$blue: #51697b;
$yellow: #ddb40a;
$tan: #dfd6c3;
$bluegray: mix($blue, $gray, 50%);

body {
	color: #58504A;
	background: #FFF;
}

#main-container {
	margin-top: 55px;
}

.bold {
	font-weight: 800;	
}

#feature-article{
	width: 100%;
	
	.overall-header {
		width: 100%;
		height: 188px;
		color: #6d6e6a;
		font-size: 62px;
		text-align: center;
		vertical-align: middle;
		padding-top: 65px;
		
		@media only screen and (max-width: 910px) {
			font-size: 50px;	
			padding-top: 75px;
		}
		
		@media only screen and (max-width: 740px) {
			font-size: 40px;	
			padding-top: 80px;
		}
		
		@media only screen and (max-width: 590px) {	
			padding-top: 60px;
		}
	}
	
	header {
		width: 100%;
		background-color: gray;
		color: white;
		min-height: 640px;
		position: relative;
		
		.header-wrapper {
			position: absolute;
			bottom: 40px;
			left: 120px;
			width: calc(100% - 240px);
			max-width: 1280px;
			@media only screen and (max-width: 960px) {
				left: 0;
				width: 100%;
			}
		}
		
		.main-header-content {
			display: inline-block;
			width: calc(100% - 320px);
			min-width: 730px;
			
			@media only screen and (max-width: 960px) {
				width: 100%;
				padding-left: 10px;
				padding-right: 10px;
				min-width: 0px;
			}
			
			.header-title {
				font-size: 65px;	
				@media only screen and (max-width: 560px) {
					font-size: 45px;	
				}
			}
			.header-content {
				padding-left: 0px;	
				font-size: 22px;
				line-height: 32px;
				@media only screen and (max-width: 560px) {
					font-size: 18px;
					line-height: 26px;
				}
			}
		}
		.right-header-content{
			display: inline-block;
			width: 300px;
			border: none;
			border-left: 1.5px dotted #fff;
			padding-left: 20px;
			padding-top: 20px;
			
			.two-images {
				img {
					display: inline-block;
					width: 45%;
					height: auto;
					
					&:first-child {
						margin-right: 10px;	
					}
				}
			}
			
			.content {
				margin-top: .5em;
				font-size: 18px;
				line-height: 28px;
			}
		}
	}
}

#feature-article header.nav-wrapper {
	background-color: white;
	//position: fixed;
	z-index: 100;
	width: 100%;
	border-bottom: 0;
	font-size: 18px;
	padding: 0px 60px;
	border-bottom: 1px solid #000;
	min-height: 0;
	height: auto;
	
	@media only screen and (max-width: 1216px) {
			
	}
	
	.nav-button {
		display: none;
	}
	.title {
		display: inline-block;	
		color: rgb(109, 110, 106);
		margin-right: 60px;
		padding-top: 18px;
		padding-bottom: 16px;
	}
	a {
		padding-top: 18px;
		padding-bottom: 16px;
		color: rgb(166, 167, 162);	
		font-weight: 100;
		margin-right: 35px;
		&.active {
			text-decoration: underline;
		}
	}
	
	&.scroll-nav {
		position: fixed;
		top: 55px;
		left: 0;
		display: none;
	}
	
	&.middle-nav {
		display: none;
		
		@media only screen and (max-width: 750px) {
			display: block;
		}	
	}
}

section.interview-content {
	margin-top: 63px;
	margin-bottom: 120px;	
	padding-top: 30px;
}


.row {
	vertical-align: top;
	margin: 0 auto;
	max-width: 1280px;
	.sidebar {
		display: inline-block;
		max-width: 350px;	
		line-height: initial;
		padding: 0px;
		color: #000;
		
		@media only screen and (max-width: 1080px) {
			max-width: 300px;	
		}
		@media only screen and (max-width: 900px) {
			max-width: 250px;	
		}
		
		@media only screen and (max-width: 750px) {
			//max-width: 250px;	
			display:block;
			max-width: 100%;
			width: 100%;
			margin-bottom: 40px;
		}
		
		.sidebar-box {
			padding: 40px 20px;
			color: rgba(0, 0, 0, .45);
			
			p {
				font-size: 18px;
				line-height: 28px;	
				margin-bottom: 0px;
			}
			
			img {
				margin: 0 auto;	
			}
			
			&.solid {
				background-color: rgb(249, 249, 248);	
			}
			
			&.blank{
				height: 300px;	
			}
			
			&.dotted {
				border-left: 2px dotted rgb(157,195,182);	
			}
			
			&.extra-top-margin {
				margin-top: 50px;	
				&.double-top {
					margin-top: 100px;	
				}
			}
		}
	}

	.interview-wrapper {
		width: calc(100% - 360px);
		display: inline-block;
		vertical-align: top;
		padding: 0px 60px;
		
		@media only screen and (max-width: 1080px) {
			width: calc(100% - 330px);
		}
		
		@media only screen and (max-width: 900px) {
			width: calc(100% - 280px);
		}
		
		@media only screen and (max-width: 750px) {
			//max-width: 250px;	
			width: 100%;
			display: block;
			padding: 0px 15px;
			
		}
		
		.interview-content {
			
			.speaker-avatar, .speaker-speaks {
				display: inline-block;	
				vertical-align: top;
				
				@media only screen and (max-width: 750px) {
					display: block;	
				}
			}
			
			.speaker-avatar {
				width: 40px;
				height: 40px;
				margin-bottom: 10px;
				margin-right: 10px;
				
				@media only screen and (max-width: 750px) {
					margin-bottom: 0px;	
				}
				
				&.dirk {
					background-image: image-url('features/an-oral-history/dirk-circ.png');	
				}
				&.andrei {
					background-image: image-url('features/an-oral-history/dirk-circ.png');	
				}
				&.juhan {
					background-image: image-url('features/an-oral-history/dirk-circ.png');	
				}
				&.donna {
					background-image: image-url('features/an-oral-history/dirk-circ.png');	
				}
				&.ben {
					background-image: image-url('features/an-oral-history/dirk-circ.png');	
				}
				&.uday {
					background-image: image-url('features/an-oral-history/dirk-circ.png');	
				}
				&.eric {
					background-image: image-url('features/an-oral-history/dirk-circ.png');	
				}
				&.jon {
					background-image: image-url('features/an-oral-history/dirk-circ.png');	
				}
				&.sarah {
					background-image: image-url('features/an-oral-history/dirk-circ.png');	
				}
				&.jen {
					background-image: image-url('features/an-oral-history/dirk-circ.png');	
				}
				background-size: cover;
			}
			.speaker-speaks {
				width: calc(100% - 70px);
				padding-top: 10px;
				margin-bottom: 10px;
				color: rgb(119, 110, 106);
				font-size: 18px;
				line-height: 28px;
				font-weight: 100;
				
				@media only screen and (max-width: 750px) {
					width: 100%;	
					margin-bottom: 30px;
				}
				
				.full-name {
					font-weight: 700;
				}	
			}
		}
		
	}
	
}