@import '../base/_mixins';
@import '../base/_colors';
@import '../base/_type';

$section-spacing: 2.5rem;

$text-shadow-source: 10px;
$text-shadow-glow: 50px;

.big-betty {
  font-family: $font-family-serif;
  font-size: 22px;
  line-height: 30px;
  padding-bottom: $section-spacing;

  img {
    margin: 0 auto 1.5rem auto;

    @include breakpoint('600px') {
      max-width: 80%;
    }
  }

  &__hero {
    position: relative;
    height: 300px;
    background-image: image-url('features/big-betty/hero.jpg');
    background-position: center -100px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 -20px 30px -30px #000;
    margin-bottom: $section-spacing + 1rem;

    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 100px;
      font-weight: bold;
      color: rgba(255, 255, 255, 0.75);
      transform: translate(-50%, -50%);

      .magenta {
        text-shadow: 0 0 $text-shadow-source #ff00ff, 0 0 $text-shadow-glow #ff00ff;
      }
      .cyan {
        text-shadow: 0 0 $text-shadow-source #00ffff, 0 0 $text-shadow-glow #00ffff;
      }
      .yellow {
        text-shadow: 0 0 $text-shadow-source #ffff00, 0 0 $text-shadow-glow #ffff00;
      }

      @include breakpoint('600px') {
        font-size: 140px;
        white-space: nowrap;
      }

      @include breakpoint('700px') {
        font-size: 170px;
        white-space: nowrap;
      }
    }

    @include breakpoint('600px') {
      height: 450px;
    }

    @include breakpoint('800px') {
      height: 600px;
    }

    @include breakpoint('1000px') {
      height: 800px;
      background-position: center -200px;
    }
    @include breakpoint('1400px') {
      background-position: center -300px;
    }
    @include breakpoint('1750px') {
      background-position: center -500px;
    }
    @include breakpoint('2000px') {
      background-position: center -650px;
    }
  }

  &__section {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 1.5rem;
  }

  &__h3 {
    margin-top: $section-spacing;
    margin-bottom: 1rem;
    font-size: 30px;
  }
}
