@import "../base/core";

$gray: #939598;
$lightgray: lighten($gray, 35%);
$offwhite: #F2F2F2;
$gold: #F4D37B;
$contentBorder: rgba(0,0,0, .21);
$bodyBackground: rgba(0,0,0, .01);
$lightgray: #93969a;

$orange: #E68B35;
$blue: #0282C1;
$pink: #DD2E64;
$purple: #82659B;
$teal: #0396AA;
$gridgray: #f2f1f1;

$animateSpeed: 500ms;
$gridWidth: 100%;
$gridLeft: 0;
$gridTop: 0;


/* ===== Grid ===== */

#grid-section-container {
  width: 100%;
  background-color: $gridgray !important;
  #grid-section {
    width: 80%;
    margin: 0 10% 15% 10%;
    padding: 2em 0;
  }
}

#grid-area {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  background-color: $gridgray;
  #grid-container {
    position: absolute;
    top: $gridTop;
    left: $gridLeft;
    width: $gridWidth;
    -webkit-transition: opacity $animateSpeed;
    -moz-transition: opacity $animateSpeed;
    -o-transition: opacity $animateSpeed;
    -ms-transition: opacity $animateSpeed;
    transition: opacity $animateSpeed;
    background-color: $gridgray;
    .grid-panel {
      position: absolute;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      overflow: hidden;
      z-index: 0;
      font-size: 1em;
      background-color: transparent;
      &[data-row="1"] {
        &:before {
          border-color: $teal;
        }
      }
      &[data-row="2"] {
        &:before {
          border-color: $purple;
        }
      }
      &[data-row="3"] {
        &:before {
          border-color: $blue;
        }
      }
      &[data-row="4"] {
        &:before {
          border-color: $pink; 
        }
      }
      &:before {
        content: " ";
        position: absolute;
        z-index: 500000;
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
        border: 4px solid;
      }
      &.transition {
        -webkit-transition: none !important;
        -moz-transition: none !important;
        transition: none !important;
        .bg-container {
          .grid-bg {
            width: 80%;
            margin: auto;
          }
        }
      }
      &.no-transition {
        -webkit-transition: none !important;
        -moz-transition: none !important;
        transition: none !important;
        .bg-container {
          .grid-bg {
            -webkit-transition: none !important;
            -moz-transition: none !important;
            transition: none !important;
          }
        }
      }
      &.hover {
        cursor: pointer;
        &:before {
          border-color: $orange;
        }
        .bg-container {
          .grid-bg {
            -webkit-transform: scale(1.1, 1.1);
            -moz-transform: scale(1.1, 1.1);
            -ms-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
          }
        }
      }
      .bg-container {
        position: absolute;
        left: 4px;
        right: 4px;
        top: 4px;
        bottom: 4px;
        overflow: hidden;
        background-color: white;
        .grid-bg {
          width: 100%;
          -webkit-transition: -webkit-transform $animateSpeed ease-in-out, width $animateSpeed, margin $animateSpeed;
          -moz-transition: -moz-transform $animateSpeed ease-in-out, width $animateSpeed, margin $animateSpeed;
          transition: transform $animateSpeed ease-in-out, width $animateSpeed, margin $animateSpeed;
        }
      }
    }
  }
  #slideshow-container {
    position: absolute;
    top: $gridTop;
    left: $gridLeft;
    width: $gridWidth;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity $animateSpeed;
    -moz-transition: opacity $animateSpeed;
    -o-transition: opacity $animateSpeed;
    -ms-transition: opacity $animateSpeed;
    transition: opacity $animateSpeed;
    .slick-track {
      height: 100%;
    }
    .slick-slide {
      height: 100%;
    }
    .nav-button {
      position: absolute;
      top: 45%;
      width: 3%;
      height: 9%;
      z-index: 999;
      transition: opacity 250ms ease-in-out;
      opacity: 0.8 !important;
      -webkit-transition: opacity $animateSpeed;
      -moz-transition: opacity $animateSpeed;
      -o-transition: opacity $animateSpeed;
      -ms-transition: opacity $animateSpeed;
      transition: opacity $animateSpeed;
      background-repeat: no-repeat;
      background-size: contain;
      transition: background-image 250ms ease-in-out;
      &[data-row="1"] {
        background-image: image-url("../../images/features/disrupt/grid/buttons/left-teal.png");
      }
      &[data-row="2"] {
         background-image: image-url("../../images/features/disrupt/grid/buttons/left-purple.png");
      }
      &[data-row="3"] {
        background-image: image-url("../../images/features/disrupt/grid/buttons/left-blue.png");
      }
      &[data-row="4"] {
        background-image: image-url("../../images/features/disrupt/grid/buttons/left-pink.png");
      }
      &:hover {
        opacity: 1 !important;
        cursor: pointer;
      }
      &:after, &:before {
        content: "";
      }
      &.prev {
        left: 1.75%;
      }
      &.next {
        right: 1.75%;
        transform: rotate(180deg);
      }
    }
    .close {
      position: absolute;
      top: 1.75%;
      right: 1.75%;
      width: 4%;
      height: 5%;
      z-index: 999;
      opacity: 0.8;
      -webkit-transition: opacity $animateSpeed;
      -moz-transition: opacity $animateSpeed;
      -o-transition: opacity $animateSpeed;
      -ms-transition: opacity $animateSpeed;
      transition: opacity $animateSpeed;
      background-repeat: no-repeat;
      background-size: contain;
      transition: background-image 250ms ease-in-out;
      &:hover {
        cursor: pointer;
        opacity: 1;
      }
      &[data-row="1"] {
        background-image: image-url("../../images/features/disrupt/grid/buttons/x-teal.png");
      }
      &[data-row="2"] {
        background-image: image-url("../../images/features/disrupt/grid/buttons/x-purple.png");
      }
      &[data-row="3"] {
        background-image: image-url("../../images/features/disrupt/grid/buttons/x-blue.png");
      }
      &[data-row="4"] {
        background-image: image-url("../../images/features/disrupt/grid/buttons/x-pink.png");
      }
    }
    #slides-container {
      width: 100%;
      height: 100%;
      background-color: white;
      .slide {
        width: 100%;
        height: 100%;
        border: 4px solid;
        .container {
          width: 88%;
          margin: 6%;
          vertical-align: middle;
          .column {
            display: inline-block;
            vertical-align: top;
            &.left {
              width: 60%;
            }
            &.right {
              float: right;
              width: 35%;
              margin-left: 5%;
            }
            .title {
              font-family: "proxima-nova", sans-serif;
              text-align: center;
              text-transform: uppercase;
              margin-bottom: 5%;
              color: $orange;
              @media only screen and (min-width: 1201px) {
                font-size: 2.5em;
                letter-spacing: 0.5em;
                padding-left: 0.5em;
                margin-left: -0.5em;
                line-height: 1em;
              }
              @media only screen and (max-width: 1200px) {
                font-size: 3vw;
                letter-spacing: 1.5vw;
                padding-left: 1.5vw;
                margin-left: -1.5vw;
                line-height: 3vw;
              }
            }
            .description {
              @media only screen and (min-width: 1201px) {
                font-size: 0.94em;
                line-height: 1.5em;
              }
              @media only screen and (max-width: 1200px) {
                font-size: 1.2vw;
                line-height: 2vw;
              }
            }
            .image {
              background-repeat: no-repeat;
              background-size: cover;
              margin: 0;
            }
          }
        }
        &[data-tech="genomics"] {
          .image {

          }
        }
        &[data-row="1"] {
          border-color: $teal;
        }
        &[data-row="2"]{
          border-color: $purple;
        }
        &[data-row="3"] {
          border-color: $blue;
        }
        &[data-row="4"] {
          border-color: $pink;
        }
      }
    }
  }
}


/* ===== Headers ===== */

.navigation {
  position: fixed;
  top: 55px;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(3,150,170,0.95);
  font-family: "adobe-jenson-pro", serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.21);
  box-shadow: 0px -2px 7px;
  padding: 0px 26px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  ul, ol {
    text-align: center;
    margin: 0 auto;
    li {
      display: inline-block;
      white-space: nowrap;
      padding: 8px;
      padding-right: 20px;
      font-size: 1em;
      a {
        color: rgba(255,255,255,0.8);
        transition: all 150ms ease-in-out;
        cursor: pointer;
        &:hover {
          color: rgba(255,255,255,1);
        }
      }
    }
  }
}


/* ===== Videos ===== */

.video-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: -3px;
  video {
    width: 100%;
    height: auto;
  }
}

#tomato-vid {
  width: 80%;
  max-width: 1050px;
  height: auto;
  overflow: hidden;
  video {
    width: 100%;
    height: auto;
  }
}

/* ===== Article ===== */

.container.content {
  background-color: white;
}

article.disrupt {
  font-family: "adobe-jenson-pro", serif;
  max-width: 1200px;
  margin: 0 auto;
  background-color: transparent;
}

header {
  font-family: "proxima-nova", sans-serif;
  h3 {
    font-family: "proxima-nova", sans-serif;
    width: 100%;
    font-size: 1.7em;
    font-size: 2.0vw;
    letter-spacing: 0.3em;
    padding-left: 0;
    color: $orange;
    text-transform: uppercase;
    @media only screen and (min-width: 1200px) {
      font-size: 1.7em;
    }
  }
  &.article-header {
    .header-contents {
      position: relative;
      .title-container {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        h1 {
          font-family: "proxima-nova", sans-serif;
          font-size: 6em;
          font-size: 8vw;
          color: white;
          letter-spacing: 0.7em;
          margin: 0;
          padding-left: 0.5em;
          text-align: center;
          text-transform: uppercase;
        }
      }
      .social-container {
        position: absolute;
        width: 100%;
        bottom: 6%;
        text-align: center;
      }
    }
  }
  &.sec-header {
      position: relative;
      font-family: "proxima-nova", sans-serif;
      &#top {
        margin-top: 7.1em;
      }
      .title-container {
        position: absolute;
        left: 0;
        bottom: 6%;
        width: 100%;
        color: white;
        text-align: center;
        h3 {
          margin: 10px 0 0 0;
          width: 100%;
          font-size: 3em;
          font-size: 4vw;
          letter-spacing: 0.5em;
          padding-left: 0.5em;
          color: white;
          text-transform: uppercase;
        }
        h4 {
          margin: 0.5% 0%;
          width: 100%;
          font-size: 2em;
          font-size: 2vw;
          letter-spacing: 0.3em;
          padding-left: 0.3em;
          text-transform: uppercase;
        }
      }
    }
}
article {
  .article-section {
    margin: 8em 0 10em 0;
    @media only screen and (max-width: 800px) {
      margin: 1.5em 0 3em 0;
    }
    &#section-1 {
      h3 {
        color: $blue;
      }
    }
    &#section-3 {
      h3 {
        color: $purple;
      }
    }
    &#section-5 {
      h3 {
        color: $teal;
      }
    }
    &#section-6 {
      h3 {
        color: $purple;
      }
    }
    &#closer {
      h3 {
        color: $orange;
      }
    }
    header {
      margin-left: 5%;
    }
  }
}

.disqus-container {
  width: 100%;
  height: auto;
  max-width: 1050px;
  margin: auto;
  padding: 10px;
  @media only screen and (max-width: 1200px) {
    width: 85%;
    max-width: 1050px;
  }
}

.social-buttons {
  svg {
    width: 28px;
    height: 28px;
    background: #474751;
    padding: 6px;
    fill: $offwhite;
    transition: background 250ms ease-in-out;
    &:hover {
      background:#83838E;
    }
    @media only screen and (max-width: 600px) {
      width: 20px;
      height: 20px;
    }
  }

  &.end {
    text-align: center;
    margin-bottom: 3em;
    @media only screen and (max-width: 1200px) {
      margin-bottom: 4vw;
    }
  }
}

.section-content {
  margin: 1% 0;
  width: 100%;
  p, ul, ol {
    font-size: 1.5em;
    line-height: 1.5em;
  }
  ul, ol {
    li {
      margin-bottom: 0.5em;
    }
  }
  .content {
    display: inline-block;
    vertical-align: top;
    width: 90%;
    margin: 0 5%;
    .sub-sec {
      margin: 2em 0;
      &:last-of-type {
        margin: 2em 0 0 0;
      }
      &:first-of-type {
        margin: 0 0 2em 0;
      }
      h3 {
        font-family: "proxima-nova", sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        @media only screen and (min-width: 1201px) {
          font-size: 1.5em;
          letter-spacing: 0.5em;
          margin-bottom: 0.3em;
          line-height: 1.4em;
        }
        @media only screen and (max-width: 1200px) {
          font-size: 1.9vw;
          letter-spacing: 1.1vw;
          margin-bottom: 0.5vw;
          line-height: 3.6vw;
        }
      }
    }
    p {
      margin: 0 16% 2em 0;
      &.no-margin {
        margin: 0 16% 0 0;
      }
    }
    .images {
      &.center {
        width: 100%;
        margin-bottom: 3em;
        @media only screen and (max-width: 1200px) {
          margin-bottom: 4vw;
        }
        img {
          width: 80%;
        }
        .caption {
          font-size: 1.5em;
          padding-top: 0.9em;
          color: $lightgray;
          @media only screen and (max-width: 1200px) {
            font-size: 2vw;
            padding-top: 1.5vw;
          }
        }
      }
      &.right {
        float: right;
        width: 40%;
        height: auto;
        margin-left: 2%;
      }
      .image {
        margin-bottom: 1.5em;
        @media only screen and (max-width: 1200px) {
          margin-bottom: 1.7vw;
        }
        .caption {
          color: $lightgray;
          @media only screen and (min-width: 1201px) {
            font-size: 1.1em;
            margin: 0.4em;
            margin-left: 0.6em;
          }
          @media only screen and (max-width: 1200px) {
            font-size: 1.47vw;
            margin: 0.45vw;
            margin-left: 0.9vw;
          }
        }
      }
    }
  }
  .right-side {
    display: inline-block;
    vertical-align: top;
    width: 20%;
  }
  .full {
    width: 100%;
    margin: 2em 0;
  }
  .grid {
    background-color: gray;
  }
}


/* ===== Footer ===== */

#bottom-nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  z-index: 50000;
  background-color: white;
  opacity: 0;
  pointer-events: none;
  @media only screen and (max-width: 1000px) {
    height: 60px;
  }
  @media only screen and (max-width: 850px) {
    height: 50px;
  }
  @media only screen and (max-width: 650px) {
    height: 30px;
  }
  .link-fill {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  .text-container {
    position: absolute;
    font-family: "proxima-nova", sans-serif;
    text-transform: uppercase;
    padding-top: 0.95em;
    top: 0px;
    @media only screen and (min-width: 1201px) {
      right: 50px;
      .next-part {
        font-size: 0.9em;
        letter-spacing: 0.6em;
        padding: 0 0.8em 0.4em 0;
      }
      .title {
        font-size: 1.5em;
        letter-spacing: 0.8em;
      }
    }
    @media only screen and (max-width: 1200px) {
      padding-top: 0.82em;
      right: 50px;
      .next-part {
        font-size: 0.9em;
        letter-spacing: 0.6em;
        padding: 0 0.8em 0.4em 0;
      }
      .title {
        font-size: 1.5em;
        letter-spacing: 0.8em;
      }
    }
    @media only screen and (max-width: 1000px) {
      padding-top: 0.75em;
      right: 42px;
      .next-part {
        font-size: 0.8em;
        letter-spacing: 0.5em;
        padding: 0 0.6em 0.3em 0;
      }
      .title {
        font-size: 1.4em;
        letter-spacing: 0.7em;
      }
    }
    @media only screen and (max-width: 850px) {
      padding-top: 0.6em;
      right: 32px;
      .next-part {
        font-size: 0.6em;
        letter-spacing: 0.4em;
        padding: 0 0.6em 0.2em 0;
      }
      .title {
        font-size: 1.3em;
        letter-spacing: 0.5em;
      }
    }
    @media only screen and (max-width: 650px) {
      padding-top: 0.25em;
      right: 12px;
      .next-part {
        font-size: 0.5em;
        letter-spacing: 0.2em;
        padding: 0 0.6em 0.1em 0;
      }
      .title {
        font-size: 1em;
        letter-spacing: 0.4em;
      }
    }
    @media only screen and (max-width: 450px) {
      padding-top: 0.35em;
      right: 15px;
      .next-part {
        font-size: 0.4em;
        letter-spacing: 0.1em;
        padding: 0 0.5em 0.05em 0;
      }
      .title {
        font-size: 0.8em;
        letter-spacing: 0.2em;
      }
    }
    .next-part {
      text-align: right;
      color: $lightgray;
      font-weight: 400;
    }
    .title {
      font-weight: 800;
    }
  }
  .arrow {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(180deg);
    @media only screen and (min-width: 1200px) {
      width: 14px;
      height: 42px;
      right: 25px;
      top: 12px;
    }
    @media only screen and (max-width: 1200px) {
      width: 14px;
      height: 42px;
      right: 25px;
      top: 12px;
    }
    @media only screen and (max-width: 1000px) {
      width: 13px;
      height: 39px;
      right: 20px;
      top: 9px;
    }
    @media only screen and (max-width: 850px) {
      width: 10px;
      height: 30px;
      right: 14px;
      top: 9px;
    }
    @media only screen and (max-width: 650px) {
      width: 6px;
      height: 18px;
      right: 6px;
      top: 5px;
    }
    &#one {
      background-image: image-url("../../images/features/disrupt/grid/buttons/left-orange.png");
    }
    &#two {
      background-image: image-url("../../images/features/disrupt/grid/buttons/left-pink.png");
    }
    &#three {
      background-image: image-url("../../images/features/disrupt/grid/buttons/left-purple.png");
    }
    &#four {
      background-image: image-url("../../images/features/disrupt/grid/buttons/left-blue.png");
    }
    &#five {
      background-image: image-url("../../images/features/disrupt/grid/buttons/left-teal.png");
    }
  }
}

.contributions {
  width: 100%;
  background-color: $purple;
  padding-top: 20px;
  padding-bottom: 20px;

  .cont-wrapper {
    font-family: "proxima-nova", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    color: white;
    max-width: 1200px;
    margin: 0 auto;
  }

  .orange {
    color: $orange;
  }

  table {
    margin: 0 auto;
    width: 100%;
    margin: 40px auto 20px auto;
    width: 100%;
    max-width: 1050px;
    @media only screen and (max-width: 1200px) {
      width: 85%;
      max-width: 1050px;
    }
    tr {
      td {
        &.author {
          padding-left: 0%;
          width: 100%;
        }
        &.designer {
          padding-left: 16%;
          width: 84%;
        }
        &.developer {
          padding-left: 32%;
          width: 68%;
        }
        &.editor {
          padding-left: 48%;
          width: 52%;
        }
        &.special {
          padding-left: 64%;
          width: 36%;
        }
      }
    }
  }

  .footer-logo {
    width: 100%;
    padding-left: 9%;

    .logo, a {
      display: inline-block;
    }

    .logo {
      margin-right: 25px;
    }

    a {
      color: #fff;
      transition: color 250ms ease-in-out;

      &:hover {
        color: #dbdbdb;
      }
    }
  }
}

.scroll-wrapper {
  overflow: hidden;
  margin-bottom: 2em;
  transition: height 10ms ease-in-out;
  .full {
    margin-bottom: 0px;
  }

  &.fix-me {
    position: fixed;
    width: 100%;
    max-width: 1199px;
    z-index: 1000;
  }

  .scroll-empty {
    height: 0;
    transition: height 10ms ease-in-out;
  }

  .video.full, img, div, .media-block.wide img{
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 1000px) {
  .navigation {
    display: none;
  }

  .section-content p, .section-content ul, .section-content ol, .media-block p, .media-block ul, .media-block ol {
    font-size: 1.2em;
    @media only screen and (max-width: 600px) {
      font-size: 0.8em
    }
  }

  .main-header {
    padding-bottom: 4em;
    .header-contents {
      padding-bottom: 62px;
      padding-right: 20px;
      padding-left: 20px;
      padding-top: calc(5.5em + 220px);
      h1 {
        font-size: 2em;
      }

      h2 {
        font-size: 1.25em;
      }

      .email, .author {
        font-size: 1em;
      }
    }
  }

  .aside-media .video, .slider .video {
    margin-right: 20px;
  }

  .aside-media .caption, .aside-media .slider-aside, .slider .caption, .slider .slider-aside {
    width: 27%;
  }

  .media-block.relative .axiom-link {
    font-size: .65em;
  }

  .contributions table td {
    font-size: 0.725em;
  }

  .contributions .footer-logo {
    padding: 0px 20px;

    .logo {
      max-width: 100px;
    }

    a {
      font-size: 0.8em;
    }
  }
}

p.margin-bottom {
  margin-bottom: 4em;
}
