@import "../base/core";

$gray: #939598;
$lightgray: lighten($gray, 35%);
$offwhite: #F2F2F2;
$gold: #F4D37B;
$contentBorder: rgba(0,0,0, .21);
$bodyBackground: rgba(0,0,0, .01);

$orange: #d98340;
$cyan: #2678ad;
$magenta: #ca285a;
$purple: #795d88;
$teal: #238e9a;

$animateSpeed: 500ms;
$gridWidth: 100%;
$gridLeft: 0;
$gridTop: 0;


/* ===== Grid ===== */

#grid-area {
  position: relative;
  margin-bottom: 5em;
  width: 100%;
  background-color: black;
  #grid-container {
    position: absolute;
    top: $gridTop;
    left: $gridLeft;
    width: $gridWidth;
    -webkit-transition: opacity $animateSpeed;
    -moz-transition: opacity $animateSpeed;
    -o-transition: opacity $animateSpeed;
    -ms-transition: opacity $animateSpeed;
    transition: opacity $animateSpeed;
    .grid-panel {
      position: absolute;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid black;
      overflow: hidden;
      z-index: 0;
      font-size: 1em;
      background-color: gray;
      &.no-transition {
        -webkit-transition: none !important;
        -moz-transition: none !important;
        transition: none !important;
        .bg {
          -webkit-transition: none !important;
          -moz-transition: none !important;
          transition: none !important;
        }
        .overlay {
          -webkit-transition: none !important;
          -moz-transition: none !important;
          transition: none !important;
        }
        .title {
          -webkit-transition: none !important;
          -moz-transition: none !important;
          transition: none !important;
        }
      }
      &.hover {
        cursor: pointer;
        .bg {
          -webkit-transform: scale(1, 1);
          -moz-transform: scale(1, 1);
          -ms-transform: scale(1, 1);
          transform: scale(1, 1);
        }
        .overlay {
          opacity: 0.5;
        }
        .title {
          transform: scale(1.2) translate(0, -65%);
        }
      }
      &[data-tech="genomics"] {
        .bg {
          background-image: image-url("features/disrupt/genomics1.jpg");
        }
      }
      &[data-tech="robotics1"] {
        .bg {
          background-image: image-url("features/disrupt/robotics1.jpg");
        }
      }
      &[data-tech="robotics2"] {
        .bg {
          background-image: image-url("features/disrupt/robotics2.jpg");
        }
      }
      &[data-tech="robotics3"] {
        .bg {
          background-image: image-url("features/disrupt/robotics3.jpg");
        }
      }
      &[data-tech="robotics4"] {
        .bg {
          background-image: image-url("features/disrupt/robotics4.jpg");
        }
      }
      &[data-tech="robotics5"] {
        .bg {
          background-image: image-url("features/disrupt/robotics5.jpg");
        }
      }
      .bg {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;

        -webkit-transform: scale(1.1, 1.1);
        -moz-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);

        -webkit-transition: -webkit-transform $animateSpeed ease-in-out;
        -moz-transition: -moz-transform $animateSpeed ease-in-out;
        transition: transform $animateSpeed ease-in-out;
      }
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(92,153,214);
        opacity: 0;
        -webkit-transition: opacity $animateSpeed ease-in-out;
        -moz-transition: opacity $animateSpeed ease-in-out;
        transition: opacity $animateSpeed ease-in-out;
      }
      .title {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translate(0, -50%);
        color: white;
        font-size: 1em;
        text-align: center;
        -webkit-transition: all $animateSpeed ease-in-out;
        -moz-transition: all $animateSpeed ease-in-out;
        transition: all $animateSpeed ease-in-out;
      }
    }
  }
  #slideshow-container {
    position: absolute;
    top: $gridTop;
    left: $gridLeft;
    width: $gridWidth;
    border: 1px solid black;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity $animateSpeed;
    -moz-transition: opacity $animateSpeed;
    -o-transition: opacity $animateSpeed;
    -ms-transition: opacity $animateSpeed;
    transition: opacity $animateSpeed;
    .nav-button {
      position: absolute;
      top: calc(50% - 20px);
      width: 20px;
      height: 40px;
      opacity: .65 !important;
      background-image: image-url('arrow.png');
      background-size: contain;
      background-repeat: no-repeat;
      z-index: 999;
      transition: opacity 250ms ease-in-out;
      &:hover {
        opacity: 1 !important;
        cursor: pointer;
      }
      &:after, &:before {
        content: "";
      }
      &.prev {
        left: 15px;
        transform: rotate(180deg);
        @media only screen and (max-width: 650px) {
          left: 5px;
        }
      }
      &.next {
        right: 15px;
        @media only screen and (max-width: 650px) {
          right: 5px;
        }
      }
    }
    .close {
      position: absolute;
      top: 2%;
      right: 2%;
      width: 5px;
      height: 5px;
      z-index: 999;
      &:hover {
        cursor: pointer;
      }
    }
    #slides-container {
      width: 100%;
      height: 100%;
      background-color: white;
      .slide {
        width: 100%;
        .container {
          width: 88%;
          margin: 6%;
          vertical-align: middle;
          .column {
            display: inline-block;
            vertical-align: top;
            &.left {
              width: 60%;
            }
            &.right {
              float: right;
              width: 35%;
              margin-left: 5%;
            }
            .title {
              font-size: 3em;
              border-top: 1px solid black;
              border-bottom: 1px solid black;
              text-align: center;
              margin-bottom: 5%;
              @media only screen and (max-width: 650px) {
                font-size: 2em;
              }
            }
            .description {
              @media only screen and (max-width: 425px) {
                font-size: 0.8em;
              }
            }
            .links {
              @media only screen and (max-width: 425px) {
                font-size: 0.8em;
              }
              ul {
                list-style: none;
              }
            }
            .image {
              background-repeat: no-repeat;
              background-size: cover;
              margin: 0;
            }
          }
        }
        &[data-tech="genomics"] {
          .image {
            background-image: image-url("features/disrupt/genomics1.jpg");
          }
        }
        &[data-tech="robotics1"] {
          .image {
            background-image: image-url("features/disrupt/robotics1.jpg");
          }
        }
        &[data-tech="robotics2"] {
          .image {
            background-image: image-url("features/disrupt/robotics2.jpg");
          }
        }
        &[data-tech="robotics3"] {
          .image {
            background-image: image-url("features/disrupt/robotics3.jpg");
          }
        }
        &[data-tech="robotics4"] {
          .image {
            background-image: image-url("features/disrupt/robotics4.jpg");
          }
        }
        &[data-tech="robotics5"] {
          .image {
            background-image: image-url("features/disrupt/robotics5.jpg");
          }
        }
      }
    }
  }
}


/* ===== Headers ===== */

.navigation {
  position: fixed;
  top: 55px;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.21);
  box-shadow: 0px -2px 7px;
  padding: 0px 26px;
  ul, ol {
    margin: 0 auto;
    li {
      display: inline-block;
      white-space: nowrap;
      padding: 8px;
      padding-right: 20px;
      font-size: .8em;

      a {
        color: black;
        transition: all 250ms ease-in-out;
        cursor: pointer;
        text-transform: uppercase;
        &:hover {
          color: gray;
        }
      }
    }
  }
}


/* ===== Videos ===== */

.video-container {
  width: 100%;
  overflow: hidden;
  margin-bottom: -3px;
  video {
    width: 100%;
    height: auto;
  }
}


/* ===== Article ===== */

.container.content {
    background-color: white;
    .navigation {
      background-color: rgba(37,141,153,0.95);
      ol {
        li {
          a {
            color: white;
          }
        }
      }
    }
}

article.disrupt {
  font-family: "adobe-jenson-pro", serif;
  max-width: 1200px;
  margin: 0 auto 0 8%;
  background-color: transparent;
}

header {
  font-family: "proxima-nova", sans-serif;
  h3 {
    font-family: "proxima-nova", sans-serif;
    width: 100%;
    font-size: 1.7em;
    font-size: 2.0vw;
    letter-spacing: 0.3em;
    padding-left: 0;
    color: $orange;
    text-transform: uppercase;
    @media only screen and (min-width: 1200px) {
      font-size: 1.7em;
    }
  }
  &.article-header {
    .header-contents {
      position: relative;
      padding-top: 7.2em;
      .title-container {
        position: absolute;
        width: 100%;
        bottom: 6%;
        text-align: center;
        h1 {
          font-family: "proxima-nova", sans-serif;
          font-size: 6em;
          font-size: 8vw;
          color: white;
          letter-spacing: 0.7em;
          margin: 0;
          padding-left: 0.5em;
          text-align: center;
          text-transform: uppercase;
        }
      }
    }
  }
  &.sec-header {
      position: relative;
      font-family: "proxima-nova", sans-serif;
      .title-container {
        position: absolute;
        left: 0;
        bottom: 6%;
        width: 100%;
        color: white;
        text-align: center;
        h3 {
          margin: 0;
          width: 100%;
          font-size: 3em;
          font-size: 4vw;
          letter-spacing: 0.5em;
          padding-left: 0.5em;
          color: white;
          text-transform: uppercase;
        }
        h4 {
          margin: 0.5% 0%;
          width: 100%;
          font-size: 2em;
          font-size: 2vw;
          letter-spacing: 0.3em;
          padding-left: 0.3em;
          text-transform: uppercase;
        }
      }
    }
}
article {
  .article-section {
    margin: 8em 0 10em 0;
    @media only screen and (max-width: 800px) {
      margin: 1.5em 0 3em 0;
    }
    &#section-one {
      .sub-sec {
        h3 {
          color: $cyan;
        }
      }
    }
    &#section-two {
      .sub-sec {
        h3 {
          color: $magenta;
        }
      }
    }
    &#section-three {
      .sub-sec {
        h3 {
          color: $purple;
        }
      }
    }
    &#section-four {
      .sub-sec {
        h3 {
          color: $teal;
        }
      }
    }
  }
}

.social-buttons {
  svg {
    width: 28px;
    height: 28px;
    background: #474751;
    padding: 6px;
    fill: $offwhite;
    transition: background 250ms ease-in-out;
    &:hover {
      background:#83838E;
    }
  }

  &.right-align {
    float: right;
    margin-right: 9%;
  }
}

.section-content {
  margin: 1% 0;
  width: 89%;
  &.grid {
    margin: 0;
    width: 100%;
  }
  p, ul, ol {
    font-size: 1.5em;
    line-height: 1.5em;
  }
  ul, ol {
    li {
      margin-bottom: 0.5em;
    }
  }
  .content {
    display: inline-block;
    vertical-align: top;
    width: 73%;
    margin: 0 2% 0 0;
    .sub-sec {
      margin: 2em 0;
      &:last-of-type {
        margin: 2em 0 0 0;
      }
      &:first-of-type {
        margin: 0 0 2em 0;
      }
      h3 {
        font-family: "proxima-nova", sans-serif;
        font-size: 2em;
        font-size: 3vw;
        letter-spacing: 0.3em;
        margin-bottom: 0.3em;
        text-transform: uppercase;
        @media only screen and (min-width: 1200px) {
          font-size: 2em;
        }
      }
    }
    p {
      margin: 0 0 2em 0;
    }
  }
  .right-side {
    display: inline-block;
    vertical-align: top;
    width: 20%;
  }
  .full {
    width: 100%;
    margin: 2em 0;
  }
  .grid {
    background-color: gray;
  }
}


/* ===== Right Side Images ===== */

.right-side {
  .image-container {
    width: 100%;
    height: auto;
    .caption {
      margin-top: 5px;
      font-size: 85%;
      color: $gray;
    }
  }
}


/* ===== Footer ===== */

#bottom-nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  z-index: 50000;
  background-color: white;
  opacity: 0;
  pointer-events: none;
  .text-container {
    float: right;
    margin-right: 20px;
    .next-part {
      text-transform: uppercase;
    }
    .title {
      text-transform: uppercase;
    }
  }
  .arrow {
    float: right;
    width: 30px;
    height: 50px;
    background-color: blue;
    a {
      width: 100%;
      height: 100%;
    }
  }
}

.contributions {
  width: 100%;
  background-color: $purple;
  padding-top: 20px;
  padding-bottom: 20px;

  .cont-wrapper {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
  }

  table {
    margin: 0 auto;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;

    tbody tr td {
      table.column {
        width: 32.5%;

        td {
          &.label {
            color: white;
            text-align: left;
            padding-right: 10px;
          }
          &.person {
            color: #ffffff;
            text-align: left;
            white-space: nowrap;
          }

          padding-top: 3px;
          padding-bottom: 3px;
        }
      }
    }
  }

  .footer-logo {
    width: 100%;
    padding-left: 9%;

    .logo, a {
      display: inline-block;
    }

    .logo {
      margin-right: 25px;
    }

    a {
      color: #fff;
      transition: color 250ms ease-in-out;

      &:hover {
        color: #dbdbdb;
      }
    }
  }
}

.scroll-wrapper {
  overflow: hidden;
  margin-bottom: 2em;
  transition: height 10ms ease-in-out;
  .full {
    margin-bottom: 0px;
  }

  &.fix-me {
    position: fixed;
    width: 100%;
    max-width: 1199px;
    z-index: 1000;
  }

  .scroll-empty {
    height: 0;
    transition: height 10ms ease-in-out;
  }

  .video.full, img, div, .media-block.wide img{
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 1000px) {
  .navigation {
    display: none;
  }

  .section-content p, .section-content ul, .section-content ol, .media-block p, .media-block ul, .media-block ol {
    font-size: 1.2em;
    padding: 0px 20px;
    @media only screen and (max-width: 600px) {
      font-size: 0.8em
    }
  }

  .main-header {
    padding-bottom: 4em;
    .header-contents {
      padding-bottom: 62px;
      padding-right: 20px;
      padding-left: 20px;
      padding-top: calc(5.5em + 220px);
      h1 {
        font-size: 2em;
      }

      h2 {
        font-size: 1.25em;
      }

      .email, .author {
        font-size: 1em;
      }
    }
  }

  .aside-media .video, .slider .video {
    margin-right: 20px;
  }

  .aside-media .caption, .aside-media .slider-aside, .slider .caption, .slider .slider-aside {
    width: 27%;
  }

  .media-block.relative .axiom-link {
    font-size: .65em;
  }

  .contributions table td {
    font-size: 0.725em;
  }

  .contributions .footer-logo {
    padding: 0px 20px;

    .logo {
      max-width: 100px;
    }

    a {
      font-size: 0.8em;
    }
  }
}

p.margin-bottom {
  margin-bottom: 4em;
}
