@import "../base/core";

$orange: #bc743e;
$red: #d65f4d;
$teal: #9ec2b7;
$green: #7f8732;
$blue: #51697b;
$yellow: #ddb40a;

body {
	color: #58504A;
}

section {
	padding-bottom: 3em;
	> h1, > h2, > h3, > h4, > h5, > h6, > header, > .image.inline, > p, > div p, > blockquote, > ol, > ul, > dl, #congressChart {
		max-width: 50%;
		padding: 0 5rem;
	}
	header.centered {
		padding: 1.5em 0;
		max-width: 100%;
		text-align: center;
		h3 {
			font-size: 3em;
			font-weight: 400;
		}
		hr {
			margin: 2em auto;
		}
	}
}

#main-container {
	margin-top: 55px;
}

#main-header {
	background-color: #000;
}

article.government {
	z-index: 0;
	line-height: 1.8em;
	margin: 0 auto;
	hr {
		margin: 2em 0;
		width: 40px;
		border-top: 5px solid #58504A;
	}
	p.emphasized {
		font-size: 2em;
		font-style: italic;
	}
}

.image {
	&.inline {
		margin: 3em 0;
		img {
			max-width: 75%;
		}
	}
	p {
		max-width: 100%;
		padding: 1.5em;
		font-size: 1.1em;
		line-height: 1.5em;
		border: 3px solid;
		margin: 0;
		&.orange {
			border-color: $orange;
		}
		&.red {
			border-color: $red;
		}
		&.teal {
			border-color: $teal;
		}
		&.green {
			border-color: $green;
		}
		&.blue {
			border-color: $blue;
		}
		&.yellow {
			border-color: $yellow;
		}
	}
	&.aside {
		width: 40%;
		padding-right: 5em;
		float: right;
		&.caption-bottom {
			p {
				border-top: 0;
			}
		}
		&.caption-side {
			img {
				float: left;
				max-width: 35%;
			}
			p {
				width: 65%;
				float: left;
				font-size: 1.5em;
				border-left: 0;
				padding: 0 1em;
			}
			strong {
				padding-top: 0.5em;
				display: block;
			}
		}
		
	}
}

.main-nav {
	position: fixed;
	z-index: 20;
	width: 100%;
	padding: 0 5rem;
	background: #FFF;
	border-bottom: 2px solid #DDD;
	@include clearfix();
	a {
		display: block;
		height: 55px;
		padding: 1.3rem 1.5rem 0 0;
		font-size: 1.05em;
		color: #58504A;
		float: left;
		transition: color 200ms ease;
		&:after {
			content: "";
			display: block;
			width: 18px;
			border-bottom: 2px solid transparent;
			transition: border-bottom 200ms ease;
		}
		&:hover, &.active {
			color: #617E94;
			&:after {
				content: "";
				display: block;
				width: 18px;
				border-bottom: 2px solid #617E94;
			}
		}
		
	}
}

#section1 {
	header {
		max-width: 100%;
		padding: 30% 5rem 0;
		margin-bottom: 4em;
		background: url(../../images/features/democracy/hero.jpg) no-repeat;
		background-position: center;
		background-size: cover;
		color: #FFF;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		h1 {
			margin-bottom: 0;
			padding-bottom: 1rem;
			letter-spacing: 1px;
		}
		h2 {
			padding-top: 1.5rem;
			padding-bottom: 2.5rem;
			font-size: 1.375em;
			font-weight: 400;
			max-width: 540px;
		}
		hr {
			border-top: 3px solid #FFF;
			width: 60px;
			margin: 0;
		}
	}
}

#section2 {
	.govtSlides {
		position: relative;
		.visualNav {
			width: 100%;
			@include clearfix();
			a {
				display: block;
				padding: 1em;
				width: calc(100%/6);
				font-size: 1.5em;
				text-align: center;
				float: left;
				color: #AAA;
				&.slide0:hover {
					color: $orange;
				}
				&.slide1:hover {
					color: $red;
				}
				&.slide2:hover {
					color: $teal;
				}
				&.slide3:hover {
					color: $green;
				}
				&.slide4:hover {
					color: $blue;
				}
				&.slide5:hover {
					color: $yellow;
				}
			}
		}
		.buttonNav a {
			position: absolute;
			z-index: 10;
			font-size: 0;
			width: 41px;
			height: 100px;
			top: 45%;
			background: image-url("arrow.png") no-repeat;
			background-size: 41px 100px;
			&.prev {
				left: 30px;
				transform: scaleX(-1);
			}
			&.next {
				right: 30px;
			}
		}
	} 
	#govtSlider {
		margin-bottom: 0;
		.slick-slide {
			@include clearfix();
			background-color: #F5F5F5;
			header p {
				margin: 0;
			}
			h4 {
				font-weight: 400;
				font-size: 4em;
			}
			p {
				max-width: 100%;
				padding: 0;
			}
			
			.text, .image {
				float: left;
			}
			.text {
				width: 75%;
				padding: 2em 2em 2em 8em;
			}
			.image {
				width: 25%;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			}
			.col {
				float: left;
				width: 50%;
				&.one {
					padding-right: 1em;
				}
				&.two {
					padding-left: 1em;
				}
			}
		}
		.theocracy {
			border-top: 3px solid $orange;
			border-bottom: 3px solid $orange;
			hr {
				border-color: $orange;
			}
			.image {
				background-image: image-url('features/democracy/examples/king-tang.jpg');
				background-position: center top;
			}
		}
		.oligarchy {
			border-top: 3px solid $red;
			border-bottom: 3px solid $red;
			hr {
				border-color: $red;
			}
			.image {
				background-image: image-url('features/democracy/examples/leonidas.jpg');
			}
		}
		.feudalism {
			border-top: 3px solid $teal;
			border-bottom: 3px solid $teal;
			hr {
				border-color: $teal;
			}
			.image {
				background-image: image-url('features/democracy/examples/oda-nobunaga.jpg');
			}
		}
		.a-monarchy {
			border-top: 3px solid $green;
			border-bottom: 3px solid $green;
			hr {
				border-color: $green;
			}
			.image {
				background-image: image-url('features/democracy/examples/louie.jpg');
			}
		}
		.p-monarchy {
			border-top: 3px solid $blue;
			border-bottom: 3px solid $blue;
			hr {
				border-color: $blue;
			}
			.image {
				background-image: image-url('features/democracy/examples/victoria.jpg');
			}
		}
		.sps {
			border-top: 3px solid $yellow;
			border-bottom: 3px solid $yellow;
			hr {
				border-color: $yellow;
			}
			.image {
				background-image: image-url('features/democracy/examples/stalin-lenin.jpg');
			}
		}
	}
}