/* GENERAL STYLING */
@import "../base/core";

$light-black: #222;
$light-grey:#ededed;
$black : #000;
$dark-blue: #004363;
$light-blue:#6496c8;

#article-nav {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  padding-top: 63px;
  position: fixed;
  z-index: 10;
}

#article-nav li {
  background-color: rgba(0, 0, 0, 0.81);
  display: inline;
  padding: 10px;
}

#article-nav a {
  color: white;
}
#nav-dropdown {
  background-color: red;
  height: 200px;
  width: 200px;
  z-index: 12;
}
#article-nav %h4 {
  padding: 15px;
  background-color: green;
  color: red;
}

.jumbotron {
  color: white;
  height: 100vh;
  border-radius: 0px;
  padding-top: 250px;
  text-align: center;
  background-image: url("/images/features/us-healthcare/jumbotron_background.jpg");
  background-size: cover;
}

.layer {
  background-color: rgba(100, 100, 100, 0.26);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  padding-top: 200px;
  position: absolute;
}

header p{
  text-align: center;
}

p {
    font-size: 20px;
    display: block;
    margin: 1em 0;
    text-align: left;
}

article, footer {
  width: 70%;
  margin: 0 auto;
  padding: 0px 0px 20px;
}

article h2, article h1, footer {
  text-align: center;
}

footer {
  font-size: 15px;
  margin: 12px auto;
}

h3 {
    text-align: center;
    font-size: 20px;
}

/* TABLE */

.previous-successes {
    margin: auto;
}

.centeredImage {
    text-align: center;
    margin: 0 auto;
}



/* TABS */

.container{
    width: 100%;
    padding: 0px;
    margin: 0 auto;
}

ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul.tabs li{
    background: none;
    color: $light-black;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.tabs li.current{
    background: $light-grey;
    color: $light-black;
}

.tab-content{
    display: none;
    background: #fff;
    padding: 15px;
}

.tab-content.current{
    display: inherit;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}



/* SLIDE DOWN */
.slide-panel {
  display:none;
  background-color: #fff;
  margin: auto;
  text-align: left;
  padding: 0% 5%;
  padding-top: 10px;
  padding-bottom: 75px;
}

.slide-panel p {
  font-size: 16px;
}


span.slide {
  font-weight: 600;
  background-color: rgba(242, 224, 84, 0.55);
  cursor: pointer;
  padding:0 5px;
}

.embed-extra-info {
    position: relative;
    padding-bottom: 75%;
    padding-top: 35px;
    overflow: hidden;
    margin: 0 auto;
}

.embed-extra-info iframe {
    position: absolute;
    top:20px;
    left: 12.5%;
    height: 75%;
    width: 75%;

}

#p-slide {
    display: inline;
}

/* STORY */
#story {
    width: 70%;
    margin: auto;
    text-align: left;
}


/********* CECILE'S GRAPHS *********/
#spending-capita-chart {
    margin: auto;
}

#gdp-vs-capita-chart {
    margin: auto;
}

#quality-vs-capita-chart {
    margin: auto;
}

.axis path,
.axis line {
  fill: none;
  stroke: $black;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.y.axis path {
  display: none;
}

.y.axis line {
    stroke: gray;
    opacity: .5;
    stroke-dasharray: 2,2;
}

.x.axis line {
    stroke: gray;
    opacity: .5;
    stroke-dasharray: 2,2;
}

/* line css for capita spending chart */
.line {
  fill: none;
  stroke: gray;
  stroke-width: 1.5px;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

/* point css for gdp v capita chart */
.dot {
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.label-hover{
  opacity: 0;
}

.linepoint{
  opacity: 0;
  fill: gray;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

path.invisible {
  fill: none;
  stroke: rgba(0,0,0,0);
  stroke-width: 8px;
}

text.label {
  font-size: 10px;
  color: $black;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 5px;
  font: 10px sans-serif;
  background: white;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 3px;
  pointer-events: none;
}
.annotation{
    background-color:rgba(213, 230, 245, 0.76);
    position: absolute;
    width: 170px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(159, 184, 206, 0.9);
    padding: 5px;
}

.annotation-spending {
    background-color:rgba(213, 230, 245, 0.76);
    position: absolute;
    width: 170px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(159, 184, 206, 0.9);
    padding: 5px;
}
/* BIBLIOGRAPHY */
#bibliography {
  text-align: left;
  font-size: 1.5rem;
}

/* FOOTER */
.circle {
    display: block;
    margin: auto;
}

.floating-circle {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150;
}

.floating-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: white;
    opacity: .7;
    border-top-width: thick;
    border-top-style: solid;
    border-top-color: #336699;
}

.footer {
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: white;
    opacity: 1;
    text-align: center;
}


/* Bar Chart on Waste */

#waste-chart {
    position: relative;
    margin: 0 auto;
}


#waste-chart svg {
    margin-top: 60px;
}

.bar_chart {
  color: #fff;
  background-color: $light-blue;
  text-shadow: -1px 1px #417cb8;
}

/*
.axis path,
.yaxis path,
.xaxis path,
.axis line
.yaxis line,
.xaxis line{
    fill: none;
    stroke: black;
    shape-rendering: cripsEdges;
}
*/

.yaxis path, .xaxis path {
    display: none;
}

.yaxis line {
    stroke: gray;
    opacity: .5;
    stroke-dasharray: 2,2;
}

.axis text,
.yaxis text,
.xaxis text{
    font-family: sans-serif;
    font-size: 11px !important;
}
#totalProcedures {
    cursor: pointer;
}
.bar {
    fill: $dark-blue;
}

/* Bar Chart on Waste: Radio Buttons */

.chart-container h4{
   font-weight: bold;
}

.chart-container {
  width: 100%;
}

.chart-container div{
  margin: 0 auto;

}

.toggle-btn {       /* Text */
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    color: #fff;
    background-color: $light-blue;
    border:solid 1px #CCC;
    cursor:pointer;
    vertical-align: middle;
}

.toggle-btn-grp.cssonly {
  margin: 0 auto;
}

//.toggle-btn-grp.cssonly div {
//    width: 32.5%;
//    height: auto;
//    display: inline-block;
//    position: relative;
//    height: 5.5rem;
//}

.toggle-btn-grp.cssonly div label {
    width: 100%;
    height: 5.5rem;
    margin: 0 auto;
    vertical-align: middle;
    text-align:center;
    font-weight: normal;
    font-size: auto;
    height: auto;
}

.toggle-btn-grp.cssonly div input { /*Hides radio buttons */
    position:absolute;
    top: 50%;
    left: 50%;
    z-index:1;
    opacity:0;
}

.toggle-btn-grp.cssonly div input:checked + label {
    background-color: #27496d;
}

.toggle-btn:hover {
  background-color: #346392;
}


/* SANKEY */
.node rect {
  /*cursor: move; /* changes icon cursor */
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  /*text-shadow: 0 1px 0 #fff;*/
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #d3d3d3;
  stroke-opacity: .5;
}

/* changes what happens to the link lines during mouseover */
/*
.link:hover{
  stroke: #939393;
  stroke-opacity: 1;
}
*/
.link[data-highlight="forwards"]{
  stroke: #5A97C9;
} 
.link[data-highlight="backwards"]{
  stroke: #5A97C9;
} 


/* FINAL VIZ GUI */

#perspectives li {
  float: left;
  width: 25%;
  height: 100px;
  text-align: center;
  display: inline;
  color: #fff;
  background-color: $light-blue;
  text-shadow: -1px 1px #417cb8;
  cursor:pointer;
}

.perspective h5 {
  color: white;
}

.perspective {
  height: 100px;
}
.perspective img {
  height: 70%;
  margin: auto;
}

#perspectives li:hover {
  background-color: #346392;
  text-shadow: -1px 1px #27496d;
}

[data-key="patient"].selected {
  background-color: #27496d;
  text-shadow: -1px 1px #193047;
}

[data-key="provider"].selected {
  background-color: #27496d;
  text-shadow: -1px 1px #193047;
}

[data-key="policymaker"].selected {
  background-color: #27496d;
  text-shadow: -1px 1px #193047;
}

[data-key="payer"].selected {
  background-color: #27496d;
  text-shadow: -1px 1px #193047;
}

.perspective h5 {
  text-align: center
}

#actions li {
  float: left;
  width: 10%;
  height: 60px;
  text-align: center;
  display: inline;
  padding-top: 10px;
  font-weight: 200;
  cursor:pointer;
}
#actions li:hover {
  background-color: #346392;
  text-shadow: -1px 1px #27496d;
}


[data-perspective="patient"] li {
  color: #fff;
  background-color: #27496d;
  text-shadow: -1px 1px #193047;
  border: none;
}

[data-perspective="provider"] li {
  background-color: #27496d;
  text-shadow: -1px 1px #193047;
}

[data-perspective="policymaker"] li {
  background-color: #27496d;
  text-shadow: -1px 1px #193047;
}

[data-perspective="payer"] li {
  background-color: #27496d;
  text-shadow: -1px 1px #193047;
}

[data-perspective="patient"] li.selected {
  background-color: #27496d;
  text-shadow: -1px 1px #193047;
}

[data-perspective="provider"] li.selected {
  background-color: #27496d;
  text-shadow: -1px 1px #193047;
}

[data-perspective="policymaker"] li.selected {
  background-color: #27496d;
  text-shadow: -1px 1px #193047;
}

[data-perspective="payer"] li.selected {
  background-color: #27496d;
  text-shadow: -1px 1px #193047;
}


.individual-action p {
  margin: auto;
  font-size: 10px;
  text-align: center;
  color: white;
}
.decision-point{
  background-color:#fff;
}
.decision-container{
  display:flex;
  .decision{
    cursor:pointer;
    flex:1;
    background-color:#E0E0E0;
    display:inline-block;
    width:calc(50% - 10px);
    
    &:hover{
      background-color: lighten(#E0E0E0,5%)
    }
    &[data-selected="yes"]{
      background-color:darken(#E0E0E0,10%);
    }
    &[data-selected="no"]{
      background-color:lighten(#E0E0E0, 5%);
    }
    h3{
      height:2em;
      vertical-align:middle;
    }
  }
}
.decision, .next, .outcome{
  margin:10px;
  font-size: 16px;
}
.decision {
  padding: 10px;
  border-radius: 10px;
}
.decision p {
  font-size: 16px;
  padding: 0px 20px;
  margin: 0px 0px 20px;
}
.next{
  display:none;
  padding: 5px 20px 50px;
}
.outcome{
  display:none;
  padding: 5px 20px;
  &[data-outcome="positive"]{
    background-color:#fff;
  }
  &[data-outcome="negative"]{
    background-color:#fff;
  }
}



.social-buttons {
  svg {
    width: 28px;
    height: 28px;
    background: #474751;
    padding: 6px;
    fill: white;
    transition: background 250ms ease-in-out;
    &:hover {
      background:#83838E;
    }
    @media only screen and (max-width: 600px) {
      width: 20px;
      height: 20px;
    }
  }

  &.end {
    text-align: center;
    margin-bottom: 3em;
    @media only screen and (max-width: 1200px) {
      margin-bottom: 4vw;
    }
  }
}

#open-table {
  background-color: #ededed;
  padding: 20px;
}
#authors-table {
  background-color: #ededed;
  padding: 20px;
}

#authors-table p {
  text-align: center;
}