@import "../base/core";

header.hero {
	background-image: linear-gradient(to bottom, fade-out($black, 0.25) 0%, fade-out($black, 0.45) 100%), url('../../images/features/world-cup/soccer_dataviz.jpg');
	padding: 10em 0;
	max-height: 100%;
	min-height: 0;
	.title {
		position: static;
		bottom: 0;
		padding: 0 2.5em;

		h2 {
			font-size: 45px;
			font-size: 4.5rem;
			line-height: 1em;
			padding-bottom: 0.5em;
		}

		@media screen and (max-width: 1200px) {
			padding: 8em 2.5em 6em;
		}
		@media screen and (max-width: 1080px) {
			padding: 6em 2.5em 4em;
			h2 {
				font-size: 40px;
				font-size: 4rem;
				line-height: 1.1em;
			}
		}
		@media screen and (max-width: 560px) {
			h2 {
				font-size: 35px;
				font-size: 3.5rem;
				line-height: 35px;
				line-height: 3.5rem;
			}
		}
	}
	.article-nav {
		padding: 1em 8em 0;
		margin: 1em auto 0;
	}
	.the-article-nav {
		li {
			display: inline-block;
			padding: 0.5em 0;
			a {
				color: #A0A0A0;
				padding: 0 1em 5px;
				text-shadow: 1px 1px 0 $black;
				border-bottom: 1px solid #A0A0A0;
				&:hover, &.active {
					color: $white;
					border-bottom: 5px solid #EEE;
				}
			}
		}
	}
}

#content .article-nav, .article-nav {
	color: #888;
	padding: 2em 8em;
	max-width: 70px;
	max-width: 70rem;
	text-align: center;
	margin: 2.5em auto;
	text-align: center;
	p {
		font-size: 28px;
	}
	@media only screen and (max-width: 768px) {
		padding: 1em;
		.the-article-nav li {
			font-size: 18px;
		}
	}
}
#content .the-article-nav, .the-article-nav {
	list-style: none;
	margin: 0;
	@include clearfix();
	font-size: 0;
	text-align: center;
	li {
		font-size: 23px;
		line-height: 1.4em;
		display: inline-block;
		a {
			color: #888;
			transition: color 300ms ease, border 300ms ease;
			padding: 0.25em 1em 5px;
			border-bottom: 1px solid #CCC;
			white-space: nowrap;
			&:hover, &.active {
				color: #425f8e;
				border-bottom: 5px solid #425f8e;
			}
		}
	}
}

section, #sec11 .content {
	max-width: 480px;
	max-width: 48rem;
	margin: 4em auto 0;
	padding: 0 3em;
	> .row {
		margin-left: 0;
		margin-right: 0;
	}
	&.hidden {
		display: none;
		opacity: 0;
	}
	&#sec11 {
		margin-top: 0;
		padding: 0;
		max-width: 100%;
	}
}

#sec11 > .row {
	margin: 1em auto 0;
}

#dataViz {
	iframe {
		width: 100%;
		height: 950px;
		overflow:hidden;
		border:none;
		@media only screen and (max-width: 768px) {
			display: none;
		}
	}
	.error {
		padding: 3em 1.5em;
		color: #AAA;
		text-align: center;
		background: #DDD;
		p {
			margin: 0;
		}
		@media only screen and (min-width: 769px) {
			display: none;
		}
	}
}

#content {
	color: #2A2A2A;
	h1,  {
		max-width: 780px;
		max-width: 78rem;
		margin: 0 auto;
		padding: 2em 1em 0.5em;
		font-size: 38px;
		font-size: 3.8rem;
		line-height: 1em;
		text-align: center;
		@media only screen and (max-width: 768px) {
			font-size: 28px;
			font-size: 2.8rem;
			padding: 1em 0.5em 0.25em;
		}
	}
	h2 {
		font-size: 30px;
		font-size: 3rem;
	}
	p {
		font-size: 28px;
		line-height: 1.1em;
		@media only screen and (max-width: 768px) {
			font-size: 24px;
		}
	}
	ul, ol, dl {
		margin-left: 0;
		font-size: 20px;
		line-height: 22px;
		li {
			margin-bottom: 1em;
		}
		&.stat-data {
			list-style: none;
			li {
				text-align: center;
				display: inline-block;
			}
		}
		&.stat-label {
			margin-bottom: 5px;
		}
		&.stat-data {
			margin-top: 0px;
		}
		&.starting-xi {
			list-style: none;
		}
	}
	#caption {
		padding-top: 2em;
		color: #888;
	}
	.section-footer {
		margin-top: 2em;
		border-top: 1px solid #DDD;
		padding-top: 2em;
		h4 {
			font-size: 20px;
			font-size: 2rem;
			line-height: 1.1em;
		}
		@include clearfix();
		.col1, .col2 {
			width: 50%;
			float: left;
		}
		.col1 {
			padding-right: 0.5em;
		}
		.col2 {
			padding-left: 0.5em;
		}
		#caption {
			padding-top: 0;
			font-size: 18px;
		}
		@media screen and (max-width: 680px) {
			.col1, .col2 {
				width: 100%;
				padding: 0;
			}
		}
	}
	table {
		tr:nth-of-type(even) {
			background: #DDD;
			td {
				color: #666;
			}
		}
		&.team-stats, &.starting-xi {
			table-layout: fixed;
			width: 100%;
		}
		&.team-stats {
			tr td {
				text-align: center;
				font-size: 18px;
				padding: 1em 0.5em;
			}
		}
		&.starting-xi {
			tr td {
				&:first-child {
					width: 25%;
					text-align: center;
				}
				padding: 0.5em;
			}
		}
	}
	sup {
		font-size: 14px;
		line-height: 14px;
		font-weight: 700;
	}
	aside {
		p {
			font-size: 18px;
			line-height: 20px;
		}
		img {
			display: block;
			width: 100%;
			margin: 0 auto;
		}
		&.left {
			float: left;
			max-width: 300px;
			margin-left: -150px;
			padding-right: 2em;
		}
		&.right {
			float: right;
			max-width: 300px;
			margin-right: -150px;
			padding-left: 2em;
		}
		&.image {
			max-width: 400px;
			.caption {
				margin-top: 1em;
			}
		}
		@media screen and (max-width: 1330px) {
			&.left {
				margin-left: 0;
				float: none;
			}
			&.right {
				margin-right: 0;
				float: none;
			}
		}
	}
}

#credits {
	padding: 2em 8em 4em;
	max-width: 900px;
	max-width: 90rem;
	margin: 0 auto;
	@include clearfix();
	.author, .contributors {
		float: left;
	}
	h2 {
		margin-bottom: 0;
		font-weight: 400;
	}
	h3 {
		font-weight: 400;
		font-size: 24px;
		line-height: 1em;
		color: #888;
		margin-bottom: 0;
		padding-bottom: 0.25em;
	}
	p {
		font-size: 20px;
		line-height: 1.3em;
	}
	a {
		color: $gray;
		&:hover {
			color: $lightgray;
		}
	}
	.author {
		width: 65%;
		padding-right: 3em;
		color: #444;
	}
	.author-content {
		position: relative;
		margin-top: -25%;
		background: $white;
		padding: 2em;
		border-color: $blue;
		border-width: 0 3px 3px;
		border-style: solid;
		p {
			margin-bottom: 0;
		}
	}
	.contributors {
		width: 35%;
		padding: 2em;
		border: 3px solid $red;
		h3 {
			font-size: 22px;
			padding-bottom: 0.5em;
		}
		p {
			font-size: 34px;
			margin-bottom: 0;
		}
		hr {
			width: 2em;
			margin: 1.5em 0;
			border-width: 5px;
			border-color: $red;
		}
	}
	@media only screen and (max-width: 978px) {
		padding-left: 3em;
		padding-right: 3em;
		.author {
			padding-right: 0;
			margin-bottom: 2em;
		}
		.author, .contributors {
			width: 100%;
		}
	}
}
