- content_for(:page_head) do
	= stylesheet_link_tag "sections/process"

%section.process-section.intro
	%header.section-header
		%h1 The Invo Process
		%h2 It’s like a giant toolbox made of big brains, lovely pixels and sparkly code. We bring it to your executive suite, your conference room, or your cube.
	.section-content
		%h3 Our process depends on you.
		%p We’ve helped every imaginable type of customer make software a core differentiator in their business. The process we outline and the tools we bring to bear depends entirely on the client; on you. It is a product of what your objectives with us are, how you do business, and the particulars of the engagement.
%hr
%section.process-section.learning
	%header.section-header
		%h1 1. Learning
		%h2 The deeper our understanding, the more transformative our service to you.
	.section-content
		%h3 Great preparation breeds great success.
		%p Each conversation we have with you, we’re learning.
		%p Each time we look at the digital solutions of your competitors, we’re learning.
		%p Each strategic document we read or discuss with you, we’re learning.
		%p Each user we talk to, we’re learning.
		%p Needless to say, we spend a lot of time learning. Some of that is actual research that is an explicit part of our work together. Some is a natural byproduct of other activities that is organic and not research-intensive. But one way or another, learning provides the foundation to whatever we do for you.
		
		%h3 The value of including research.
		%p In our experience, clients looking for consulting or software design often see research as a superfluous part of the project. They want their money going toward face time with our leadership, or more hours of our designers and engineers making their magic. While this is understandable it is also short-sighted. Research provides clarity. It makes everything we do after the learning smarter, better informed and more precise. Each dollar you spend is that much more effective.
		%p Our recommendation is for 20% of any project budget to go toward research. Most clients aren’t up for that. The ones that are - market leaders like xxx, xxx and xxx - have no complaints about how that spend worked out. If you just aren’t seeing it, that’s alright. We do outstanding work with ideal, some or no formal research. But it is an absolute truth that more research makes our work for you better. The value is there.

		%h3 Research as an integrated activity.
		%p Most of our research is being done by the people doing the rest of the work. That means our leadership, designers and engineers. We also encourage your key stakeholders to be core to the process as well. This is because we believe in experiential research: seeing it all for yourself. This flies in the face of more typical, formal approaches to research, where formal researchers and specialists “go off” and take care of that part. Instead, we hire or train designers and engineers with hardcore research in their personal toolbox. Sometimes we’ll augment the team with one specific research expert, but we want the knowledge to be best captured by those who are going to be with you.
		%p Here are the research methods in our toolbox:

		%h3 User research.
		%p This is where the gems come from. The unexpected. The surprisingly simple. The “we-never-thought-of-that!”. It also reinforces or invalidates things you think you already know. We prefer face-to-face interviews with someone from your team and ours being physically there. Sure, we can do the audio and video recordings that are so popular, but our recommendation is to get your key stakeholders in some of these to see it all for themselves, then deliver a nimble report for broader socialization in our organizations.

		%h3 Competitive research.
		%p We know great software. We’re also familiar with bad software. What we may not be familiar with is the software of your competitors. In order to baseline the software you are competing against, and to gain insights into different ways people are trying to solve the same problems you are, we strongly recommend a healthy dose of competitive research. It synthesizes our expertise in general software with the software landscape you live in. This activity is accompanied by an in-depth report dissecting the software we are able to review.

		%h3 Industry research.
		%p In providing digital leadership for more than 200 different customers we’ve worked in most industries. In case we are not already conversant in yours getting a deep dive of knowledge is pretty important. This might be something you can easily communicate to us with documents and research you’ve done. It might come as part of our conducting stakeholder research. Or we can take this research on ourselves and delivery a lovely report.

		%h3 Stakeholder research.
		%p Nobody knows more about your situation than your people. Identifying and interviewing the key individuals who can provide insight into the dynamic we are being hired to impact is the unsexy blocking and tackling of the learning process. Depending on the project this could be just a few people, or more than a dozen. We document the interviews and summarize our findings in a short report.

		%h3 Our Learn activities provide fresh perspectives on vital aspects of your business:
		%ul
			%li Company and market strategy
			%li Your stakeholders’ beliefs and perspectives
			%li Objective analysis of competitive UX landscape
			%li Deep insight into your/potential users
		%p Beyond just informing the consulting and/or design work we do for you, this data has broad uses among your executive team, product professionals and marketing organization.
%hr
%section.process-section.envision
	%header.section-header
		%h1 2. Envision
		%h2 All brains, no code or pixels. Our team and yours talk, think and imagine, framing your digital future.
	.section-content
		%h3 One clear vision begets infinite exceptional results.
		%p This is the one part of our process explicitly present in every client engagement: shifting from learning into solving the kind of problems that can create new billion dollar industries at the most strategic level, or just prepare you for an amazing software design project at the most tactical.
		%p Envisioning is about how smart we are - not “we” as in Invo, “we” as in our team and yours together. We disavow the typical “throw it over the wall” process in everything we do. Yes, you’re hiring us for our smarts and expertise. We’re going to give them to you, all-you-can-eat. But the tasty goodness comes from all of our brains mashing together.

		%h3 Envisioning as the project.
		%p Some of our clients understand that there are dramatic potential profits or operational savings that digital can create for them but need help seeing clarity among the various platforms available, relevant users, and exploitable opportunities. We are experienced in showing them the way.
		%p Some of our clients have amazing internal software design talent and just need strategic digital leadership to help them transform their industry or create a new one. We’ve done this in a variety of industries.
		%p Some of our clients have massive dreams but a humble budget. We help to operationalize their dreams and provide the raw materials they need to go get the money to make it real.
		%p In between those iconic examples is lots of nuance, where our clients recognize that we are the minds chosen by the global leaders in digital, companies like Apple, Microsoft and Oracle, to show them the way.
		%p The deliverables depend on the engagement. Sometimes the value is in the process and the high-level recommendations, in which case minimal reporting may be required. Other times, you are looking for us to transform the envisioning into detailed action plans, reports or visualizations. Either way, the important thing are insights that can massively change your business.
		
		%h3 Envisioning as part of the process.
		%p This is the part every client gets in one way or another: interlacing our brains to figure out the best things to do, and the best ways to do them. It starts during the sales process: our sales team are designers and engineers. They pay attention to what they are hearing from and learning about you and your industry, converting this into their building an engagement. Then, once we’re working together, we are envisioning with you before, during and after all of the learning and research.
		%p Sometimes envisioning is formal. We put it on the schedule, we get in a room, and we go to crazy town. Sometimes our objectives are big and inspiring. Sometimes they are about smart blocking and tackling. But in either case it is a matter of getting the right people in the room to work through the challenge.
		%p And, sometimes the envisioning is our team working on their own. We have plenty of Eureka! moments on our own. Making them real happens when we bring them back together with you. Envisioning is about all of it: the magical times we are working together as well as the time we put into working it while you are back doing the important work required to make your business run.
		%p Here are different ways envisioning manifests in our work together:
		
		%h4 Facilitation.
		%p You. Us. Whiteboards. It’s fundamentally simple: our thinking, talking and sharing together. Industries, technologies, markets, systems, experiences...the topics are as big or little as your situation requires.
		%p Sometimes you have new people you want to involve in our work, or socializing our work to a broader set of people. They, too, can lend their knowledge and insights to the things we’re doing together. While similar to group meetings, our role changes in focus to facilitation. We’re still going to contribute our smarts, but we’re now focused on educating and encouraging members of your crew to get all-in with our work.

		%h4 Brain Jam.
		%p Sometimes you’ve got an idea. Or, we have an insight. But one way or the other, we need to riff together. It can be a phone call. Or a Hangout. Or driving down the road to do it face-to-face. The brain jam is organic and about turning a hint of inspiration into something special.

		%h4 Swarm.
		%p One of the biggest benefits to working with Invo is that we have multiple studios of digital experts. People who have worked for and in the leading technology companies in the world. While you only pay for a small and focused team, every now and then we get some or all of the studio involved in a swarm. The participants all take a quick hit dive into the particular problem we are focused on at the moment. Experts who are essentially coming from outside the project take it all in and bring their skills to bear, for your benefit.

		%h3 Our Envision activities energize the participants and provide key benefits to your team:
		%ul
			%li Innovative and unorthodox approaches to your strategic challenges
			%li Facilitated creative work that brings you together
			%li Language and visual tools to communicate across departments and business units
			%li Inspiration from new ideas and ways of thinking
		%p More than giving us the right strategy for making great things, being involved with our strategy and consulting impacts everything digital across your organization.
%hr
%section.process-section.blueprint
	%header.section-header
		%h1 3. Blueprint
		%h2 Creating your digital experiences begins with the structure.
	.section-content
		%h3 Architecture bring ideas and strategy to life.
		%p There’s a long path from the right idea and strategy to exceptional outcomes that realize their potential. The complexity of digital ecosystems and the experiences within them demand not just careful planning, but smart mapping. Relationships, behaviors, and experiences must be juxtaposed for usefulness, usability and desirability.
		%p The blueprint process itself is not sexy: Pattern design and identifying system relationships. Lightweight documentation. Review, revise, rinse, repeat.
		%p It is challenging enough doing this well for your feisty, garden variety startup. But when you’re redesigning one of Oracle’s largest enterprise apps, or Medicare.gov, or McAfee’s flagship Total Protection Suite, it is a design challenge of the greatest magnitude. Our clients come to us because we’ve done it before many, many times. And they want us to do it again.
		%p Our architecture process consists of:

		%h4 Content Review.
		%p Reviewing anything and everything we have access to that pertains to your solution. When this work starts we need everything in mind, and we need our mind to be fresh. We need to see the holistic view so our solutions can be properly ambitious.

		%h4 Content Inventory.
		%p In order to create we need to have a comprehensive list of all the workflows, interactions and outputs your solution requires. This happens to varying degrees in the learning and envisioning phases, culminating here with great specificity in the early design. These are captured in giant format for our team and yours to validate.

		%h4 Flows.
		%p The main event: crafting all of the intended content into a system will serve as the blueprint for all of the creation to come after.

		%h3 Our Blueprint activities work provides compelling schematics that enable:
		%ul
			%li Early schematics for your engineering team to work with
			%li Open process to get input from within and beyond your team
			%li Public sharing and socialization of our work together
		%p In addition to providing architecture for the things we create the blueprint phase galvanizes your team around the structure and visualization of your most important digital experiences.
%hr
%section.process-section.craft
	%header.section-header
		%h1 4. Craft
		%h2 Nothing happens until someone actually makes something.
	.section-content
		%h3 The heart of our studio lives here: making amazing things for you.
		%p Our brains are what you are paying for: the experience, the smarts, the insight that has completely reshaped industries. But where our work gets really, well, real is in the amazing things that we make:
		%p The first version of the digital product you dreamed about months before, suddenly not just real, but spectacular.
		%p The dashboard that brings to life all the complex relationships you knew could be brought together, but couldn’t make tangible how.
		%p The immersive installed system that gathers data in your shopping mall and converts it into real-time analytics reports, accessible on any device.
		%p The massive enterprise app that you never thought could look sexy, and suddenly is revealed to be gorgeous.
		%p The redesign of your flailing product, immediately communicating to anyone who sees it, “Guess who’s now at the top of the Gartner Magic Quadrant(R)?”
		%p This is the fun stuff, the stuff that shifts from “What an amazing plan!” to “Holy &*!#! We’re really going to do this thing!” It is the art and design side that will make sweet, sweet luvin’ with the engineering and fabrication side, to literally change the world.
		%p In case it isn’t obvious? This is the stuff we live for.
		
		%h4 Skectching.
		%p The handcrafting of gorgeous, custom images to enhance or serve as the core for your interfaces. We employ professional illustrators - the kind of people who work at Pixar or Disney or Rockstar - who have a specialization in interface design but were trained with the top illustrators in the world. Their work takes time, but is always worth it.

		%h4 Design.
		%p From graphic to industrial; from environmental to ?. Our designers are (section missing....)

		%h4 Lightweight Prototypes.
		%p Looking at comps isn’t adequate for good decision making. You need a prototype that actually behaves the way the design envisions. Some of our prototypes are designed for production. A key part of the overall product development process, the prototype serves as a tool for design feedback and iteration on one hand, and an engineering spec on the other.
		%p As important but less understood is using prototypes to test design concepts. Early prototypes need to be viewed like design comps: working toward the right solution but can easily be thrown away. It is a classic case of the process, not the outcome, being the important thing. Some prototype will represent the product that gets built, but it is likely not the first. It may be, but it also may be the second. Or the fifth. That is the process to get to world-class digital products.
		%p Our designers understand the fundamentals of engineering. Some are reformed engineers who used to wrangle silicon, math or bits and bytes. Often times, they can’t help but turn their work into something that actually, well, works. Prototypes can be explicit deliverables as part of our projects, or just something our designers know will help the process to have so they kick them out on their own. Yeah, they’re getting a little crazy. But it’s that good kind of crazy, the kind that brings the digital product fully to life.

		%h3 Our Craft work has a big impact on your business in ways large and small:
		%ul
			%li Gorgeous prototypes to turbocharge sales and fundraising
			%li High-quality visual assets to share with internal stakeholders
			%li Demonstrable proof of “making it real” creates excitement
		%p Getting real assets that make your challenges visual with solutions that are desirable shifts the conversation from if you can do it, to when.
%hr
%section.process-section.build
	%header.section-header
		%h1 5. Build
		%h2 Bringing our amazing design to life.
	.section-content
		%h3 Code as smart on the interface layer as you’re writing on the application layer. [OR: If you don’t know how a product will be built, you should not be designing it.]
		%p NO COPY :O :(
		%p Our build efforts span the digital and physical:

		%h4 Heavy-Duty Prototypes.
		%p Once lightweight prototypes have us toward an appropriate solution we shift into making that prototype better-suited for being an appropriate production tool. Depending on the project the code may or may not be intended as part of the final production stack. It is written to be relevant throughout the production process, serving as a visual spec and crafted with quality code that is leveragable by your engineering org.

		%h4 Production Code
		%p Some of our clients need extra design and technical muscle to enhance their production process. All or some of our team working with you can continue after the design has largely been nailed down in order to get you over the final hump.

		%h4 Fabricating.
		%p For hardware and digital environments work, our team builds models and prototypes to validate the design and provide a spec for the manufacturer.

		%h4 QA.
		%p Outside eyes are invaluable during the production process. Especially if they are part of the project but not deep in the weeds of getting it built.

		%h3 The Build process offers numerous benefits to your company:
		%ul
			%li Evolve your product into new languages and frameworks
			%li Exposure to our progressive, modular processes that can be integrated into your own
			%li Sharing latest theories and methods with our experts
			%li Outside minds and eyes reviewing the work
		%p Engineering is the backbone of every digital experience. Yours should be as strong as it can be.
%hr
%section.process-section.support
	%header.section-header
		%h1 6. Support
		%h2 After our core work is over, your hard work is just beginning.
	.section-content
		%h3 Everyone budgets for the party. It’s the next day you don’t plan for.
		%p Once the project is “done” a new phase begins: Evolutionary improvements. Bug fixing. Customer service. This brings other parts of your company into contact with the product organization. It calls on your key team members to engage in a variety of design, engineering and communication activities, in order to keep the ongoing 360 experience consistent with the audacity of the vision we started with.
		%p Our team is accustomed to staying with our customers beyond the launch, often in a more part-time capacity, to take advantage of our deep experience being part of hundreds of software launches and the many knotty things that come after.

		%h3 Support services give your team:
		%ul
			%li Fresh design and code on an ongoing basis: digital products should always evolve
			%li Insight into post-launch management at top digital companies
			%li Outside help to downstream tasks to so they can focus on higher value activities
		%p Planning ahead for after the launch is what separates the best companies from those that disappoint.
%hr
%section.process-section.communication
	%header.section-header
		%h1 Y. Communcation
		%h2 Shared vision is the secret to great success.
	.section-content
		%h3 There’s no such thing as too much good communication.
		%p Forging a cohesive shared vision and communicating it consistently is the key to successful projects of any kind. This gets more difficult the larger either the project or organization are: there are more complicated or competing factors that must be accounted for.
		%p Unlike much of our core process, communication work is relevant at every stage. This can be an explicit part of our work together where specialists from our team work with team members inside your company to strategize and execute on the appropriate communication plan to accompany our work together. It can also be a smaller and more implicit part, where we respond together to communication opportunities during our design, engineering and consulting work together.
		%p Communication tactics include:

		%h4 Visualizing.
		%p We can create gorgeous visualizations that communicate complex ideas and relationships in elegant, compelling ways.

		%h4 Reporting.
		%p Reports that weave together words and visuals to articulate business, market or experiential aspects of our work lets you socialize our work or integrate it into broader company initiatives.

		%h4 Facilitating.
		%p Complicated projects can lead to disagreement or indecision. Let us take the lead and help you get where you need to go.

		%h4 Internal Consulting.
		%p Our leadership has hashed it out in the executive suites and board rooms of the world’s biggest companies. Bring us in to change the tone, uplevel the conversation, or provide cache.

		%h3 Communication makes the most of our work, along with raising morale and cohesiveness:
		%ul
			%li Tools that inspire and inform, getting everyone behind the work
			%li Outside perspective on interpersonal and organizational dynamics
			%li Objective voices to communicate things that challenge internal dogma
		%p Planned, carefully crafted, thoughtfully delivered communication is an integral part of great organizations. Make it part of yours.
%hr
%section.process-section.training
	%header.section-header
		%h1 Z. Training
		%h2 Our best projects are the ones which make us redundant.
	.section-content
		%h3 As long as we’re bringing you some fish, let us teach you how to catch your own.
		%p Our core services are a smart investment for making great things happen quickly. Our training services are the long-term investment, so you can enjoy similar value without an external cost in the future.
		%p Training happens in one of two ways: mentoring and teaching as we work side-by-side together, or more formal training that may not be part of a larger project. In either case this is more than just getting a shine from our working together: we’re talking about a training process that is planned and designed to enhance the people you have. We give them the knowledge, experience, skills and tools to bring Involution’s excellence to your company beyond the span of our engagement.
		%p The way our training looks depends on who we are training:

		%h4 1-on-1
		%p When you have one digital professional whom you want trained they will learn from one of our experts, selected for compatibility.

		%h4 Training Small Groups.
		%p Small groups have different compositions and different needs; these engagements can vary significantly based on your specific situation.

		%h4 Training Complete Teams.
		%p Training whole teams engages a member of our leadership who is a digital thought leader, potentially including other Invo experts to mentor specific skills and tools.

		%h4 Broader Cross-Team Training.
		%p Our team size and composition can fluctuate greatly but includes at least one member of leadership with other participants as well.

		%h3 Training gives you the ability to create your own significant future value:
		%ul
			%li Investing in key employees you want to build around
			%li Preparing groups to adopt our methods in future projects
			%li Training whole teams or across teams to build exceptional organizational infrastructure
		%p Take advantage of our time and work together to upgrade the capabilities of your critical people and teams.