- content_for(:title) do
	= "Envision"
- content_for(:page_head) do
	= stylesheet_link_tag "sections/process"
	%meta{:name => "description", :content => "Involution Studios is a user interface and software design firm located in Boston. We create great user experiences for deskop, mobile, and web applications."}/
	%meta{:name => "keywords", :content => "boston user interface design, boston ui design, boston web application design, boston application design, boston mobile design, boston mobile application design, boston software design"}/

.row
	%header.nav-menu
		%nav
			%a.nav-link{:href => asset_url('process')} Intro
			%a.nav-link{:href => asset_url('process/learning')} 1. Learning
			%a.nav-link.current{:href => asset_url('process/envision')} 2. Envision
			%a.nav-link{:href => asset_url('process/blueprint')} 3. Blueprint
			%a.nav-link{:href => asset_url('process/craft')} 4. Craft
			%a.nav-link{:href => asset_url('process/build')} 5. Build
			%a.nav-link{:href => asset_url('process/support')} 6. Support
			%a.nav-link{:href => asset_url('process/communication')} Communication
			%a.nav-link{:href => asset_url('process/training')} Training
%section.process-section.envision
	= image_tag('process/jpg/process2.jpg')
	%header.section-header
		%h1 2. Envision
		%h2 All brains, no code or pixels. Our team and yours talk, think and imagine, framing your digital future.
	.section-content
		%h3 One clear vision begets infinite exceptional results.
		%p This is the one part of our process explicitly present in every client engagement: shifting from learning into solving the kind of problems that can create new billion dollar industries at the most strategic level, or just prepare you for an amazing software design project at the most tactical.
		%p Envisioning is about how smart we are - not &ldquo;we&rdquo; as in Invo, &ldquo;we&rdquo; as in our team and yours together. We disavow the typical &ldquo;throw it over the wall&rdquo; process in everything we do. Yes, you&rsquo;re hiring us for our smarts and expertise. We&rsquo;re going to give them to you, all-you-can-eat. But the tasty goodness comes from all of our brains mashing together.

		%h3 Envisioning as the project.
		%p Some of our clients understand that there are dramatic potential profits or operational savings that digital can create for them but need help seeing clarity among the various platforms available, relevant users, and exploitable opportunities. We are experienced in showing them the way.
		%p Some of our clients have amazing internal software design talent and just need strategic digital leadership to help them transform their industry or create a new one. We&rsquo;ve done this in a variety of industries.
		%p Some of our clients have massive dreams but a humble budget. We help to operationalize their dreams and provide the raw materials they need to go get the money to make it real.
		%p In between those iconic examples is lots of nuance, where our clients recognize that we are the minds chosen by the global leaders in digital, companies like Apple, Microsoft and Oracle, to show them the way.
		%p The deliverables depend on the engagement. Sometimes the value is in the process and the high-level recommendations, in which case minimal reporting may be required. Other times, you are looking for us to transform the envisioning into detailed action plans, reports or visualizations. Either way, the important thing are insights that can massively change your business.

		%h3 Envisioning as part of the process.
		%p This is the part every client gets in one way or another: interlacing our brains to figure out the best things to do, and the best ways to do them. It starts during the sales process: our sales team are designers and engineers. They pay attention to what they are hearing from and learning about you and your industry, converting this into their building an engagement. Then, once we&rsquo;re working together, we are envisioning with you before, during and after all of the learning and research.
		%p Sometimes envisioning is formal. We put it on the schedule, we get in a room, and we go to crazy town. Sometimes our objectives are big and inspiring. Sometimes they are about smart blocking and tackling. But in either case it is a matter of getting the right people in the room to work through the challenge.
		%p And, sometimes the envisioning is our team working on their own. We have plenty of Eureka! moments on our own. Making them real happens when we bring them back together with you. Envisioning is about all of it: the magical times we are working together as well as the time we put into working it while you are back doing the important work required to make your business run.
		%p Here are different ways envisioning manifests in our work together:

		%h4 Facilitation.
		%p You. Us. Whiteboards. It&rsquo;s fundamentally simple: our thinking, talking and sharing together. Industries, technologies, markets, systems, experiences...the topics are as big or little as your situation requires.
		%p Sometimes you have new people you want to involve in our work, or socializing our work to a broader set of people. They, too, can lend their knowledge and insights to the things we&rsquo;re doing together. While similar to group meetings, our role changes in focus to facilitation. We&rsquo;re still going to contribute our smarts, but we&rsquo;re now focused on educating and encouraging members of your crew to get all-in with our work.

		%h4 Brain Jam.
		%p Sometimes you&rsquo;ve got an idea. Or, we have an insight. But one way or the other, we need to riff together. It can be a phone call. Or a Hangout. Or driving down the road to do it face-to-face. The brain jam is organic and about turning a hint of inspiration into something special.

		%h4 Swarm.
		%p One of the biggest benefits to working with Invo is that we have multiple studios of digital experts. People who have worked for and in the leading technology companies in the world. While you only pay for a small and focused team, every now and then we get some or all of the studio involved in a swarm. The participants all take a quick hit dive into the particular problem we are focused on at the moment. Experts who are essentially coming from outside the project take it all in and bring their skills to bear, for your benefit.

		%h3 Our Envision activities energize the participants and provide key benefits to your team:
		%ul
			%li Innovative and unorthodox approaches to your strategic challenges
			%li Facilitated creative work that brings you together
			%li Language and visual tools to communicate across departments and business units
			%li Inspiration from new ideas and ways of thinking
		%p More than giving us the right strategy for making great things, being involved with our strategy and consulting impacts everything digital across your organization.
%a.next{:href => asset_url('process/blueprint')}
	%section.process-section.next-section
		%h3 Next step:
		%h1 Blueprint
