- content_for(:page_head) do
	= stylesheet_link_tag "sections/process"

%section.process-section.support
	= image_tag('process/jpg/process6.jpg')
	%header.section-header
		%h1 6. Support
		%h2 After our core work is over, your hard work is just beginning.
	.section-content
		%h3 Everyone budgets for the party. It’s the next day you don’t plan for.
		%p Once the project is “done” a new phase begins: Evolutionary improvements. Bug fixing. Customer service. This brings other parts of your company into contact with the product organization. It calls on your key team members to engage in a variety of design, engineering and communication activities, in order to keep the ongoing 360 experience consistent with the audacity of the vision we started with.
		%p Our team is accustomed to staying with our customers beyond the launch, often in a more part-time capacity, to take advantage of our deep experience being part of hundreds of software launches and the many knotty things that come after.

		%h3 Support services give your team:
		%ul
			%li Fresh design and code on an ongoing basis: digital products should always evolve
			%li Insight into post-launch management at top digital companies
			%li Outside help to downstream tasks to so they can focus on higher value activities
		%p Planning ahead for after the launch is what separates the best companies from those that disappoint.