- content_for(:page_head) do
	= stylesheet_link_tag "sections/homepage"
%a#disrupt.block.bar{:href => "disrupt/"}
	.photo-container
	.video-container
		%video#disrupt-vid{autoplay: true, muted: true, loop: true, poster: "../images/features/disrupt/video_posters/section-5-top.jpg"}
			%source{src: '../videos/disrupt/section-5-top.mp4', type: 'video/mp4'}
			%source{src: '../videos/disrupt/section-5-top.webm', type: 'video/webm'}
	.title
		%h5.tag Feature Article
		%h2.name Disrupt!
		%h3.sub-name Designing for Emerging Technologies
%a#from-bathroom-to-healthroom.block.bar{:href => "from-bathroom-to-healthroom/"}
	.photo-container
	.title
		%h5.tag February/March 2015 Feature
		%h2.name From Bathroom to Healthroom
		%h3.sub-name How magical technology will revolutionize human health
%a#oral-history.block.bar{:href => "an-oral-history/"}
	.photo-container
	.title
		%h5.tag Holiday 2014 Feature
		%h2.name An Oral History of Involution Studios
%a#democracy.block.bar{:href => "redesign-democracy/"}
	.photo-container
	.title
		%h5.tag September/October 2014 Feature
		%h2.name Redesign Democracy
		%h3.sub-name A better solution for the digital era

%a#ebola.block.bar{:href => "ebola/"}
	.photo-container
	.title
		%h2.sub-name A Visual Guide
		%h2.name Understanding Ebola

%a#ebola-guide.block.bar{:href => "ebola-care-guideline/"}
	.photo-container
	.title
		%h2.name Ebola Care Guideline
		%h2.sub-name An Illustrated Process on Personal Protective Equipment
				
%a#world-cup.block.bar{:href => "the-10-best-nations-in-world-cup-history/"}	
	.photo-container
	.title
		%h5.tag July/August 2014 Feature
		%h2.name The 10 Best Nations in World Cup History
		%h3.sub-name 77 teams over 84 years
