- content_for(:page_head) do
	= stylesheet_link_tag "sections/homepage"
%a#oral-history.block.bar{:href => "features/an-oral-history"}
	.photo-container
	.title
		%h5.tag Holiday 2014 Feature
		%h2.name An Oral History of Involution Studios
%a#democracy.block.bar{:href => "../features/redesign-democracy"}
	.title
		%h5.tag September/October 2014 Feature
		%h2 Redesign Democracy
		%h3 A better solution for the digital era

%a#ebola.block.bar{:href => "../features/ebola"}
	.title
		%h3 A Visual Guide
		%h2 Understanding Ebola
				
%a#world-cup.block.bar{:href => "../features/the-10-best-nations-in-world-cup-history/"}	
	.title
		%h5.tag July/August 2014 Feature
		%h2 The 10 Best Nations in World Cup History
		%h3 77 teams over 84 years