- content_for(:page_head) do
	= stylesheet_link_tag "sections/homepage"
%a#design-for-life.block.bar{:href => "from-bathroom-to-healthroom/"}
	.photo-container
	.title
		%h5.tag January/February 2015 Feature
		%h2.name Design for Life
%a#oral-history.block.bar{:href => "an-oral-history/"}
	.photo-container
	.title
		%h5.tag Holiday 2014 Feature
		%h2.name An Oral History of Involution Studios
%a#democracy.block.bar{:href => "redesign-democracy/"}
	.photo-container
	.title
		%h5.tag September/October 2014 Feature
		%h2.name Redesign Democracy
		%h3.sub-name A better solution for the digital era

%a#ebola.block.bar{:href => "ebola/"}
	.photo-container
	.title
		%h2.sub-name A Visual Guide
		%h2.name Understanding Ebola

%a#ebola-guide.block.bar{:href => "ebola-care-guideline/"}
	.photo-container
	.title
		%h2.name Ebola Care Guideline
		%h2.sub-name An Illustrated Process on Personal Protective Equipment
				
%a#world-cup.block.bar{:href => "the-10-best-nations-in-world-cup-history/"}	
	.photo-container
	.title
		%h5.tag July/August 2014 Feature
		%h2.name The 10 Best Nations in World Cup History
		%h3.sub-name 77 teams over 84 years