$white: #FFF;
$off_white: #FAFAFA;

$black: #0d0d0d;

$blue: #6195CF;

$navy: #45597B;

$gray: #AAAAAA;
$darkgray: #777777;
$lightgray: #E0E0E0;

$lightblue: #B2CFE2;
$red: #D83E3C;
$daring: #39414b;
$purple: #765E97;
$lime: #57D93D;
$darkblue: #395488;
