// For some reason when building the fontURL function won't work. Changing from 'font_url' to 'font_url' (or vica versa) will fix this.
// I have no idea why this happens and it is not consistent

@import "compass/typography";

/*************************************************************
 *  TYPES OF TYPE
**************************************************************/

body {
	font-family: 'adobe-jenson-pro', Georgia, "Times New Roman", Times, serif;
	color: $black;
	text-rendering: optimizeLegibility;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	margin-bottom: 0.5em;
	line-height: 1;
	&.name {
		font-weight: 400;
	}
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 2.4em;
}

h4 {
	font-size: 2em;
}

h5 {
	font-size: 1.8em;
}

h6 {
	font-size: 1.6em;
}

a {
	text-decoration: none;
}

.subheader {
	color: $gray;
}

#contactForm h4, h4.title {
	font-size: 18px;
	font-weight: 400;
}

.quote {
		font-weight: 400;
}

p {
	font-size: 1.375em;
	margin-bottom: 1em;
	em {
		font-style: italic;
	}
	strong {
		font-weight: 700;
	}
	a {
		text-decoration: none;
		color: $blue;
	}
}

sup {
	vertical-align: super;
	font-size: smaller;
}

sub {
	vertical-align: sub;
	font-size: smaller;
}

ul {
	list-style: square;
}

ol {
	list-style: decimal;
}

ol {
	list-style: auto;
}

.social-card a {
	color: $navy;
}

.social-card a:hover {
	color:$blue;
}

a {
	color: $blue;
}
