// For some reason when building the fontURL function won't work. Changing from 'font_url' to 'font_url' (or vica versa) will fix this.
// I have no idea why this happens and it is not consistent

@import "compass/typography";

@mixin font-size-map($font-size-map) {
	@each $breakpoint, $font-size in $font-size-map {
		@if $breakpoint == null {
			font-size: $font-size;
		} @else {
			@include breakpoint($breakpoint) {
				font-size: $font-size;
			}
		}
	}
}

$font-break-point: 480px;

$font-size-base: 20px;
$font-size-body: (null: $font-size-base);
$font-size-h1: (null: 2.75rem, $font-break-point: 3.75rem);
$font-size-h2: (null: 1.75rem, $font-break-point: 2.25rem);

$font-weight-base: 300;
$font-weight-bold: 700;

html {
	@include font-size-map($font-size-body);
	font-family: 'Roboto', sans-serif;
	color: $black;
	text-rendering: optimizeLegibility;
	font-weight: $font-weight-base;
	line-height: 1.5;
}

h1 {
	@include font-size-map($font-size-h1);
	line-height: 1.07;
	font-weight: $font-weight-bold;
}

h2 {
	@include font-size-map($font-size-h2);
	line-height: 1.15;
	font-weight: $font-weight-bold;
}

h3 {
	font-size: 2.4em;
}

h4 {
	font-size: 2em;
}

h5 {
	font-size: 1.8em;
}

h6 {
	font-size: 1.6em;
}

a {
	text-decoration: none;
}

.subheader {
	color: $gray;
}

#contactForm h4, h4.title {
	font-size: 18px;
	font-weight: 400;
}

.quote {
		font-weight: 400;
}

p {
	margin-bottom: 1em;
	em {
		font-style: italic;
	}
	strong {
		font-weight: 700;
	}
	a {
		text-decoration: none;
		color: $blue;
	}
}

small {
	line-height: 1;
	font-size: smaller;
}

sup {
	vertical-align: super;
	font-size: smaller;
}

sub {
	vertical-align: sub;
	font-size: smaller;
}

ul {
	list-style: square;
}

ol {
	list-style: decimal;
}

ol {
	list-style: auto;
}

.social-card a {
	color: $navy;
}

.social-card a:hover {
	color:$blue;
}

a {
	display: inline-block;
	color: $blue;
}
