$white: rgb(247, 247, 247);

$black: rgb(13, 13, 13);

$blue: rgb(139, 187, 217);

$navy: rgb(67, 89, 123);

$gray: rgb(168, 170, 169);
$darkgray: rgb(118, 119, 119);

$lightblue: #B2CFE2;
$red: #D83E3C;
$daring: #39414b;
$purple: #765E97;
$lime: #57D93D;
$darkblue: #395488;
