@import "compass/css3/border-radius";
@import "type";


/*************************************************************
 *  CONTROLS
**************************************************************/

@mixin button($font-size: inherit, $vertical-padding: 0.5em, $horizontal-padding: 1.25em) {
  font-size: $font-size;
  padding: $vertical-padding $horizontal-padding;
  @include border-radius(3px);
  background: $daring;
  color: #FFF;
  text-decoration: none;
  border: 0;
}

a.button,
input[type=submit].button {
  @include button();
}
.button {
  &.disabled {
    background: #BBB;
  }
  &.green {
    background: $lime;
  }
  &.blue {
    background: $darkblue;
  }
  &.red {
    background: $red;
  }
  &.square {
    @include border-radius(0);
  }
}


/*************************************************************
 *  FORM ELEMENTS
**************************************************************/

.form-field {
  label {
    display: block;
    font-family: $base-font-bold;
  }

  input[type=text],
  input[type=password],
  input[type=number],
  input[type=url],
  input[type=email],
  input[type=tel],
  textarea {
    font-size: 16px;
    border: 1px solid #BBB;
    padding: 0.75em;
    @include border-radius(2px);
  }

  &.check-box {
    label {
      display: inline;
    }
  }

  &.required {
    label:after {
      margin-left: 0.25em;
      content: '*';
      color: $red;
    }
  }

  &.with-error {
    label {
      color: $red;
    }
    input,
    textarea {
      border: 1px solid $red;
    }
  }
}

.form-actions {
  text-align: right;
}