@import "compass/css3";

@mixin transparent-font($color, $opacity, $other-color: null) {
  @if $other-color {
    color: mix($other-color, $color, $opacity * 100.0);
  } @else {
    color: $color;
  }
  color: transparentize($color, $opacity);
}

@mixin transparent-background($color, $opacity: 0.5, $other-color: null) {
  @if $other-color {
    background: mix($other-color, $color, $opacity * 100.0);
  } @else {
    background: $color;
  }
  background: transparentize($color, $opacity);
}

@mixin user-select($select) {
  -webkit-touch-callout: $select;
  -webkit-user-select: $select;
  -khtml-user-select: $select;
  -moz-user-select: $select;
  -ms-user-select: $select;
  user-select: $select;
}