- content_for(:title) do
	= "Products"
- content_for(:page_head) do
	= stylesheet_link_tag "sections/workpages"
	%meta{:name => "description", :content => ""}/
	%meta{:name => "keywords", :content => ""}/

%article#products
	%header#article-header
		%h1.title Understanding the entire product lifecycle…<br>because we own products.
		.button-h Preview our upcoming book
	.small-quote.small-bottom-padding We have funded, designed, built, marketed, managed, sold, and revised our own products. We know that pain, the struggle, the intensity.
	.small-quote.no-top-padding It’s a tough sell unless you’ve been there.
	.projects-row
		%a{:href => "/products/hgraph"}
			.project-item
				.top-description Your Health in One Picture
				.image-wrapper
					%img{:src => "/images/products/hgraph.png"} 
				.bottom-description hGraph is a visual representation of a patient's health status, designed to increase awareness of the individual's factors that can affect overall health.
				.company-name hGraph
		%a{:href => "/products/visual-budget/"}
			.project-item
				.top-description Government Transparency
				.image-wrapper
					%img{:src => "/images/products/visual-budget.png"} 
				.bottom-description Government budgets can be tough to understand, but now the Town of Arlington, Massachusetts is providing the next generation of accessibility in financial information that allows citizens to view, engage with, and discuss.
				.company-name Arlington Visual Budget
		%a{:href => "/products/health-axioms"}
			.project-item
				.top-description Healthy Habits
				.image-wrapper
					%img{:src => "/images/products/health-axioms.png"} 
				.bottom-description Health Axioms put you in touch with habits to improve your health, life, and well-being. Our sometimes surprising, always practical axioms nudge you toward the healthiest life possible. 
				.company-name Health Axioms
	.very-large-quote 
		.quote-content “I wanted to reach out and say how fun the Health Axioms cards you sent over were, merging simplicity of presentation and complex data representation.”
		.quote-author Mirar Bristol, MA. Director, Special Projects, Department of Medicine, Massachusetts General Hospital 
	.design-med-wrapper
		.content
			%h1 Design is Medicine
			%p It's time to design products to capture life and physiologic signs invisibly… usually through non-invasive sensors that don't require a single drop of blood, but just whiffs and sniffs. And when it is visible, it must be designed to feel wonderful.
			%p Listen to Juhan Sonin discuss where patient health visits is heading in 20 years.  
		.audio-wrapper
			<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/110751754&color=475e8a&show_artwork=false"></iframe>
	.projects-row.margin-bottom
		%a{:href => "/products/the-digital-life"}
			.project-item
				.top-description Podcast on Digital Tech
				.image-wrapper
					%img{:src => "/images/products/the-digital-life.png"} 
				.bottom-description The Digital Life is an online radio show that explores important, timely topics in the world of digital design and technology.
				.company-name The Digital Life
		%a{:href => "/products/facio/"}
			.project-item
				.top-description Measuring Team Dynamics
				.image-wrapper
					%img{:src => "/images/products/facio.png"} 
				.bottom-description Facio makes it dead simple for individuals and groups to engage in professional development, along with relationship and team building.
				.company-name Facio
		%a{:href => "/products/design-axioms"}
			.project-item
				.top-description Design Edu in a Box
				.image-wrapper
					%img{:src => "/images/products/design-axioms.png"} 
				.bottom-description The Design Axioms describe the minimal rule set for designing interfaces: the 16 foundational concepts that are required knowledge for engineers and designers to create usable and elegant interfaces.
				.company-name Design Axioms
	.projects-row.bottom-margin
		%a{:href => "/products/paintrackr/"}
			.project-item
				.top-description Monitor Physical Pain
				.image-wrapper
					%img{:src => "/images/products/paintrackr.png"} 
				.bottom-description PainTrackr seeks to make logging pain more intuitive, while eliminating the hassle of imputing information via pen and paper. 
				.company-name PainTrackr
		%a{:href => "/products/staff-plan/"}
			.project-item
				.top-description Staff Planning
				.image-wrapper
					%img{:src => "/images/products/staffplan.png"} 
				.bottom-description Our internal tool for project planning. 
				.company-name StaffPlan
		%a{:href => "/products/runnan/"}
			.project-item
				.top-description Warhol meets Sidescroller
				.image-wrapper
					%img{:src => "/images/products/runnan.png"} 
				.bottom-description A fun game of a jumping carrot trying to navigate a world of wacky burgers, pickles, and lollipops.
				.company-name Runnan
		
	.office-hours
		.small-title.white Want honest design feedback on your product?
		.small-title.blue Sign up for our Open Office hours every Thursday 4-6p.
			