- content_for(:title) do
	= "Products"
- content_for(:page_head) do
	= stylesheet_link_tag "sections/workpages"
	%meta{:name => "description", :content => ""}/
	%meta{:name => "keywords", :content => ""}/

%article#products
	%header#article-header
		%h1.title Understanding the entire product lifecycle…<br>because we own products.
		%a{:href => "http://www.amazon.com/Designing-Emerging-Technologies-Genomics-Robotics/dp/1449370519/ref=sr_1_fkmr0_1?ie=UTF8&qid=1418396483&sr=8-1-fkmr0&keywords=designing+for+emerging+tech"}
			.button-h Purchase a copy of our book
	.small-quote.small-bottom-padding We have funded, designed, built, marketed, managed, sold, and revised our own products. We know that pain, the struggle, the intensity.
	.small-quote.no-top-padding It’s a tough sell unless you’ve been there.
	.projects-row
		%a{:href => "/products/hgraph"}
			.project-item
				.top-description Your Health in One Picture
				.image-wrapper
					%img{:src => "/images/products/hgraph.png"} 
				.bottom-description hGraph is a visual representation of a patient's health status, designed to increase awareness of the individual's factors that can affect overall health.
				.company-name hGraph
		%a{:href => "/products/visual-budget/"}
			.project-item
				.top-description Government Transparency
				.image-wrapper
					%img{:src => "/images/products/visual-budget.png"} 
				.bottom-description Government budgets can be tough to understand, but now the Town of Arlington, Massachusetts is providing the next generation of accessibility in financial information that allows citizens to view, engage with, and discuss.
				.company-name Visual Government
		%a{:href => "/products/health-axioms"}
			.project-item
				.top-description Healthy Habits
				.image-wrapper
					%img{:src => "/images/products/health-axioms.png"} 
				.bottom-description Health Axioms put you in touch with habits to improve your health, life, and well-being. Our sometimes surprising, always practical axioms nudge you toward the healthiest life possible. 
				.company-name Health Axioms
	.very-large-quote 
		.quote-content “I wanted to reach out and say how fun the Health Axioms cards you sent over were, merging simplicity of presentation and complex data representation.”
		.quote-author Mirar Bristol, MA. Director, Special Projects, Department of Medicine, Massachusetts General Hospital 
	.projects-row.bottom-margin
		%a{:href => "/products/staff-plan/"}
			.project-item
				.top-description Staff Planning
				.image-wrapper
					%img{:src => "/images/products/staffplan.png"} 
				.bottom-description Our internal tool for project planning. 
				.company-name StaffPlan
		%a{:href => "#"}
			.project-item
		%a{:href => "#"}
			.project-item
		
	.office-hours
		.small-title.white Want honest design feedback on your product?
		.small-title.blue <a href="https://www.google.com/maps/place/Involution+Studios/@42.4160129,-71.1542221,17z/data=!3m1!4b1!4m2!3m1!1s0x89e3765076a6362b:0x20e26f4cc4eb5ced">Visit</a> our studio for Open Office hours every Thursday 4-6p.
			