- content_for(:page_head) do
	= stylesheet_link_tag "sections/process"

%section.process-section.craft
	= image_tag('process/jpg/process4.jpg')
	%header.section-header
		%h1 4. Craft
		%h2 Nothing happens until someone actually makes something.
	.section-content
		%h3 The heart of our studio lives here: making amazing things for you.
		%p Our brains are what you are paying for: the experience, the smarts, the insight that has completely reshaped industries. But where our work gets really, well, real is in the amazing things that we make:
		%p The first version of the digital product you dreamed about months before, suddenly not just real, but spectacular.
		%p The dashboard that brings to life all the complex relationships you knew could be brought together, but couldn’t make tangible how.
		%p The immersive installed system that gathers data in your shopping mall and converts it into real-time analytics reports, accessible on any device.
		%p The massive enterprise app that you never thought could look sexy, and suddenly is revealed to be gorgeous.
		%p The redesign of your flailing product, immediately communicating to anyone who sees it, “Guess who’s now at the top of the Gartner Magic Quadrant(R)?”
		%p This is the fun stuff, the stuff that shifts from “What an amazing plan!” to “Holy &*!#! We’re really going to do this thing!” It is the art and design side that will make sweet, sweet luvin’ with the engineering and fabrication side, to literally change the world.
		%p In case it isn’t obvious? This is the stuff we live for.
		
		%h4 Skectching.
		%p The handcrafting of gorgeous, custom images to enhance or serve as the core for your interfaces. We employ professional illustrators - the kind of people who work at Pixar or Disney or Rockstar - who have a specialization in interface design but were trained with the top illustrators in the world. Their work takes time, but is always worth it.

		%h4 Design.
		%p From graphic to industrial; from environmental to ?. Our designers are (section missing....)

		%h4 Lightweight Prototypes.
		%p Looking at comps isn’t adequate for good decision making. You need a prototype that actually behaves the way the design envisions. Some of our prototypes are designed for production. A key part of the overall product development process, the prototype serves as a tool for design feedback and iteration on one hand, and an engineering spec on the other.
		%p As important but less understood is using prototypes to test design concepts. Early prototypes need to be viewed like design comps: working toward the right solution but can easily be thrown away. It is a classic case of the process, not the outcome, being the important thing. Some prototype will represent the product that gets built, but it is likely not the first. It may be, but it also may be the second. Or the fifth. That is the process to get to world-class digital products.
		%p Our designers understand the fundamentals of engineering. Some are reformed engineers who used to wrangle silicon, math or bits and bytes. Often times, they can’t help but turn their work into something that actually, well, works. Prototypes can be explicit deliverables as part of our projects, or just something our designers know will help the process to have so they kick them out on their own. Yeah, they’re getting a little crazy. But it’s that good kind of crazy, the kind that brings the digital product fully to life.

		%h3 Our Craft work has a big impact on your business in ways large and small:
		%ul
			%li Gorgeous prototypes to turbocharge sales and fundraising
			%li High-quality visual assets to share with internal stakeholders
			%li Demonstrable proof of “making it real” creates excitement
		%p Getting real assets that make your challenges visual with solutions that are desirable shifts the conversation from if you can do it, to when.