- content_for(:page_head) do
	= stylesheet_link_tag "sections/complex-case-studies"
	= javascript_include_tag 'worknav'
- client = client_for_name("hGraph")

%article#complex-case.hgraph
	%header.hero
		.row
			.medium-6.small-12.small-centered.columns
				.title
					%h2 hGraph:
					%h3 Your health in one picture.
	.row#mainContent
		.medium-6.small-12.small-centered.columns
			%p hGraph is currently the only open source tool for visualizing a patient&rsquo;s complete range of health metrics. This one-of-a-kind visualization approach aggregates health data both on a personal and community level. It provides clinicians with at-a-glance analytics of a patient&rsquo;s overall health, allowing doctors to spot patterns and red flags. It works by comparing a person&rsquo;s health data against targeted health ranges based on factors like age and gender. Metrics that appear red are either lower or higher than the &ldquo;good health&rdquo; range. The hScore is an overall, aggregated score of health (1-100) that represents a person&rsquo;s health status, or grade.

			%p.bottom In this deceptively simple fashion hGraph enables the compilation and display of a considerable amount of information within a limited space. hGraph is currently in pilot programs at a major retail pharmacy and on Facebook&rsquo;s campus clinic.

			.center-image-content.large
				%img{:src => "../../images/clients/hgraph/hgraph_ipad.jpg", :alt => "hGraph running on an iPad, showing how multiple people's health data can be tracked simultaneously."}
				.caption hGraph can also track data across generations, displaying behavioral and medical trends in families.
			.center-image-content.large
				%img{:src => "../../images/clients/hgraph/hgraph_labs_zoom.jpg", :alt => "Detail of hGraph iPad interface."}
				.caption Users can zoom in to inspect each data point or view hGraph on a broader level. Based on an individual&rsquo;s health data, hGraph identifies where an individual&rsquo;s health numbers are, and where they should be.

			%h2 Growing the Big Data Trend
			%p.bottom Healthcare data is expected to grow between 1.2 to 2.4 exabytes per year. That&rsquo;s about 1,000 times the amount of data the human brain is capable of storing. This data is big, disparate and unstructured, making the extraction of useful information almost impossible. In order for patients and healthcare providers to make actionable decisions they need analytic tools that both collect data and make sense of it.

			%h2 Crunching the Numbers of Analytics
			%p According to McKinsey &amp; Co. US healthcare costs topped $2.6 trillion in 2011 (The Big Data Revolution in US Healthcare). In the same year healthcare expenses represented 18.2% of GDP, a record high. That&rsquo;s over $600 billion more than the expected benchmark for a nation of the United States&rsquo; size and wealth. They calculate early adoption of innovative tools like hGraph could help reduce the soaring cost of healthcare by $160-220 billion. Innovative, software-driven measures that target disease prevention and enable data adherence could save anywhere between $70–100 billion, while $90-110 billion could be saved by programs that coordinate care across all healthcare providers and align those providers around proven pathways.
			%p.bottom However, those waiting for the US Healthcare system to be the leaders of change might be in for a very long wait. Business, both big and small, are quicker when it comes to seeing the need and cost-saving opportunities of hGraph.

			%h2 Business Leads the Charge for Change
			%p The hGraph project intends to change the way we manage and interact with our health, and in turn make the healthcare industry leaner, cheaper and more effective. As an open source program, hGraph has been utilized in pilot programs at a major retail pharmacy and at Facebook&rsquo;s campus health clinic. These corporations lead a trend of big business improving worker productivity and their bottom lines by taking a more active roll in monitoring their employees&rsquo; health.
			%p.bottom According to Mercer&rsquo;s &ldquo;Worksite Medical Clinics 2012 Survey Report&rdquo; 37% of companies with more than 5,000 employees offer on-site health clinics, with an additional 15% planning to add their own health clinics in the next two years. Of these corporations 62% reported their top reason for continuing onsite health centers was because the clinics enhanced worker productivity. The second reason, according to 56% of those surveyed, was because the clinics reduced medical costs. Most corporate centers are taking a more active role in the management and coordination of employee wellness. Still, over half of organizations reported they were in need of tools to capture a holistic view of employee health to better integrate and coordinate their health programs with outside health centers.

			%h2 Preventing Medical Errors
			%p The sixth biggest cause of death in America is due to medical errors that could have been prevented. A 1999 consensus by the Institute of Medicine estimated that as many as 98,000 people die every year due to these errors. hGraph instantly shows clinicians a patient&rsquo;s leading conditions, allowing them to make faster, smarter life-critical choices. Other Electronic Health Records (EHR) force doctors to hunt through dozens of screens to find pertinent information. In health, speed counts. hGraph provides medical professionals with the tools they need to save lives and improve the outcome of their patients&rsquo; health.

			.center-image-content.large
				%img{:src => "../../images/clients/hgraph/hgraph_mobile.jpg", :alt => "hGraph running on an iPhone."}
				.caption The pocket-friendly version of hGraph.

			%p.bottom hGraph aims to tackle some of the largest obstacles between patients and a better understanding of overall health. Through press and awards plenty of people have noted hGraph&rsquo;s aptitude. With beautifully designed visualization, hGraph provides medical professionals and patients with Big Data Analytic power that understands the context of their worlds. It is simple to use and simple to implement, which is why many have chosen hGraph as the tool to promote and disseminate better overall health.

			%h2 hGraph Press &amp; Accolades
			%ul
				%li MITX Innovation Award Finalist, Most Insightful: Big Data and Analytics Innovations 2013
				%li Wired, How Restyling the Mundane Medical Record Could Improve Healthcare
				%li National Health Datapalooza, Featured Entrant
				%li Health IT Buzz, Winners of Patient Health Record Graphic Design Contest Announced
				%li EContent Magazine, Digital Diagnosis: A New Generation of Healthcare Technology&rdquo; in EContent Magazine
				%li .Gov Challenge: National Patient Record Redesign, Showcased Entry
				%li O&rsquo;Reilly Strata Conference on Big Data, Featured Presentation
			.center-image-content.large
				%img{:src => "../../images/clients/hgraph/hgraph_pre_diabetes.jpg", :alt => "Pre-Diabetes chart displayed with hGraph."}
				.caption hGraph displays behavioral patterns as well as test data to give a complete picture of a patient&rsquo;s health. With hGraph a doctor could identify patterns that could eventually lead to conditions like diabetes or hypertension.
			.center-image-content.large
				%img{:src => "../../images/clients/hgraph/hgraph_health_history_timeline.jpg", :alt => "hGraph displaying a medical timeline for a patient, showing how heatlh statistics and numbers can be tracked and change over time."}
				.caption hGraph stores data from all medical providers making it easier for patients to follow up with their primary care physicians.
			%p.bottom To learn about what you can do with hGraph and how you can participate in its development, contact us at <a href="mailto:hgraph@goinvo.com">hgraph@goinvo.com</a>.
.row#next-project
	.medium-6.small-12.small-centered.columns
		.next-title
			Next Project:
			%span#next
