- content_for(:page_head) do
  = stylesheet_link_tag "sections/simple-case-studies"
- client = client_for_name("RueLaLa")
    
.row
  .medium-3.small-12.column
    %h1.client{style: "color: #{client.primary_color}"} RueLaLa
    
    %h6.subheader
      RESULTS
    
    %p 
    
    %p.quote
      ?
    %p.caption
      -
    
    %h6.subheader DETAILS
    %ul
      %li Ethnographic research to understand RueLaLa’s high margin customer
      %li Conceptualizing a software experience that emphasizes exclusivity
      %li Total design of the RueLaLa system, with UX support through production and launch
      %li Over 6 months for the core research and design, followed up by months of support
    
    %h6.subheader PROJECT TYPE
    
    %p UX Strategy & Design
    
    .similar-project-container
      %h6.subheader Have a similar project?
      = link_to 'Contact Us', asset_url('contact'), class: 'button radius'
    
  .medium-9.small-12.column
    %img{alt: "App ecosystem across devices", src: "../images/clients/numera/numera_plan_joined.jpg"}
    %p.caption Taking Numera from a big idea to a well-integrated app ecosystem leveraged many of Involution's expert software skills.

    %div
      %img{alt: "Mobile UX application for iOS", src: "../images/clients/numera/numera-iphone-app-design.jpg"}/
    %p.caption Complete activities and track them in the moment to leapfrog your competition.

    %div
      %img{alt: "Track health goals to monitor your success", src: "../images/clients/numera/numera-goals-facebook-design.jpg"}/
    %p.caption Track health goals with your daily plan to monitor your success.

    %div
      %img{alt: "Whiteboard sketching with founders and engineers", src: "../images/clients/numera/numera-whiteboard-ui-sketch.jpg"}/
    %p.caption Working with Numera team of founders and engineers we started mapping the screens and user flow.