- content_for(:page_head) do
	:css
		@import "/stylesheets/all.css";
		body {
			background-image: url('../../images/404_2.png');
			background-position: 75% 70%;
			background-repeat: no-repeat;
		}
		.row404 {
			min-height: 800px;
			padding-top:250px;
			h1 {
				font-size: 5em;
			}
		}
		#site-overlay {
			width:100%;
			position:fixed;
			top:0;
			left:0;
			z-index:3000;

		}

		body.work #main-header #nav-buttons .work,
		body.studio #main-header #nav-buttons .studio,
		body.team #main-header #nav-buttons .team,
		body.careers #main-header #nav-buttons .careers,
		body.contact #main-header #nav-buttons .contact, {
			color: #FFF;
			&:hover {
				color: #C9C9C9;
			}
		}

		#main-header {
			height: 55px;
			background: rgba(18,18,18,.875);
			padding: 15px 2.125em 0;
			transition: background .3s ease;

			#nav-buttons, #nav-buttons-mobile {
				display: inline-block;
				padding-top: 3px;
				vertical-align: middle;
				right: 0;
				float: right;
				a {
					padding-left: 20px;
					color: #AAA;
					&:hover {
						color: #DDD;
					}
				}
			}

			#mobile-hamburger {
				cursor:pointer;
				position:absolute;
				top: 17px;
				right:31px;
				display:none;
			}

			#nav-buttons-mobile {
				position: absolute;
				display:none;
				background: rgba(18,18,18,.875);
				padding-top: 0;
				top:55px;
				left:0;
				.nav-button {
					display: block;
					padding-top: 10px;
					padding-bottom: 10px;
					padding-right: 10px;
					padding-left: 31px;
					border-width: 0px;
					border-bottom-width: 1px;
					border-style: solid;
					border-color: $gray;
					&:first-child {
						border-top-width: 1px;
						}
					a span.underline {
						border-bottom-width: 0px;
					}
				}
			}
		}

		.header-content {
			margin: 0 auto;
			padding-left: 3em;
			padding-right: 3em;
			.tag-line {
				margin: 0;
				font-size: 1em;
				display:inline-block;
				color: #EEE;
				margin-left: 10px;
				vertical-align: bottom;
				padding-bottom: 2px;
			}
		}
		#main-footer {
			background-color: #0d0d0d;
			color: rgba(247, 247, 247, 0.7);
			padding: 10px 0;
			width: 100%;

			p {
				font-size: 18px;
				font-weight: 300;
			}

			.hs-button.primary.large {
				padding-right: 20px;
				padding-left: 20px;
				padding-top: 10px;
				padding-bottom: 8px;
				margin-left: 5px;
			}

			.row {
				&.footerlogo, &.footerContent .large-hide {
					padding-top: 20px;
					text-transform: uppercase;
					color: inherit;
				}

				&.footerContent .large-hide {
					margin-bottom: 5px;
				}
			}

			h1,h2,h3,h4,h5,h6, a, .logocol, .row.footerlogo div, .subcol, .row.footerContent .large-hide{
				color: rgba(247, 247, 247, 0.7);
			}

			a:hover {
				color: #f7f7f7;
			}

			.hs_email.field.hs-form-field.smart-field
			{
				width: calc(100% - 140px);
				display: inline-block;
			}

			div.hs_submit {
				width: auto;
				display: inline-block;
			}

			#news-letter-input, #email-50d88d90-87a2-48ed-94a9-a141da52c545{
				width: 100%;
				display: inline-block;
				padding-top: 22px;
				padding-bottom: 20px;
				margin-bottom: 10px;
			}

			p.news-letter {
				margin-bottom: 2px;
			}

			div.hs_email.field.hs-form-field.smart-field {

				label {
					display: none;
				}
			}

			.footerContent {
				text-align: right;
				padding: 0 6.5em;
				p.address {
					margin-top: 0px;
					margin-bottom: 0px;
				}

				p.address, #phoneNum, p.mail, p.twitter {
					display: inline-block;
					margin-right: 10px;
					margin-bottom: 0;
				}
			}


			#phoneNum {
				margin-top: 0px;
				margin-bottom: 0px;
			}


			.addrcol, .linkscol {
				p {
					margin-bottom: 0px;
				}
			}

			p.mobile-hide.about-us {
				margin-bottom: 0px;
			}

			.social-links-contain {
				display:inline-block;
				margin-right: 20px;
			}

			.medium-1.columns.sidebar.social-links {
				min-width: 80px;
			}

			#footer-social-links {
				margin: 0px;
				display: inline-block;
				min-width: 62px;
				margin-right: 5px;
				&.two {
					display: block;
				}
				li {
					display: inline-block;
					padding-right: 2px;

					img {
						padding: 0px;
					}
				}

				li a:hover img{
					fill: white;
				}
			}

			#footer-social-links.large-hide {
				li {
					padding-top: 20px;
				}
			}
		}
	%meta{:name => "description", :content => "Involution Studios is a user interface and software design firm located in Boston. We create great user experiences for deskop, mobile, and web applications."}/
	%meta{:name => "keywords", :content => "boston user interface design, boston ui design, boston web application design, boston application design, boston mobile design, boston mobile application design, boston software design"}/
%article#contact
	.row404
		.small-11.small-centered.medium-7.medium-centered.columns
			%h1 404 - Not Found
			%h2 <a href="/">Return home</a> and continue your journey.
