- content_for(:page_head) do
    = stylesheet_link_tag "sections/404"
    %meta{:name => "description", :content => "Involution Studios is a user interface and software design firm located in Boston. We create great user experiences for deskop, mobile, and web applications."}/
    %meta{:name => "keywords", :content => "boston user interface design, boston ui design, boston web application design, boston application design, boston mobile design, boston mobile application design, boston software design"}/
%article#contact
    .row404
        .small-11.small-centered.medium-7.medium-centered.columns
            %h1 404 - Not Found
            %h2 <a href="/">Return home</a> and continue your journey.
