- content_for(:page_head) do
	= stylesheet_link_tag "sections/homepage", :async => true
	:javascript
		posts = [];
		$.ajax({
			url      : document.location.protocol + '//ajax.googleapis.com/ajax/services/feed/load?v=1.0&num=10&callback=?&q=' + encodeURIComponent('http://yes.goinvo.com/articles/rss.xml'),
			dataType : 'json',
			success  : function (data) {
				if (data.responseData.feed && data.responseData.feed.entries) {
					$.each(data.responseData.feed.entries, function (i, e) {
						posts.push(e);
					});
				}	
				// Code goes here
				var currentString = posts[0].content;
				var sIndex = currentString.lastIndexOf('<img');
				currentString = currentString.substring(0, sIndex);
				sIndex = currentString.lastIndexOf('<img');
				currentString = currentString.substr(sIndex);
				sIndex = currentString.indexOf('src=');
				currentString = currentString.substr(sIndex+5);
				sIndex = currentString.indexOf('"');
				currentString = currentString.substring(0, sIndex);
				console.log(currentString);

				$('#oracle').removeClass('bar').addClass('half');
				$('.recent-blog-post.dynamic').append('<a href="' + posts[0].link + '" id="blog" class="block bar"><div class="title"><h5 class="tag">Latest Blog Post</h5><h2>' + posts[0].title + '</h2></div></a>');
				$('#blog').css('background-image', 'url(' + currentString + ')');

			}
		});
%a#homepage-hero.block.bar{:href => "work"}
	.title
		.actual-title Idea to Product
		.actual-content The software we design helps progressive companies create new markets and exploit future tech.
		.actual-button How We Work
%a#democracy.block.bar{:href => "features/redesign-democracy"}
	.title
		%h5.tag September/October 2014 Feature
		%h2 Redesign Democracy
		%h3 A Better Solution for the Digital Era
	
%a#ebola.block.bar{:href => "features/ebola"}
	.title
		%h3 A Visual Guide
		%h2 Understanding Ebola
	
.double
	%a#three-m.block.half{:href => "work/3m"}
		.title
			%h5.tag Client Story: 3M
			%h2 &ldquo;Invo designed our way to a $150M exit.&rdquo;
	%a#culture.block.half{:href => "careers"}
		.title
			%h5.tag Our Culture
			%h2 Radical transparency is just part of our story&hellip;

.recent-blog-post.dynamic
		