- content_for(:page_head) do
	= stylesheet_link_tag "sections/homepage", :async => true
	:javascript
		posts = [];
		$.ajax({
			url      : document.location.protocol + '//ajax.googleapis.com/ajax/services/feed/load?v=1.0&num=10&callback=?&q=' + encodeURIComponent('http://yes.goinvo.com/articles/rss.xml'),
			dataType : 'json',
			success  : function (data) {
				if (data.responseData.feed && data.responseData.feed.entries) {
					$.each(data.responseData.feed.entries, function (i, e) {
						posts.push(e);
					});
				}	
				// Code goes here
				var currentString = posts[0].content;
				var sIndex = currentString.lastIndexOf('<img');
				currentString = currentString.substring(0, sIndex);
				sIndex = currentString.lastIndexOf('<img');
				currentString = currentString.substr(sIndex);
				sIndex = currentString.indexOf('src=');
				currentString = currentString.substr(sIndex+5);
				sIndex = currentString.indexOf('"');
				currentString = currentString.substring(0, sIndex);

				$('#oracle').removeClass('bar').addClass('half');
				$('.recent-blog-post.dynamic').append('<a href="' + posts[0].link + '" id="blog" class="block bar"><div class = "photo-container"></div><div class="title"><h5 class="tag">Latest Blog Post</h5><h2>' + posts[0].title + '</h2></div></a>');
				$('#blog .photo-container').css('background-image', 'url(' + currentString + ')');
				var randNum = Math.ceil(Math.random()*3);
				var imgURL = 'url("/images/home/hp-' + randNum + '.png")';
				$('#homepage-hero .photo-container').css('background-image', imgURL);
			}
		});
%a#homepage-hero.block.bar{:href => "healthcare"}
	.photo-container
	.title
		.actual-title Idea to Product
		.actual-content The software we design helps progressive companies create new markets and exploit future tech.
		.actual-button See our work
.clients
	%table.non-mobile
		%tbody
			%tr
				%td
					%a{:href => "healthcare/3m"}
						%img{:src => "/images/healthcare/partners/3m.png"}
				%td
					%a{:href => "http://www.jnj.com/"}
						%img{:src => "/images/healthcare/partners/jandj.png"}
				%td
					%a{:href => "http://www.nih.gov/"}
						%img{:src => "/images/healthcare/partners/nih.png"}
				%td
					%a{:href => "healthcare/mount-sinai"}
						%img{:src => "/images/healthcare/partners/mtsinai.png"}
				%td
					%a{:href => "healthcare/partners-gene-insight"}
						%img{:src => "/images/healthcare/partners/partners.png"}
				%td
					%a{:href => "healthcare/personal-genome-project"}
						%img{:src => "/images/healthcare/partners/pgp.png"}
				%td
					%a{:href => "http://www.walgreens.com/"}
						%img{:src => "/images/healthcare/partners/wallgreen.png"}


%a#from-bathroom-to-healthroom.block.bar{:href => "features/from-bathroom-to-healthroom/"}
	.photo-container
	.title
		%h5.tag February/March 2015 Feature
		%h2.name From Bathroom to Healthroom
		%h3.sub-name How magical technology will revolutionize human health
	
%a#ebola.block.bar{:href => "features/ebola"}
	.photo-container
	.title
		%h3.sub-name A Visual Guide
		%h2.name Understanding Ebola
	
.double
	%a#three-m.block.half{:href => "healthcare/3m"}
		.photo-container
		.title
			%h5.tag Client Story: 3M
			%h2 &ldquo;Invo designed our way to a $150M exit.&rdquo;
	%a#culture.block.half{:href => "studio/careers"}
		.photo-container
		.title
			%h5.tag Our Culture
			%h2 Radical transparency is just part of our story&hellip;
.news
	.small-title Our work has been showcased by
	%ul.mobile
		%li
			%a{:href => "http://www.bostonglobe.com/business/2013/02/04/boston-sport-apps-run-packs/vXFHV2rVMZp9UJHqm7IvBK/story.html"}
				%img{:src => "/images/news/logo-the-boston-globe@2x.png"}
				"Blood biomarkers are the key to understanding fitness and well-being."
		%li
			%a{:href => "http://www.newscientist.com/article/dn25969-my-genes-could-help-cure-childhood-diseases.html#.VRluFDt4rIQ"}
				%img{:src => "/images/news/logo-new-scientist.png"}
				"Diving deeper into genetics in this way, we stand a chance of fighting disease before we even have symptoms."
		%li 
			%a{:href => "http://www.npr.org/blogs/health/2014/03/28/295734262/if-a-pictures-worth-1-000-words-could-it-help-you-floss"}
				%img{:src => "/images/news/logo-npr@2x.png"}
				"The Care Card deck exudes their own geeky charm."
		%li
			%a{:href => "https://www.ted.com/talks/stephen_friend_the_hunt_for_unexpected_genetic_heroes"}
				%img{:src => "/images/news/logo-ted.png"}
				Stephen Friend presents The Resilience Project.
		%li
			%a{:href => "http://www.wired.com/2013/01/medical-record-redesign/"}
				%img{:src => "/images/news/logo-wired.png"}
				"hGraph might be just what the doctor will order."
	%table.non-mobile
		%tbody
			%tr
				%td
					%a{:href => "http://www.bostonglobe.com/business/2013/02/04/boston-sport-apps-run-packs/vXFHV2rVMZp9UJHqm7IvBK/story.html"}
						%img{:src => "/images/news/logo-the-boston-globe.png", alt: "The Boston Globe"}
				%td
					%a{:href => "http://www.newscientist.com/article/dn25969-my-genes-could-help-cure-childhood-diseases.html#.VRluFDt4rIQ"}
						%img{:src => "/images/news/logo-new-scientist.png"}
				%td
					%a{:href => "http://www.npr.org/blogs/health/2014/03/28/295734262/if-a-pictures-worth-1-000-words-could-it-help-you-floss"}
						%img{:src => "/images/news/logo-npr.png"}
				%td
					%a{:href => "https://www.ted.com/talks/stephen_friend_the_hunt_for_unexpected_genetic_heroes"}
						%img{:src => "/images/news/logo-ted.png"}
				%td
					%a{:href => "http://www.wired.com/2013/01/medical-record-redesign/"}
						%img{:src => "/images/news/logo-wired.png"}		
			%tr
				%td
					"Blood biomarkers are the key to understanding fitness and well-being."
				%td
					"Diving deeper into genetics in this way, we stand a chance of fighting disease before we even have symptoms."
				%td
					"The Care Card deck exudes their own geeky charm."
				%td
					Stephen Friend presents The Resilience Project.
				%td
					"hGraph might be just what the doctor will order."

.recent-blog-post.dynamic
		