- content_for(:page_head) do
  = stylesheet_link_tag "sections/homepage"
.homepage-header
  .row
    <a href = "http://goinvo.hs-sites.com/articles/world-cup-visualized?hs_preview=daq3yw5R-1052876637">
    .medium-12.small-12.columns
      .title
        %h2
          World Cup Visualized
        %h3
          A history of team rankings
        %h4 
          by Dirk Knemeyer, Data Viz by Adam Pere 
    </a>
<a href = "http://code.goinvo.com/goinvo-temp/work">    
.feature-article-section
  .title
    .row
      .medium-12.small-12.columns
        %h2
          <div id = "view-work">View Our Work</div>Crafting exceptional software for progressive companies. 
</a>
      
