- content_for(:page_head) do
	= stylesheet_link_tag "sections/homepage"
.homepage-header.one
	.row
		%a{:href => "features/world-cup-history-visualized/"}
			.medium-12.small-12.columns
				.title
					%h2 World Cup History Visualized:
					%h3 84 years and 77 teams
.homepage-header.two
	.row
		%a{:href => "features/world-cup-history-visualized/"}
			.medium-12.small-12.columns
				.title
					%h2 Something else we don't know about.
					%h3 It's still a mystery &hellip;