- content_for(:page_head) do
	= stylesheet_link_tag "sections/homepage"
%a#democracy.block.bar{:href => "features/redesign-democracy"}
	.title
		%h5.tag September/October 2014 Feature
		%h2 Redesign Democracy
		%h3 A better solution for the digital era
				
/ %a#world-cup.block.bar{:href => "features/the-10-best-nations-in-world-cup-history/"}	
/ 	.title
/ 		%h5.tag July/August 2014 Feature
/ 		%h2 The 10 Best Nations in World Cup History
/ 		%h3 77 teams over 84 years

%a#hgraph.block.bar{:href => "http://hgraph.org/"}
	.title
		%h2 HGraph
		%h3 Your health in one picture

.double
	%a#three-m.block.half{:href => "http://work/3m"}
		.title
			%h5.tag Client Story: 3M
			%h2 &ldquo;Invo designed our way to a $150M exit.&rdquo;

	%a#culture.block.half{:href => "careers"}
		.title
			%h5.tag Our Culture
			%h2 Radical transparency is just part of our story&hellip;

%a#walgreens.block.bar{:href => "http://work/3m"}
	.title
		%h5.tag Client Story: Walgreens
		%h2 &ldquo;Invo beautifully helped shape our next generation clinician and patient experience.&rdquo;