- content_for(:page_head) do
	= stylesheet_link_tag "sections/homepage"
	:javascript
		$(document).ready(function(){
			$('.homepage-header.two').attr('id', 'hot-swap');
			function getRandomInt(min, max) {
				return Math.floor(Math.random() * (max - min + 1)) + min;
			}
			var rand = getRandomInt(1, 2);
			$('.homepage-header.two h3').remove();
			$('.homepage-header.two .title').append('<a class="light-button">See how we did it</a>');
			if (rand === 1) {
				$('.homepage-header.two').addClass('three-m');
				$('a.two').attr('href', 'work/3m');
				$('.homepage-header.two h2').html('&ldquo;Invo designed our way to a $150M exit.&rdquo;');

			}
			/* else if (rand === 2) {
				$('.homepage-header.two').addClass('infobionic');
				$('a.two').attr('href', 'work/infobionic');
				$('.homepage-header.two h2').html('&ldquo;With Invo, design wasn&rsquo;t just design. It impacted our IP portfolio. It changed our business.&rdquo;');
			} */
			else {
				$('.homepage-header.two').addClass('walgreens');
				$('a.two').attr('href', 'work/hgraph');
				$('.homepage-header.two h2').html('&ldquo;Invo beautifully helped shape our next generation clinician and patient experience.&rdquo;');
			}
		});

%a.one{:href => "features/world-cup-history-visualized/"}
	.homepage-header.one
		.container
			.title
				%h5.boxed July/August 2014 Feature
				%h2 World Cup History Visualized:
				%h3 84 years and 77 teams
				.light-button Read about it

%a.two{:href => "http://hgraph.org/"}
	.homepage-header.two
		.container
			.title
				%h5.boxed Client Story
				%h2 HGraph
				%h3 Your health in one picture

%a.three{:href => "careers"}
	.homepage-header.three
		.container
			.title
				%h5.boxed Our Culture
				%h2 Radical transparency is just part of our story&hellip;
				.light-button Read more
