- content_for(:page_head) do
	= stylesheet_link_tag "sections/homepage"
	:javascript
		$(document).ready(function(){
			$('.homepage-header.two').attr('id', 'hot-swap');
			function getRandomInt(min, max) {
				return Math.floor(Math.random() * (max - min + 1)) + min;
			}
			var rand = getRandomInt(1, 3);
			if (rand === 1) {
				$('.homepage-header.two').addClass('three-m');
				$('.homepage-header.two > a').attr('href', 'clients/3m');
				$('.homepage-header.two h2').html('&ldquo;Invo designed our way to a $150M exit.&rdquo;');
				$('.homepage-header.two h3').html('George Moon, 3M Vice President');
				$('.homepage-header.two .title').append('<a class="light-button">See how we did it.</a>');
			} else if (rand === 2) {
				$('.homepage-header.two').addClass('info-b');
				$('.homepage-header.two > a').attr('href', 'clients/info-b');
				$('.homepage-header.two h2').html('&ldquo;With Invo, design wasn’t just design. It impacted our IP portfolio. It changed our business.&rdquo;');
				$('.homepage-header.two h3').html('Serban Georgescu MD, Infobionic Director of Clinical Development');
				$('.homepage-header.two .title').append('<a class="light-button">See how we did it.</a>');
			} else {
				$('.homepage-header.two').addClass('walgreens');
				$('.homepage-header.two > a').attr('href', 'clients/walgreens');
				$('.homepage-header.two h2').html('&ldquo;Invo beautifully helped shape our next generation clinician and patient experience.&rdquo;');
				$('.homepage-header.two h3').html('Igor Gershfang, Walgreens Emerging Tech Director');
				$('.homepage-header.two .title').append('<a class="light-button">See how we did it.</a>');
			}
		});

.homepage-header.one
	%a{:href => "features/world-cup-history-visualized/"}
		.container
			.title
				%h2 World Cup History Visualized:
				%h3 84 years and 77 teams
.homepage-header.two
	%a{:href => "http://hgraph.org/"}
		.container
			.title
				%h2 HGraph
				%h3 Your health in one picture.
.homepage-header.three
	%a{:href => "careers"}
		.container
			.title
				%h2 Our Culture