- content_for(:page_head) do
	= stylesheet_link_tag "sections/homepage"
.homepage-header
	.row
		.medium-12.small-12.columns
			.title
				%h2
					World Cup History Visualized:
				%h3
					84 years and 77 teams