.homepage-header
  .row
    .medium-12.small-12.columns
      .title
        %h2
          World Cup Visualized
        %h3
          A brief history of team rankings
        %h4 
          Written by Dirk Knemeyer, Data Visualiztation by Adam Pere 
.feature-article-section
  .title
    .row
      .medium-12.small-12.columns
        %h2
          Crafting exceptional software for progressive companies.
          <a href = "/clients/3m"><img src = "/goinvo-temp/images/3m_main.jpg" class = "feature-image"></a> <a href = "/clients/numera"><img src = "/goinvo-temp/images/numera-iphone.jpg" class = "feature-image second"></a>
      
