- content_for(:page_head) do
  = stylesheet_link_tag "sections/simple-case-studies"
- client = client_for_name("McAfee")
    
.row
  .medium-3.small-12.column
    %h1.client{style: "color: #{client.primary_color}"} McAfee
    
    %h6.subheader
      RESULTS
    
    %p The Total Protection UX, traditionally the product’s Achilles heel, was hailed by the media and led to increased market share - 24% in the first year and double-digits every year since.
    
    %p.quote
      Involution was much more than our redesign partner. They helped us re-think our product development process. They were as strong technically as they were with the design.
    %p.caption
      Brian Trombley, McAfee Director, Consumer Product Management
    
    %h6.subheader DETAILS
    %ul
      %li Worked with McAfee’s internal research organization to carve out key insights
      %li System design and style guide used by product, marketing and service organizations
      %li Super-rapid prototyping with near-daily pushes from early in the project
      %li Working with their sales team to also redesign the McAfee ecommerce system
      %li Participation in executive meetings to galvanize support
      %li Deployed a 15 person team for six intense months
    
    %h6.subheader PROJECT TYPE
    
    %p UI Design, Engineering
    
    .similar-project-container
      %h6.subheader Have a similar project?
      = link_to 'Contact Us', asset_url('contact'), class: 'button radius'
    
  .medium-9.small-12.column
    %img{alt: "McAfee user experience design and engineering", src: "../images/clients/mcafee/mcafee-total-protection-desktop-app-design.jpg"}
    %p.caption The redesign provided more useful and better-presented information, a sleek interaction model, and a focus on optimal usability and lack of intrusiveness.

    %div
      %img{alt: "Software design for McAfee", src: "../images/clients/mcafee/mcafee-old-total-protection-ui.jpg"}/
    %p.caption McAfee’s old design had multiple major issues: muddy mental model, lack of meaningful information display, poor interaction model and drab aesthetic were some of the most notable.

    %div
      %img{alt: "Product blueprint exercise to identify all functionality", src: "../images/clients/mcafee/mcafee-ui-engineering.jpg"}/
    %p.caption Engineering and consulting were as integral to our successful collaboration with McAfee as the design.

    %div
      %img{alt: "Exploration of many concepts for various parts of the software", src: "../images/clients/mcafee/mcafee-total-protection-ui-mockups.jpg"}/
    %p.caption Unlike most digital agencies we go straight from sketches to pixel-perfect mock-ups. We rip out fully realized designs, quickly providing customers with higher fidelity and more true-to-life visions of the UI from very early on.

    %div
      %img{alt: "Interactive prototype for user testing", src: "../images/clients/mcafee/mcafee-ui-engineering.jpg"}/
    %p.caption The only way to test the efficacy of your app’s design is with an actual interactive prototype that allows the user to truly experience how the product will behave.

    %div
      %img{alt: "Front-end UX prototype", src: "../images/clients/mcafee/mcafee-total-protection-new-prototype.jpg"}/
    %p.caption The final prototype we provided McAfee included envelope-pushing Javascript and saved their back-end engineering team hundreds if not thousands of hours.