= stylesheet_link_tag 'sections/studio'
- content_for(:worlds_end) do
  = javascript_include_tag 'studio'
  
%article#the-studio
  %header.hero
    .title
      %h2 Studio
      %h3 The social media feed for the Involution Studios team!
  .content
  .bottom Scroll to the bottom to load more!
   