= stylesheet_link_tag 'sections/studio'
- content_for(:worlds_end) do
  = javascript_include_tag 'studio'
  
%article#the-studio
  %header.hero
  .content
   
      
:javascript
  $(window).load(function(){

    $('.social-card').click(function(){
      window.location = $(this).data('link');
    });
    
    $('#the-studio .content').masonry({
      columnWidth: '.social-card.photo',
      itemSelector: '.social-card',
      gutter: 0,
      isFitWidth: true, 
      animate: true
    });


  });
