- content_for(:title) do
	= "An Oral History of Involution Studios"
- content_for(:page_head) do
	= stylesheet_link_tag "features/an-oral-history"
	= stylesheet_link_tag "feature_links"
	= javascript_include_tag "//platform.twitter.com/widgets.js"
	%meta{:name => "description", :content => ""}/
	%meta{:name => "keywords", :content => ""}/

%article#feature-article.oral-history
	.overall-header 
		%div An Oral History of Involution Studios
	%header#article-header#section1-origins
		.header-wrapper
			.main-header-content
				.header-title Origins
				.header-content Ipiendi andipie nduciam, odic testem imus. Nat estiamet qui aligendae nimagnam etur, quae venimillo volorum que endipsa. Duciatur. Oluptatur acerspit latur, omniet il il minctae quiatur mollestibus et fugit aut facesec umquae nitinum debis amusam lat officit alibus voluptae il essim as nonsecum.
			.right-header-content
				.two-images
					%img{:src => '../../images/features/an-oral-history/andrei-sqr.jpg'}
					%img{:src => '../../images/features/an-oral-history/dirk-sqr.jpg'}
				.content Andrei Herasimchuk and Dirk Knemeyer incorporated Involution Studios in Palo Alto, California, on June 29, 2004.
	%header.nav-wrapper
		%nav.main-nav
			.title An Oral History of Involution Studios
			%a.one{:href => "#section1-origins"} 1. Origins
			%a.two{:href => "#section2-silicon"} 2. Rise, Silicon Valley
			%a.three{:href => "#section3-interesting-times"} 3. Interesting Times
			%a.four{:href => "#section4-boston"} 4. Rise, Boston
			%a.five{:href => "#section5-nowlater"} 5. Now and Later
	%section#section1-origins-content.interview-content
		.row
			.interview-wrapper
				.interview-content
					.speaker-avatar.dirk
					.speaker-speaks 
						%span.full-name Dirk Knemeyer: 
						%span.speaker-text 
							So it all started with a 
							%a{:src => "http://boxesandarrows.com/information-design-the-understanding-discipline/"} Boxes and Arrows article.
				.interview-content
					.speaker-avatar.andrei
					.speaker-speaks 
						%span.full-name Andrei Herasimchuk: 
						%span.speaker-text I haven’t read that article in a while, and re-reading my comments on it, I’m surprised at how much I still agree with my younger self! In fact, many of my concerns about titles, job descriptions, and confusion over design and the tech sector have come to fruition. Having said that, I know I come off as overly direct in the way I speak and write, but I really was attempting to be as diplomatic as I knew how in my comments to that article.
			.sidebar
				.sidebar-box.solid.boxes-and-arrows
					%img{:src => "../../images/features/an-oral-history/boxes-and-arrows.png"}
					%p The venerable Boxes & Arrows was one of the first online UX publications, a favourite of the early intelligentsia.
		.row
			.interview-wrapper
				.interview-content
					.speaker-avatar.dirk
					.speaker-speaks 
						%span.speaker-text DK: Yeah, there is still a lot of truth there. It’s funny, because I don’t generally like rough feedbacks and critique but I knew that I had the opportunity to learn a lot from engaging you so I did. At one point you told me that usually people didn’t engage because of your style but the learning was worth it for me.
				.interview-content
					.speaker-avatar.andrei
					.speaker-speaks 
						%span.speaker-text AMH: And the fact that you responded in a diplomatic manner earned you a lot of points with me. I was back working at Adobe in 2003 on Project Shadowland (which would later become <a href = "http://www.adobe.com/products/photoshop-lightroom.html?sdid=KKTJE&skwcid=AL!3085!3!50837904378!e!!g!!adobe%20lightroom&ef_id=ZqVPA4jz3GwAAAZ7:20140723194115:s">Adobe Photoshop Lightroom</a>), and I was in an environment with Adobe’s engineers where everyone was always direct and blunt with each other. It was a manner of working that I tend to prefer, as the work you get done is of a high caliber, but I often forget it’s not for everyone.
				.interview-content
					.speaker-avatar.dirk
					.speaker-speaks 
						%span.speaker-text DK: True, but it is certainly common in the engineering community. Not so much among designers though! :-) It is a little-known fact that when you first came up with the <a href = "http://www.designbyfire.com/">“Design by Fire”</a> concept for a brand it was loosely around you, me, Ben Listwon, and Bob Baxley doing something undefined around it. I remember we had a call where the three of you were at your house in Sunnyvale and I was at my house in Toledo, Ohio and we were talking about that. Nothing really happened with it together but you took off with Design by Fire and it was really important in the global design conversation for a while.
				.interview-content
					.speaker-avatar.andrei
					.speaker-speaks 
						%span.speaker-text AMH: I was in the midst of doing a lot of product research at Adobe, not the least of which was trying to understand better how blogging tools, databases, and web technologies worked to see what if anything could work in Shadowland. As I usual, I learn by doing and I had been noodling with a Design by Fire logo and concepts for content focused on digital design trends. Initially, I was thinking we could write and publish a design book, and have a digital component with it. Ultimately, I just went ahead and built a blog with <a href = "http://www.movabletype.com/">MovableType’s</a> tools and hit the publish button near the end of 2003 without much thought into it, other than I have to learn how these web tools worked. That and I had a bunch of things I wanted to say to the world. In the first few months of 2004, I went on a tear writing and publishing all sorts of material, getting as much attention as I could from the early design bloggers who had already paved the road on the internet. I used my Adobe background as a quick means to gain credibility within the online design community, along with a few contests, giving away signed Photoshop and Illustrator boxes. A few key articles came out of that period, <a href = "http://www.designbyfire.com/?p=5">Gurus v. Bloggers</a>, <a href = "http://www.designbyfire.com/?p=6">I would RTFM if there was a FM to FR</a>, and the biggie, <a href = "http://www.designbyfire.com/?p=4">Design Eye for Usability Guy</a>.
			.sidebar
				.sidebar-box.solid.boxes-and-arrows
					%img{:src => "../../images/features/an-oral-history/adobe_logo.png"}
					%p Andrei dropped out of Amherst to join Specular International, an early digital graphics company, as a founding member in 1991. In 1995 he left to join Adobe as their first-ever interface designer. In this capacity Andrei envisioned the creative strategy that resulted in the Adobe Creative Suite and built the Adobe design team from the ground-up. After leaving Adobe for a few years to work on start-ups Andrei returned to serve as the project lead for Lightroom in 2003.				
		.row
			.interview-wrapper
				.interview-content
					.speaker-avatar.dirk
					.speaker-speaks 
						%span.speaker-text DK: Design Eye for the Usability Guy was definitely the high-water mark. Unlike you I didn’t have a center of gravity for my writings. A bunch of stuff was hitting thru my employer’s website but I was also making the rounds on the popular online publications like Boxes and Arrows, <a href = "http://www.uxmatters.com/">UXmatters</a>,and <a href = "http://www.digital-web.com/">Digital Web</a>. I was starting to speak quite a bit at conferences, too, and participate on different boards. For me it was sort of learning and exploring all at once, and my ability to communicate well in the process really brought up my profile, too.
				.interview-content
					.speaker-avatar.andrei
					.speaker-speaks 
						%span.speaker-text AMH: I was doing something similar, in that I was learning publicly what worked and what didn’t. How to write, how to be snarky, how to build MT templates, how PHP, Apache, and other web tech worked. I was learning completely out in the open, which is partly the ethos of Design by Fire. The brand was a play on Trial by Fire, and evokes a passionate fire within sensibility, both things I was deeply immersed in at that time.
				.interview-content
					.speaker-avatar.dirk
					.speaker-speaks 
						%span.speaker-text DK: While the blog finally quieted the influence certainly continued. A few years later they <a href = "http://www.designbyfire.nl/">even started a conference around you/the idea</a> which I think is about as complementary a thing as can be done for one’s ideas. At some point when we were just talking about design theory I shared with you my desire to create a design studio. I actually don’t even remember doing it but I was sharing that with a lot of people at the time. Anyway, sometime later my employer was reneging on a variety of agreements around my compensation and an equity position in the firm. So I was sort of ready to do something else. Then out-of-the-blue you asked me if I wanted to do the design studio I talked about and do it together with you. So we did.
			.sidebar
				.sidebar-box.dotted.usability-guy
					%img{:src => "../../images/features/an-oral-history/usability-guy.jpg"}
					%p “Usability Guy” Jakob Nielsen was the premier thought leader in UX-related disciplinesprior to the emergence of Jeffrey Zeldman Dirk predicted the decline of Nielsen and his left-brained approach to the Internet with the controversial The End of Usability Culture.
		.row
			.interview-wrapper
				.interview-content
					.speaker-avatar.andrei
					.speaker-speaks 
						%span.speaker-text AMH: Yes. Something that was going on for me at the time was that I was having trouble being back at Adobe but not being a part of the design team I helped to create. I felt too much like an outsider at times, and was somewhat unhappy with my role there. So after helping the Shadowland project for two years to the best of my ability, and not able to find a role within the company that could satisfy me, I asked you about starting a design company since you had brought it up multiple times in email exchanges and phone conversations.
				.interview-content
					.speaker-avatar.dirk
					.speaker-speaks 
						%span.speaker-text DK: And don’t forget that Bob Baxley was involved with us on it for about five minutes! I remember the first time I flew out to meet with you and Bob. I think it was May of 2004. We already had decided to move forward - never having met! - and it was now time to figure out the identity and start really planning. We previously talked about the name Syntex Design as a name for the company which I think you liked more than I did. But along with Bob and your wife Donna Driscoll, it was on this trip that we came up with Involution Studios. That’s one of the three things I will never forget from that trip, sitting in the studio in your backyard and hammering through a naming exercise. The other two things are y’all driving me up and down the peninsula introducing me to Silicon Valley, and when my plane was flying into SFO. I had never been to California, and I remember looking out the window as the plane was coming in and thinking,“Hey, it’s the Pacific Ocean!” No, I learned later that it was the San Francisco Bay. But it was thrilling to be flying in, knowing we were going to start something that I was so excited and optimistic about.
				.interview-content
					.speaker-avatar.andrei
					.speaker-speaks 
						%span.speaker-text AMH: Yeah, Bob decided he wasn’t ready for a startup gig, and lucky for him, he joined Apple right before the stock took off. So he did well enough for himself.
			.sidebar
				.sidebar-box.dotted.bob-baxely
					%img{:src => "../../images/features/an-oral-history/bob_baxley.jpg"}
					%p Bob Baxley authored one of the first books on interaction design,“Making the Web Work”. After noodling around at Invo for a few months he moved on to Director-level design roles at Yahoo! and then Apple, where he oversaw design for Apple.com. Today Bob is Head of Product Design & Research at Pinterest.
		.row
			.interview-wrapper
				.interview-content
					.speaker-avatar.dirk
					.speaker-speaks 
						%span.speaker-text DK: Of course, I spent the first year in Boston instead of Silicon Valley. It didn’t make a whole lot of sense from a business perspective, but my girlfriend was there and life is all about priorities, right? But actually, at the time I saw it as an asset because we could put on our website Silicon Valley and Boston. This was before working remotely was common, so there was some degree of gravitas to being in multiple locations, although in a perfect world I would have just been in Silicon Valley from the beginning.
				.interview-content
					.speaker-avatar.andrei
					.speaker-speaks 
						%span.speaker-text AMH: That first year was difficult for me. I had never worked solo ever in my career up to that point. Being on my own and trying to figure it all out while you were remote was something I had a rough time doing.
				.interview-content
					.speaker-avatar.dirk
					.speaker-speaks 
						%span.speaker-text DK: Yeah, the first six months were especially tough sledding. We had a couple of really small - sub-$10,000 - projects and then the <a href = "http://www.gsb.stanford.edu/">Stanford</a> project that was from one of Bob’s connections. But even that was only a $15K’er. Thinking back it is remarkable we were able to get work and get momentum. We both had a lot of attention in the digital design community, and you had a lot of relationships in Silicon Valley. But neither of us were really selling.
				.interview-content
					.speaker-avatar.andrei
					.speaker-speaks 
						%span.speaker-text AMH: Selling was something I still hadn’t gotten the hang of at all. I knew how to sell software, and I had done that with my first company, Specular, but I had never dealt with selling services or myself in a services capacity.It was all brand new to me, and the more I learned about it, the more I was glad that you had a real background in this area. I learned the hard way those early months of Involution that I’m a horrible salesman.
				.interview-content
					.speaker-avatar.dirk
					.speaker-speaks 
						%span.speaker-text DK: Nah, just a creator at heart! So the big breakthrough for us was the Memory Matrix project. That came in through your friend <a href = "http://en.wikipedia.org/wiki/Lou_Montulli">Lou Montulli</a>, one of the original <a href = "http://en.wikipedia.org/wiki/Netscape">Netscape</a> engineers. Lou’s company was being funded by <a href = "http://en.wikipedia.org/wiki/James_H._Clark">Jim Clark</a>, so Lou had real money backing him.
				.interview-content
					.speaker-avatar.andrei
					.speaker-speaks 
						%span.speaker-text AMH: I remember meeting with Lou, Alec, Jeff, Jason and Garrett at Alec’s house in Palo Alto. Alec was also one of the first Netscape engineers. Initially, Lou and Alec wanted me to join them, but I was committed to Involution. As much as I liked all of those guys, I really wanted to build a company I had a stake in as a founder.
			.sidebar
				.sidebar-box.small-sidebar.extra-top-margin
					.title SIDEBAR
					%p Need Syntex Design logo from Andrei, with caption: Andrei’s logo design for Syntex was later donated to the W3C.
				.sidebar-box.small-sidebar
					.title SIDEBAR
					%p If possible scan the front/back of one of Dirk or Andrei’s first business cards, with the caption: Like any good design firm our first business cards were designed to impress.
		.row
			.interview-wrapper
				.interview-content
					.speaker-avatar.dirk
					.speaker-speaks 
						%span.speaker-text DK: Yeah we were both ready to run our own thing at that point. Memory Matrix really did so much for us. Along with being a big chunk of cash it connected us to new people who would become future clients, and it gave us the opportunity to start bringing really good other people into the fold. That’s the first time we worked with <a href = "https://twitter.com/dbedingfield">Dave Bedingfield</a>, and he would go on to be in my mind our most important resource in the history of the Silicon Valley studio.
				.interview-content
					.speaker-avatar.andrei
					.speaker-speaks 
						%span.speaker-text AMH: Bedingfield was one of our secret weapons. I had reached out to <a href = "http://www.shauninman.com/pendium/">Shaun Inman</a> to see if he could help us with building a Flash prototype of the Memory Matrix client so we could do some early testing and research. Shaun was busy, but he gave me the contact info for Bedingfield, who was living in Portland at the time. Turns out that Bedingfield taught new media at SCAD (<a href = "https://www.scad.edu/">Savannah College of Art and Design</a>) and was the guy responsible for teaching Flash to Shaun.
				.interview-content
					.speaker-avatar.dirk
					.speaker-speaks 
						%span.speaker-text DK: We also brought <a href = "https://www.linkedin.com/in/firewheel">Josh Williams</a> in on that project. He was really talented back then but, wow, has he taken off since! And I think <a href = "http://jeffcroft.com/">Jeff Croft</a>, as a little-known designer in Kansas City, was working on <a href = "http://www.shutterfly.com/">Shutterfly</a> for us too. Or, maybe he was just creating the Invo website, I don’t remember. But we had quite the little team of alpha talent designing their software.
			.sidebar
				.sidebar-box.dotted.dave-bedingfield
					%img{:src => "../../images/features/an-oral-history/dave_bedingfield.jpg"}
					%p Notoriously avoiding photographs, Dave Bedingfield is one of the best digital designers alive. He was part of Invo Silicon Valley from its earliest days.
		.row
			.interview-wrapper
				.interview-content
					.speaker-avatar.andrei
					.speaker-speaks 
						%span.speaker-text AMH: We sub-contracted Josh’s design studio, Firewheel Design, to do all the icons we needed for the Memory Matrix product, which by that time had been acquired by Shutterfly. Jeff helped us as well, on a few smaller projects, but not the Memory Matrix project. This was right around the time Josh was noodling with a few mobile games that would eventually lead him towards making <a href = "http://en.wikipedia.org/wiki/Gowalla">Gowalla</a>. Jeff would later join <a href = "http://blueflavor.com/">Blue Flavor</a> and head to Seattle, to work with the likes of <a href = "https://twitter.com/twatson">Tom Watson</a> and <a href = "https://twitter.com/dkr">Keith Robinson</a>.
				.interview-content
					.speaker-avatar.dirk
					.speaker-speaks 
						%span.speaker-text DK: I think a lot of us had interesting adventures in our career duringthis acceleration of the web. The other big project around that time was PROTRADE. That came in via a friend of mine, connecting me to their smart product manager, <a href = "https://www.linkedin.com/profile/view?id=3854&authType=NAME_SEARCH&authToken=OhSD&locale=en_US&srchid=7776351406149061543&srchindex=1&srchtotal=1&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A7776351406149061543%2CVSRPtargetId%3A3854%2CVSRPcmpt%3Aprimary">Josh Crandall</a>. It was right in my wheelhouse as a fantasy sports game conceived of as a stock market. I was still in Boston at the time but they were in San Mateo so I started doing the bi-coastal thing. While my plan was to move out to the Valley after Fran finished graduate school PROTRADE started that process a little bit early.
				.interview-content
					.speaker-avatar.andrei
					.speaker-speaks 
						%span.speaker-text AMH: I still think you were crazy to fly back and forth as much as you did. But then again, I’m deathly afraid of flying.
				.interview-content
					.speaker-avatar.dirk
					.speaker-speaks 
						%span.speaker-text DK: You’ve gotten a lot better with it, going to Europe seemingly every year now! I had a great time working on PROTRADE. I got along famously with the two guys running it, <a href = "https://www.linkedin.com/pub/mike-kerns/0/19/632">Mike Kerns</a> and <a href = "http://en.wikipedia.org/wiki/Jeff_Ma">Jeff Ma</a>. My best day there was one where I raised some issues with the core game philosophy that had nothing to do with the software and UI. Kerns and I spent half the day in the conference room working through stuff. Ma was in there for part of it as well but what I remember best is that, at the end, Kerns said “This is the best day we’ve had at PROTRADE in a really long time.” And it was wonderful to hear because it’s why I was a service provider in the first place: to dig into really hard and knotty problems and kick their ass and make a difference.
				.interview-content
					.speaker-avatar.andrei
					.speaker-speaks 
						%span.speaker-text AMH: I wish I had known who Jeff Ma was at that time. We could have parlayed our earnings by a few multiples in a few trips to Vegas with him.
				.interview-content
					.speaker-avatar.dirk
					.speaker-speaks 
						%span.speaker-text DK: Ha ha, no doubt! Toward the end of our time at PROTRADE they hired <a href= "http://svpg.com/team/">Marty Cagan</a> to be the new product tsar. Chief Product Officer or something similar. So, after that, my work fell under Marty. Now as you know my strengths were more down the creative director path than as a practicing designer. Before Marty joined there was a UI engineer I worked with who would basically translate all of my hand-waving and whiteboard drawings into a product. Well, Marty wanted to bring his own people in to do the work anyway so just tried to get me to kerchunk as much stuff as possible while our contract ran out. I still remember sitting in my office there trying to wrangle pixels, on the phone with you to get help. At one point I thought,“I run around saying Involution Studios is the best software design studio in the world yet here I am struggling to do remedial pixel pushing.” In retrospect it is funny but at the time it was a little horrifying. It did help me better find my place in the world.
				.interview-content
					.speaker-avatar.andrei
					.speaker-speaks 
						%span.speaker-text AMH: I remember trying to help a little on that project, but I was so deeply immersed with Shutterfly that I had a hard time spreading my focus. Something I’m sure you’ll agree with is that I’m horrible at multitasking. I can only focus or work on one thing at a time. I felt bad that I was ineffective at helping out more with PROTRADE.
			.sidebar
				.sidebar-box.dotted.williams-croft
					%img{:src => "../../images/features/an-oral-history/williams-and-croft.jpg"}
					%p Before being ready to hire full-time staff Involution worked with top guns like Josh Williams and Jeff Croft. Williams was the founder of Gowalla; Croft wrote Pro CSS Techniques.
				.sidebar-box.solid.extra-top-margin.protrade
					%img{:src => "../../images/features/an-oral-history/protrade.jpg"}
					%img{:src => "../../images/features/an-oral-history/citizen_sports.jpg"}
					%img{:src => "../../images/features/an-oral-history/yahoo_sports.jpg"}
					%p PROTRADE was re-branded to Citizen Sports, then purchased by Yahoo! Sports for more than $40M.
				.sidebar-box.dotted.jeff-ma.extra-top-margin
					%img{:src => "../../images/features/an-oral-history/jeff-ma.jpg"}
					%p Jeff Ma was one of the leaders of the infamous MIT blackjack team and the real person behind protagonist “Kevin Lewis” in the best-selling book, <a href = "http://www.amazon.com/Bringing-Down-House-Students-Millions/dp/B001AQY05Y">Bringing Down the House</a>.
		.row
			.interview-wrapper
				.interview-content
					.speaker-avatar.dirk
					.speaker-speaks 
						%span.speaker-text DK: It was my responsibility and it did alright, so no need to feel bad. One of our other early clients was <a href = "http://www.mitre.org/">MITRE</a>. Little did we know that particular client would end up keeping Invo going even after we cast a fond farewell to Silicon Valley.
				.interview-content
					.speaker-avatar.andrei
					.speaker-speaks 
						%span.speaker-text AMH: Juhan! First time I met Juhan Sonin, I thought he was crazy, as in literally crazy. Then the more I talked to him about design and process, the more I realized he actually was crazy, but in one of the best ways possible. His energy and passion are infectious. And he has no filter, so whatever comes to his mind will eventually make its way to his mouth. When it does, watch out! You’ll learn something new every single time you chat with him.
				.interview-content
					.speaker-avatar.juhan
					.speaker-speaks 
						%span.full-name Juhan Sonin: 
						%span.speaker-text When the padded cell fits...
				.interview-content
					.speaker-avatar.dirk
					.speaker-speaks 
						%span.speaker-text DK: MITRE was a great example of our being different helping us. Invo has always been iconoclastic.That’s a big part of your personality, Andrei,as well as mine. Well, Juhan read your posts on <a href = "https://web.archive.org/web/20051029021414/http://www.ixda.org/en/">the old interaction design discussion list</a> and - as a kindred spirit - thought you were the only one on there who “got it.” So thanks to being ourselves we got the MITRE work, and eventually Juhan to boot!
				.interview-content
					.speaker-avatar.juhan
					.speaker-speaks 
						%span.speaker-text JS: I had an immediate intellectual and design connection with Andrei based on his torrid posts on the <a href = "http://www.ixda.org/">IxDA list</a>. He vigorously advocated for a no- nonsense and <a href = "http://en.wikipedia.org/wiki/Systems_engineering">system engineering</a> approach to product design (at least that was my interpretation) which dovetailed into my growing up in hard science- based organizations and learn-and-design-by-making-real-things mantra. Over time, I also desired a physical connection, but my assless chaps never turned Andrei’s eyes off of Donna.
				.interview-content
					.speaker-avatar.donna
					.speaker-speaks 
						%span.full-name Donna Driscoll: 
						%span.speaker-text And that last comment is why we initially thought you were literally crazy Captain Sonin. But when you flew out and we met for the first time I knew you and Andrei would become kindred spirits. You shared the same design philosophy.
				.interview-content
					.speaker-avatar.andrei
					.speaker-speaks 
						%span.speaker-text AMH: Indeed, we did and we still do to this day.
				.interview-content
					.speaker-avatar.dirk
					.speaker-speaks 
						%span.speaker-text DK: Even though my intention was always to come out to Silicon Valley it was never <em>a fait accompli</em>. My girlfriend was very career-minded and, while she did focus on jobs in the valley she was applying in other geos as well. I may have ultimately moved without her if it came to that, but she got a job at Yahoo and out to California we headed. For me at least it immediately started to feel more like a real company instead of a couple of freelancers at that point.
				.interview-content
					.speaker-avatar.andrei
					.speaker-speaks 
						%span.speaker-text AMH: Having Dirk move out to Silicon Valley was the point at which the company started to take off. Working remotely, while great for some teams, is really a barrier when you’re building a company. With that barrier gone, we were able to finally focusing full time on building the studio.
				.interview-content
					.speaker-avatar.dirk
					.speaker-speaks 
						%span.speaker-text DK: Of course the bigger thing for us was bringing Ben Listwon on board. You were keen on that from the very beginning and we were finally starting to get enough work, and the kind of work, that allowed for that to happen. I just couldn’t wait to meet him in the flesh, because you always said he was perhaps the smartest guy in the valley which is really saying something.
				.interview-content
					.speaker-avatar.ben
					.speaker-speaks 
						%span.full-name Ben Listwon: 
						%span.speaker-text Ugh, jeepers, I don’t think that’s right. Honestly, I’ve been blessed to work with people that make me look smart, and I’ve tried, even after Invo, to hire or work with only the folks that will outshine my abilities.
				.interview-content
					.speaker-avatar
					.speaker-speaks 
						%span.speaker-text I do remember our first meeting though, at Coffee & More (was it always called that?) in Sunnyvale. I couldn’t tell if I was interviewing, being interviewed or what, but I knew you were both serious about the business, and that was all that mattered. The passion and drive was clear as day, and that’s what makes an organization as durable as Invo has been.
				.interview-content
					.speaker-avatar.donna
					.speaker-speaks 
						%span.speaker-text DD: Ben’s being too modest. He’s often the smartest guy in the room, and the kindest, treating everyone he meets no matter who they are with equal respect. Ben had been my best friend since our days at PayPal and when I learned that he was joining Invo, I knew between the 3 of you this was going to become something amazing.
				.interview-content
					.speaker-avatar.dirk
					.speaker-speaks 
						%span.speaker-text DK: Ben what did you start working on with us, Agiliance?
				.interview-content
					.speaker-avatar.ben
					.speaker-speaks 
						%span.speaker-text BL: Yeah, that’s right. Praveen had built a really great engineering team, but this was a big challenge for me. The product they had was built on a Java stack, and was utilizing a couple of libraries I’d never heard of. Andrei had already hammered out some great comps, so I had to get up to speed on a lot of material in a very short amount of time. Lucky for me, their office was about a mile away from my de facto coffee shop (read office) in Mountain View, so I was never short on caffeinated motivation.
				.interview-content
					.speaker-avatar.andrei
					.speaker-speaks 
						%span.speaker-text AMH: That project was probably the first real project where it felt like we were finally operating officially like a business. Things at that point started looking up from my point of view. Like it was actually going to work.
			.sidebar
				.sidebar-box.dotted.juhan-sonin
					%img{:src => "../../images/features/an-oral-history/juhan-sonin.jpg"}
					%p Juhan Sonin became part of the Invo orbit as a client in 2005, later to open the Boston studio with Dirk in 2009.
				.sidebar-box.dotted.donna-driscol.extra-top-margin
					%img{:src => "../../images/features/an-oral-history/donna-driscoll.jpg"}
					%p Donna Driscoll was one of the first hires at Involution. A “usability engineer” at Netscape and WebTV, Donna was an early PayPal’er and eventually their UI design manager. At Involution she spent time in senior design and research roles, as well as directing the Silicon Valley studio.
				.sidebar-box.dotted.ben-listwon.extra-top-margin
					%img{:src => "../../images/features/an-oral-history/ben-listwon.jpg"}
					%p A “boy wonder”, Ben left Cornell to start calendaring application Jump! which was purchased by Microsoft and became MS Calendar. He went on to be a lead UI designer or architect for Microsoft, PayPal, Idealab! and Yelp, the latter two of which he was among the founders.
				.sidebar-box.solid.dana-street-roasting.solid.extra-top-margin
					%img{:src => "../../images/features/an-oral-history/dana-street-roasting.jpg"}
					%p The favourite of various movers-and- shakers in Silicon Valley, Dana Street Roasting Company was Ben’s go-to hangout and meeting place.
	%header#article-header#section2-silicon
		.header-wrapper
			.main-header-content
				.header-title Rise, Silicon Valley
				.header-content Ipiendi andipie nduciam, odic testem imus. Nat estiamet qui aligendae nimagnam etur, quae venimillo volorum que endipsa. Duciatur. Oluptatur acerspit latur, omniet il il minctae quiatur mollestibus et fugit aut facesec umquae nitinum debis amusam lat officit alibus voluptae il essim as nonsecum.
	%section#section2-silicon-content.interview-content